{{#*inline "childMenu" ~}}
<li class="menu-item">
  {{#if path}}<a class="menu-level-{{level}}{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}" href="{{path}}">{{else}}<div class="menu-level-{{level}}">{{/if}}{{#switch level}}{{#case 2}}<span class="far fa-angle-right" aria-hidden="true"></span>{{/case}}{{#case 3}}<span class="far fa-angle-double-right" aria-hidden="true"></span>{{/case}}{{#case 4}}<span class="far fa-angle-double-right" aria-hidden="true"></span><span class="far fa-angle-right" aria-hidden="true" style="margin-left:-2px;"></span>{{/case}}{{/switch}} {{{label}}}{{#if path}}</a>{{else}}</div>{{/if}}
</li>
{{/inline ~}}

{{#each @root.context.metaData.sidebarMenus ~}}
  {{#each this ~}}
    {{#if children ~}}
      {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
        <ul class="menu menu-depth-2">
          {{#if this ~}}
          {{> childMenu this level=1}}
          {{/if ~}}
          {{#each this.children ~}}
          {{> childMenu this level=2}}
          {{/each ~}}
        </ul>
      {{else}}
        {{#each children ~}}
          {{#if children ~}}
            {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
              <ul class="menu menu-depth-3">
                {{#if ../this ~}}
                {{> childMenu ../this level=1}}
                {{/if ~}}
                {{#if this ~}}
                {{> childMenu this level=2}}
                {{/if ~}}
                {{#each this.children ~}}
                {{> childMenu this level=3}}
                {{/each ~}}
              </ul>
            {{else}}
              {{#each children ~}}
                {{#if children ~}}
                  {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
                    <ul class="menu menu-depth-4">
                      {{#if ../../this ~}}
                      {{> childMenu ../../this level=1}}
                      {{/if ~}}
                      {{#if ../this ~}}
                      {{> childMenu ../this level=2}}
                      {{/if ~}}
                      {{#if this ~}}
                      {{> childMenu this level=3}}
                      {{/if ~}}
                      {{#each this.children ~}}
                      {{> childMenu this level=4}}
                      {{/each ~}}
                    </ul>
                  {{else}}
                    {{#each children ~}}
                      {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
                      <ul class="menu menu-depth-4">
                        {{#if ../../../this ~}}
                        {{> childMenu ../../../this level=1}}
                        {{/if ~}}
                        {{#if ../../this ~}}
                        {{> childMenu ../../this level=2}}
                        {{/if ~}}
                        {{#if ../this ~}}
                        {{> childMenu ../this level=3}}
                        {{/if ~}}
                        {{#each ../this.children ~}}
                        {{> childMenu this level=4}}
                        {{/each ~}}
                      </ul>
                      {{/if ~}}
                    {{/each ~}}
                  {{/if ~}}
                {{else}}
                  {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
                    <ul class="menu menu-depth-3">
                      {{#if ../../this ~}}
                      {{> childMenu ../../this level=1}}
                      {{/if ~}}
                      {{#if ../this ~}}
                      {{> childMenu ../this level=2}}
                      {{/if ~}}
                      {{#each ../this.children ~}}
                      {{> childMenu this level=3}}
                      {{/each ~}}
                    </ul>
                  {{/if ~}}
                {{/if ~}}
              {{/each ~}}
            {{/if ~}}
          {{else}}
            {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
            <ul class="menu menu-depth-2">
              {{#if ../this ~}}
              {{> childMenu ../this level=1}}
              {{/if ~}}
              {{#each ../this.children ~}}
              {{> childMenu this level=2}}
              {{/each ~}}
            </ul>
            {{/if ~}}
          {{/if ~}}
        {{/each ~}}
      {{/if ~}}
    {{else}}
      {{#if (regexMatch @root.request.url.pathname route "gi") ~}}
      <ul class="menu menu-depth-1">
        {{> childMenu this level=1}}
      </ul>
      {{/if ~}}
    {{/if ~}}
  {{/each ~}}
{{/each ~}}