<div class="card card-no-padding {{name}}">
  <a href="{{link}}" class="no-underline">
    <div class="card-image-link">
      <div class="card-image-wrapper">
        <div class="card-image" style="{{#if ratio}}--aspect-ratio: {{replace ratio ':' '/'}};{{/if}}background-image: url('{{#if (contains image 'http')}}{{image}}{{else}}{{~>asset_url url=image~}}{{/if}}')">
          {{#if logo ~}}
          <img src="{{#if (contains logo 'http')}}{{logo}}{{else}}{{~>asset_url url=logo~}}{{/if}}" class="img-responsive logo" {{#if logo_style}}style="{{logo_style}}"{{/if}} />
          {{else}}
          {{!-- This is a fix for IE... --}}
          <img src="{{~>asset_url url='images/placeholder.png'~}}" class="img-responsive logo" style="padding: 0; width: 100%; position: relative;">
          {{/if ~}}
        </div>
      </div>
      <div class="card-header">
        <{{heading}} class="card-title">
          {{title}}
        </{{heading}}>
        {{#if subtitle ~}}
        <div class="card-subtitle">{{subtitle}}</div>
        {{/if ~}}
      </div>
      {{#if body ~}}
      <div class="card-body t-margin">
        <p>
          {{body}}
        </p>
      </div>
      {{/if ~}}
    </div>
  </a>
  {{#unless hide_read_more ~}}
  <div class="card-footer">
    <a href="{{link}}" class="no-underline r-margin-full">{{default read_more_text 'Read more'}}</a>
    {{#ifAll link_2 link_2_text ~}}
    <a href="{{link_2}}" class="no-underline">{{link_2_text}}</a>
    {{/ifAll ~}}
    {{#ifAll link_3 link_3_text ~}}
    <a href="{{link_3}}" class="no-underline">{{link_3_text}}</a>
    {{/ifAll ~}}
  </div>
  {{/unless ~}}
</div>
