{{#if sourcePage.quotation.text ~}}
<div class="leading-quotation h-padding-full v-padding-full t-margin-full">
  <blockquote class="wp-block-quote">
    {{{markdown sourcePage.quotation.text}}}
  </blockquote>
  {{#ifAny sourcePage.quotation.author sourcePage.quotation.author_title ~}}
  <p class="text-right">
    {{#if sourcePage.quotation.author}}
    {{#if sourcePage.quotation.author_url}}
    <a href="{{sourcePage.quotation.author_url}}">
      {{/if}}
      <strong>{{sourcePage.quotation.author}}</strong>
      {{~#if sourcePage.quotation.author_url~}}
    </a>
    {{~/if~}}
    {{~#if sourcePage.quotation.author_title}},{{/if~}}
    {{/if}}
    {{#if sourcePage.quotation.author_title}}
    {{sourcePage.quotation.author_title}}
    {{/if}}
  </p>
  {{/ifAny ~}}
  {{#if sourcePage.quotation.headshot ~}}
  <img src="{{sourcePage.quotation.headshot}}" alt="" style="max-width:100%; height:auto;">
  {{/if ~}}
</div>
{{/if ~}}