<div class="gist fs-fund fs-fund-{{Id}}">
  <div class="columns">
    <div class="column col-3 col-md-4">
      <a href="https://fundingscotland.com/organisation/{{funder_organisation.id}}/{{funder_organisation.name_slug}}" title="More funds with {{funder_organisation.name}}" class="thumbnail">
        <img src="https://logo.clearbit.com/{{funder_organisation.website}}" alt="{{funder_organisation.name}}" class="logo img-responsive" />
      </a>
    </div>
    <div class="column col-9 col-md-8">
      <h4>
        <a href="https://fundingscotland.com/fund/{{Id}}/{{title_slug}}?utm_source=scvo&utm_campaign=list&utm_medium=website">{{{title}}} - {{{funder_organisation.name}}}</a>
      </h4>
      <div class="post-info">
        <div class="post-info-item post-info-closing-date">
          <span class="far fa-calendar-exclamation" aria-hidden="true"></span>
          {{momentFormat (moment date_last_important_activity "x") "Do MMMM YYYY"}}
        </div>
      </div>
    </div>
  </div>
</div>