<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
  ███████╗ ██████╗██╗   ██╗ ██████╗  ██╗   ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
  ██╔════╝██╔════╝██║   ██║██╔═══██╗ ╚██╗  ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
  ███████╗██║     ██║   ██║██║   ██║  ╚██╗ ██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
  ╚════██║██║     ╚██╗ ██╔╝██║   ██║  ██╔╝ ██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝ ██╔╝  ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

-->

<link rel="apple-touch-icon" sizes="180x180" href="{{~>asset_url url='images/icons/apple-touch-icon.png'~}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{~>asset_url url='images/icons/favicon-32x32.png'~}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{~>asset_url url='images/icons/favicon-16x16.png'~}}">
<link rel="manifest" href="{{~>asset_url url='images/icons/site.webmanifest'~}}">
<link rel="mask-icon" href="{{~>asset_url url='images/icons/safari-pinned-tab.svg'~}}" color="#244B5A">
<link rel="shortcut icon" href="{{~>asset_url url='images/icons/favicon.ico'~}}">
<meta name="msapplication-TileColor" content="#244B5A">
<meta name="msapplication-config" content="{{~>asset_url url='images/icons/browserconfig.xml'~}}">
<meta name="theme-color" content="#244B5A">

<link rel="search" type="application/opensearchdescription+xml" title="SCVO" href="{{~>asset_url url='opensearch.xml'~}}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-3467930-2', { 'send_page_view': true, 'anonymize_ip': true });

{{#each route.primaryResponse.hits.hits ~}}
gtag('event', 'document_hit', {
  'event_category': '{{_type}}',
  'event_label': '{{_id}}'
});
{{/each ~}}

{{#ifAny request.params.query.debug (compare request.url.hostname "scvo.local") ~}}
console.log('#### DEBUG MODE ON ####');
console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Context:', {{{regexReplace (regexReplace (stringify context) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Menus:', {{{regexReplace (regexReplace (stringify context.metaData.layoutMenus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
{{/ifAny ~}}
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/leaflet/leaflet.css'~}}" />
<link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/fontawesome-pro/css/all.min.css'~}}" />
<link type="text/css" rel="stylesheet" href="{{~>asset_url url='main.css'}}" />
</head>
<body class="{{#if request.params.path}}{{replace (replace request.params.path '20-years' 'twenty-years') '_' ' '}}{{else}}home{{/if}}">
  <div class="hide-lg">
    {{> components_scvo_bar}}
  </div>
  <div class="page">
    {{!-- style="background-image:url('/rouleaux.svg?color=FEF9F9&style={{itemAt (split 'solid,stripes,dots' ',') (random 0 2)}}');" --}}
    <div class="bg-rouleaux">
      <div class="container">
        <header class="navbar header">
          <section class="navbar-section">
            <a href="/" class="navbar-brand" title="Scottish Council for Voluntary Organisations">
              <img src="{{~>asset_url url='images/logos/scvo-primary.svg'~}}" alt="Scottish Council for Voluntary Organisations" />
            </a>
          </section>
          <section class="navbar-section">
            <div class="form-horizontal hide-lg">
              {{> site_search}}
              <a href="/services/membership" class="btn btn-primary btn-lg btn-cta float-right t-margin">Join our community</a>
            </div>
            <div class="mobile-header-buttons show-lg">
              <a href="#" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
                data-TasksTrigger='{
                  click: {
                    tasks: [
                      {
                        type: "elementManipulator",
                        config: {
                          ".mobile-search": {
                            "removeClass": "mobile-search_closed mobile-search_closing",
                            "addClass": "mobile-search_open"
                          }
                        }
                      }
                    ]
                  }
                }'>
                <span class="far fa-search fa-fw fa-2x" aria-hidden="true"></span>
              </a>
              <a href="#" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
                data-TasksTrigger='{
                  click: {
                    tasks: [
                      {
                        type: "elementManipulator",
                        config: {
                          ".mobile-menu": {
                            "removeClass": "mobile-menu_closed mobile-menu_closing",
                            "addClass": "mobile-menu_open"
                          }
                        }
                      }
                    ]
                  }
                }'>
                <span class="far fa-bars fa-fw fa-2x" aria-hidden="true"></span>
              </a>
            </div>
          </section>
        </header>
        <header class="navbar toolbar hide-lg">
          <section class="navbar-section site-tab-bar">
            {{#each context.metaData.layoutMenus.main ~}}
            <a class="btn btn-link{{#if (regexMatch ../request.url.pathname route 'gi')}} active{{/if}}" href="{{stripTrailingSlash path}}">{{{label}}}</a>
            {{/each ~}}
          </section>
          <section class="navbar-center"></section>
          <section class="navbar-section">
          {{#if @root.data.auth ~}}
            <div class="dropdown my-account signed-in">
              <div class="btn-group">
                <a href="#" class="btn btn-link dropdown-toggle{{#each context.metaData.layoutMenus.user}}{{#if (regexMatch ../request.url.pathname route 'gi')}} active{{/if}}{{/each}}">
                  {{#if @root.data.auth.photoURL ~}}
                    <img src="{{@root.data.auth.photoURL}}" class="avatar avatar-sm" />
                  {{else}}
                    <span class="far fa-fw fa-user-circle"></span>
                  {{/if ~}}
                  {{default @root.data.auth.email @root.data.auth.displayName}}
                  <span class="far fa-fw fa-angle-down"></span>
                </a>
                <ul class="menu">
                  <li class="menu-item">
                    <a href="/" class="l-padding">
                      <span class="far fa-fw fa-home r-margin" aria-hidden="true"></span>
                      Home
                    </a>
                  </li>
                  {{#each context.metaData.layoutMenus.user-signed-in ~}}
                  <li class="menu-item{{#if (regexMatch ../request.url.pathname route 'gi')}} active{{/if}}">
                    <a href="{{stripTrailingSlash path}}" class="l-padding">
                      {{#if icon ~}}
                      <span class="far fa-fw fa-{{icon}} r-margin" aria-hidden="true"></span>
                      {{/if ~}}
                      {{{label}}}
                    </a>
                  </li>
                  {{/each ~}}
                  <li class="menu-item">
                    <a href="/sign-out" class="l-padding" data-component="TasksTrigger" data-taskstrigger="sign-out">
                      <span class="far fa-fw fa-sign-out-alt r-margin" aria-hidden="true"></span>
                      Sign out
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          {{else}}
          {{#each context.metaData.layoutMenus.user-not-signed-in ~}}
          <a href="{{stripTrailingSlash path}}" class="btn btn-link{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
            {{{label}}}
          </a>
          {{/each ~}}
          {{/if ~}}
          </section>
        </header>
      </div>

      <div class="mobile-search mobile-search_closed">
        <aside class="mobile-contents sidebar bg-primary">
          <header class="navbar header">
            <section class="navbar-section">
              <a href="/" class="navbar-brand" title="Scottish Council for Voluntary Organisations">
                <img src="{{~>asset_url url='images/logos/scvo-white.svg'~}}" alt="Scottish Council for Voluntary Organisations" />
              </a>
            </section>
            <section class="navbar-section">
              <div class="mobile-header-buttons">
                <a href="#" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
                data-TasksTrigger='{
                  click: {
                    tasks: [
                      {
                        type: "elementManipulator",
                        config: {
                          ".mobile-search": {
                            removeClass: "mobile-search_open",
                            addClass: "mobile-search_closing"
                          }
                        }
                      },
                      {
                        type: "delay",
                        config: {
                          "200": [
                            {
                              type: "elementManipulator",
                              config: {
                                ".mobile-search": {
                                  addClass: "mobile-search_closed",
                                  removeClass: "mobile-search_closing"
                                }
                              }
                            }
                          ]
                        }
                      }
                    ]
                  }
                }'>
                  <span class="far fa-times fa-fw fa-2x text-white" aria-hidden="true"></span>
                </a>
                <a href="#" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
                  data-TasksTrigger='{
                    click: {
                      tasks: [
                        {
                          type: "elementManipulator",
                          config: {
                            ".mobile-menu": {
                              "removeClass": "mobile-menu_closed mobile-menu_closing",
                              "addClass": "mobile-menu_open"
                            }
                          }
                        },
                        {
                          type: "elementManipulator",
                          config: {
                            ".mobile-search": {
                              "removeClass": "mobile-search_open",
                              "addClass": "mobile-search_closed"
                            }
                          }
                        }
                      ]
                    }
                  }'>
                  <span class="far fa-bars fa-fw fa-2x text-white" aria-hidden="true"></span>
                </a>
              </div>
            </section>
          </header>
          <div class="b-margin-full v-padding-full">
            {{> site_search}}
          </div>
        </aside>
      </div>

      <div class="mobile-menu mobile-menu_closed">
        <aside class="mobile-contents sidebar bg-primary">
          <header class="navbar header">
            <section class="navbar-section">
              <a href="/" class="navbar-brand" title="Scottish Council for Voluntary Organisations">
                <img src="{{~>asset_url url='images/logos/scvo-white.svg'~}}" alt="Scottish Council for Voluntary Organisations" />
              </a>
            </section>
            <section class="navbar-section">
              <div class="mobile-header-buttons">
                <a href="#" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
                  data-TasksTrigger='{
                    click: {
                      tasks: [
                        {
                          type: "elementManipulator",
                          config: {
                            ".mobile-search": {
                              "removeClass": "mobile-search_closed mobile-search_closing",
                              "addClass": "mobile-search_open"
                            }
                          }
                        },
                        {
                          type: "elementManipulator",
                          config: {
                            ".mobile-menu": {
                              "removeClass": "mobile-menu_open",
                              "addClass": "mobile-menu_closed"
                            }
                          }
                        }
                      ]
                    }
                  }'>
                <span class="far fa-search fa-fw fa-2x text-white" aria-hidden="true"></span>
              </a>
              <a href="#" class="btn btn-link" aria-label="Menu" data-component="TasksTrigger"
                data-TasksTrigger='{
                    click: {
                      tasks: [
                        {
                          type: "elementManipulator",
                          config: {
                            ".mobile-menu": {
                              removeClass: "mobile-menu_open",
                              addClass: "mobile-menu_closing"
                            }
                          }
                        },
                        {
                          type: "delay",
                          config: {
                            "200": [
                              {
                                type: "elementManipulator",
                                config: {
                                  ".mobile-menu": {
                                    addClass: "mobile-menu_closed",
                                    removeClass: "mobile-menu_closing"
                                  }
                                }
                              }
                            ]
                          }
                        }
                      ]
                    }
                  }'>
                  <span class="far fa-times fa-fw fa-2x text-white" aria-hidden="true"></span>
                </a>
              </div>
            </section>
          </header>
          <div class="b-margin-full v-padding-full">
            <ul class="menu b-padding-full">
              <li class="menu-item">
                <a href="/" class="{{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}}active{{/if}}">
                  <span class="far fa-fw fa-home" aria-hidden="true"></span>
                  Home
                </a>
              </li>
              {{#each @root.context.metaData.layoutMenus.main ~}}
              <li class="menu-item">
                <a href="{{stripTrailingSlash path}}" class="{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                  {{#if icon ~}}
                  <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                  {{/if ~}}
                  {{{label}}}
                </a>
              </li>
              {{/each ~}}
              {{#if @root.data.auth ~}}
              {{#each @root.context.metaData.layoutMenus.user-signed-in ~}}
              <li class="menu-item">
                <a href="{{stripTrailingSlash path}}" class="{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                  {{#if icon ~}}
                  <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                  {{/if ~}}
                  {{{label}}}
                </a>
              </li>
              {{/each ~}}
              {{else}}
              {{#each @root.context.metaData.layoutMenus.user-not-signed-in ~}}
              <li class="menu-item">
                <a href="{{stripTrailingSlash path}}" class="{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                  {{#if icon ~}}
                  <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                  {{/if ~}}
                  {{{label}}}
                </a>
              </li>
              {{/each ~}}
              {{/if ~}}
            </ul>
          </div>
        </aside>
      </div>

      {{#if layoutParts.fullWidthBody ~}}
      {{{layoutParts.header}}}
      {{{layoutParts.fullWidthBody}}}
      {{{layoutParts.footer}}}
      {{else}}
      {{#ifAny layoutParts.leftSidebar layoutParts.rightSidebar ~}}
      <div class="sidebar-present container">
        {{{layoutParts.header}}}
        <div class="columns">
          {{#ifAll layoutParts.leftSidebar layoutParts.rightSidebar ~}}
          <aside class="sidebar sidebar-left column col-3 col-xl-4 hide-lg">
            {{{layoutParts.leftSidebar}}}
          </aside>
          <main class="body column col-xs-auto">
            {{{layoutParts.body}}}
          </main>
          <aside class="sidebar sidebar-right column col-3 col-xl-4 hide-lg">
            {{{layoutParts.rightSidebar}}}
          </aside>
          {{else}}
          {{#if layoutParts.leftSidebar ~}}
          <aside class="sidebar sidebar-left column col-3 col-xl-4 hide-lg">
            {{{layoutParts.leftSidebar}}}
          </aside>
          <main class="body column col-xs-auto">
            {{{layoutParts.body}}}
          </main>
          {{else}}
          <main class="body column col-xs-auto">
            {{{layoutParts.body}}}
          </main>
          <aside class="sidebar sidebar-right column col-3 col-xl-4 hide-lg">
            {{{layoutParts.rightSidebar}}}
          </aside>
          {{/if ~}}
          {{/ifAll ~}}
        </div>
        {{{layoutParts.footer}}}
      </div>
      {{else}}
      <div class="sidebar-not-present container">
        {{{layoutParts.header}}}
        <main class="body">
          {{{layoutParts.body}}}
        </main>
        {{{layoutParts.footer}}}
      </div>
      {{/ifAny ~}}
      {{/if ~}}

      <footer>
        <div class="footer-main">
          <div class="container">
            <div class="columns">
              <div class="column col-12 col-ml-auto membership">
                <a href="/services/membership" class="btn btn-primary btn-lg btn-cta pull-right">Join our community</a>
              </div>
            </div>
            <div class="columns">
              <div class="column col-3 col-lg-6 col-md-12 contact">
                <h4>Contact</h4>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"><span class="fas fa-envelope"></span></span>
                    <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>
                  </li>
                  <li>
                    <span class="fa-li"><span class="fas fa-phone fa-flip-horizontal"></span></span>
                    <a href="tel:+441314748000">0131 474 8000</a>
                  </li>
                </ul>
                <p>
                  Information service helpline
                </p>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li"><span class="fas fa-phone fa-flip-horizontal"></span></span>
                    <a href="tel:+448001690022">0800 169 0022</a>
                  </li>
                </ul>
                <ul class="">
                  <li class=""><a href="/services/membership">Become a member</a></li>
                </ul>
              </div>
              <div class="column col-3 col-lg-6 col-md-12 social">
                <h4>Social</h4>
                <ul class="fa-ul">
                  <li>
                    <span class="fa-li" aria-hidden="true"><span class="fab fa-twitter"></span></span>
                    <a href="https://twitter.com/scvotweet" rel="noopener">Twitter</a>
                  </li>
                  <li>
                    <span class="fa-li" aria-hidden="true"><span class="fab fa-facebook"></span></span>
                    <a href="https://www.facebook.com/SCVO1939" rel="noopener">Facebook</a>
                  </li>
                  <li>
                    <span class="fa-li" aria-hidden="true"><span class="fas fa-heart"></span></span>
                    <a href="https://goodhq.org/scvo">Good HQ</a>
                  </li>
                  <li>
                    <span class="fa-li" aria-hidden="true"><span class="fab fa-youtube"></span></span>
                    <a href="https://www.youtube.com/user/SCVOtv" rel="noopener">YouTube</a>
                  </li>
                  <li>
                    <span class="fa-li" aria-hidden="true"><span class="fab fa-linkedin"></span></span>
                    <a href="https://www.linkedin.com/company/scvo" rel="noopener">LinkedIn</a>
                  </li>
                </ul>
              </div>
              <div class="column col-3 col-lg-6 col-md-12 help">
                <h4>Help</h4>
                <ul class="">
                  {{#each @root.context.metaData.layoutMenus.footer ~}}
                  <li class=""><a href="{{path}}">{{{label}}}</a></li>
                  {{/each ~}}
                </ul>
              </div>
              <div class="column col-3 col-lg-6 col-md-12 about">
                <h4>About</h4>
                <p>
                  The <strong>Scottish Council for Voluntary Organisations</strong> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises. <a href="/about">Find out more</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="columns">
              <div class="copyright column col-10 col-lg-12">
                <p>
                  &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                  Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
                </p>
              </div>
              <div class="logos column col-2 col-ml-auto col-lg-12">
                <a href="https://scvo.org" class="scvo-logo" title="Scottish Council for Voluntary Organisations">
                  <img src="{{~>asset_url url='images/logos/scvo-secondary.svg'~}}" alt="Scottish Council for Voluntary Organisations" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>

  {{#each @root.context.metaData.handlebars.frontend.configs ~}}
  <script data-component-config="{{@key}}" type="javascript/blocked">
  {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
  </script>
  {{/each ~}}

  {{#each @root.context.metaData.handlebars.frontend.tasks ~}}
  <script data-task="{{@key}}" type="javascript/blocked">
  {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
  </script>
  {{/each ~}}

  {{#each @root.context.metaData.handlebars.frontend.partials ~}}
  <script data-partial="{{@key}}" type="javascript/blocked">
  {{{this}}}
  </script>
  {{/each ~}}

  <script type="text/javascript" src="{{~>asset_url url='component-manager.js'~}}"></script>
  <script>
  var jQuery = $;
  window.firebaseTaskConfig = {
    upgradeTokenUrl: '/upgrade-token?token={idToken}',
    cookieName: 'scvo_cookie'
  };
  firebase.initializeApp({
    "apiKey": "AIzaSyDIUNnyGeZY3sO8gGIf-_2dgO49xKij5zI",
    "authDomain": "scvo-net.firebaseapp.com",
    "databaseURL": "https://scvo-net.firebaseio.com",
    "projectId": "scvo-net",
    "storageBucket": "scvo-net.appspot.com",
    "messagingSenderId": "782194712584",
    "appId": "1:782194712584:web:7adcb6dfdeb22fd13bf1bd"
  });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#DEEFFB",
        "text": "#005EB8"
      },
      "button": {
        "background": "#005EB8"
      }
    },
    "theme": "edgeless",
    "position": "bottom-left",
    "content": {
      "message": "We use cookies to track anonymous usage statistics.",
      "href": "/cookies"
    }
  });
  </script>

  {{{layoutParts.foot}}}
</body>
</html>