<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  {{{layoutParts.head}}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--

  Powered by:
  ███████╗ ██████╗██╗   ██╗ ██████╗  ██╗   ██████╗  ██████╗ ██╗   ██╗████████╗███████╗██████╗
  ██╔════╝██╔════╝██║   ██║██╔═══██╗ ╚██╗  ██╔══██╗██╔═══██╗██║   ██║╚══██╔══╝██╔════╝██╔══██╗
  ███████╗██║     ██║   ██║██║   ██║  ╚██╗ ██████╔╝██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
  ╚════██║██║     ╚██╗ ██╔╝██║   ██║  ██╔╝ ██╔══██╗██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
  ███████║╚██████╗ ╚████╔╝ ╚██████╔╝ ██╔╝  ██║  ██║╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
  ╚══════╝ ╚═════╝  ╚═══╝   ╚═════╝ ╚═╝   ╚═╝  ╚═╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝

-->

<link rel="apple-touch-icon" sizes="57x57" href="{{~>asset_url url='images/icons/apple-icon-57x57.png'~}}">
<link rel="apple-touch-icon" sizes="60x60" href="{{~>asset_url url='images/icons/apple-icon-60x60.png'~}}">
<link rel="apple-touch-icon" sizes="72x72" href="{{~>asset_url url='images/icons/apple-icon-72x72.png'~}}">
<link rel="apple-touch-icon" sizes="76x76" href="{{~>asset_url url='images/icons/apple-icon-76x76.png'~}}">
<link rel="apple-touch-icon" sizes="114x114" href="{{~>asset_url url='images/icons/apple-icon-114x114.png'~}}">
<link rel="apple-touch-icon" sizes="120x120" href="{{~>asset_url url='images/icons/apple-icon-120x120.png'~}}">
<link rel="apple-touch-icon" sizes="144x144" href="{{~>asset_url url='images/icons/apple-icon-144x144.png'~}}">
<link rel="apple-touch-icon" sizes="152x152" href="{{~>asset_url url='images/icons/apple-icon-152x152.png'~}}">
<link rel="apple-touch-icon" sizes="180x180" href="{{~>asset_url url='images/icons/apple-icon-180x180.png'~}}">
<link rel="icon" type="image/png" sizes="192x192" href="{{~>asset_url url='images/icons/android-icon-192x192.png'~}}">
<link rel="icon" type="image/png" sizes="512x512" href="{{~>asset_url url='images/icons/android-icon-192x192.png'~}}">
<link rel="icon" type="image/png" sizes="32x32" href="{{~>asset_url url='images/icons/favicon-32x32.png'~}}">
<link rel="icon" type="image/png" sizes="96x96" href="{{~>asset_url url='images/icons/favicon-96x96.png'~}}">
<link rel="icon" type="image/png" sizes="16x16" href="{{~>asset_url url='images/icons/favicon-16x16.png'~}}">
<link rel="manifest" href="{{~>asset_url url='images/icons/manifest.json'~}}">
<meta name="msapplication-TileColor" content="#C2185B">
<meta name="msapplication-TileImage" content="{{~>asset_url url='images/icons/ms-icon-144x144.png'~}}">
<meta name="theme-color" content="#C2185B">
<link rel="search" type="application/opensearchdescription+xml" title="SCVO" href="{{~>asset_url url='opensearch.xml'~}}" />
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-3467930-2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-3467930-2', { 'send_page_view': true, 'anonymize_ip': true });

{{#each route.primaryResponse.hits.hits ~}}
gtag('event', 'document_hit', {
  'event_category': '{{_type}}',
  'event_label': '{{_id}}'
});
{{/each ~}}

{{#ifAny request.params.query.debug (compare request.url.hostname "scvo.local") ~}}
console.log('#### DEBUG MODE ON ####');
console.log('Request:', {{{regexReplace (regexReplace (stringify request) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Context:', {{{regexReplace (regexReplace (stringify context) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Route:', {{{regexReplace (regexReplace (stringify route) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Data:', {{{regexReplace (regexReplace (stringify data) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
console.log('Menus:', {{{regexReplace (regexReplace (stringify context.metaData.layoutMenus) "(<\/script)" "gi" '</scr\" + \"ipt') "(\r|\n)" "gi" ""}}});
{{/ifAny ~}}
</script>

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/leaflet/leaflet.css'~}}" />
<link type="text/css" rel="stylesheet" href="{{~>asset_url url='libraries/fontawesome-pro/css/all.min.css'~}}" />
<link type="text/css" rel="stylesheet" href="{{~>asset_url url='main.css'}}" />
</head>
<body class="{{#if request.params.path}}{{replace (replace request.params.path '20-years' 'twenty-years') '_' ' '}}{{else}}home{{/if}}">
  <div class="page">
    {{!-- {{> components_scvo_bar}} --}}
    <div class="container">
      <header class="navbar header">
        <section class="navbar-section">
          <a href="/" class="navbar-brand" title="Scottish Council for Voluntary Organisations">
            <img src="{{~>asset_url url='images/logos/scvo-inverse.png'~}}" alt="Scottish Council for Voluntary Organisations" />
          </a>
        </section>
        <section class="navbar-section">
          <form class="search_form" autocomplete="off" action="/search" method="GET">
            <div class="input-group input-inline">
              <input type="text" class="form-input" placeholder="Search SCVO, Goodmoves, TFN, and more" id="q" name="q" aria-label="Search keywords" value="{{request.params.query.q}}">
              <button type="submit" class="btn btn-primary input-group-btn" aria-label="Search" title="Search">
                <span class="far fa-search" aria-hidden="true"></span>
              </button>
            </div>
          </form>
          <button class="show-lg" data-drawer-target="#mobile-menu" aria-label="Menu" alt="Menu">
            <span class="far fa-fw fa-2x fa-bars"></span>
          </button>
        </section>
      </header>
      <header class="navbar toolbar">
        <section class="navbar-section site-tab-bar">
          {{#each context.metaData.layoutMenus.main ~}}
          <a class="btn btn-link{{#if (regexMatch ../request.url.pathname route "gi")}} active{{/if}}" href="{{stripTrailingSlash path}}">{{{label}}}</a>
          {{/each ~}}
        </section>
        <section class="navbar-center"></section>
        <section class="navbar-section">
        {{#if data.auth ~}}
          <div class="dropdown my-account signed-in">
            <div class="btn-group">
              <a href="#" class="btn dropdown-toggle">
                {{#if @root.data.auth.photoURL ~}}
                  <img src="{{@root.data.auth.photoURL}}" class="avatar avatar-sm" />
                {{else}}
                  <span class="far fa-fw fa-user-circle"></span>
                {{/if ~}}
                {{default @root.data.auth.email @root.data.auth.displayName}}
                <span class="far fa-fw fa-angle-down"></span>
              </a>
              <ul class="menu">
                <li class="menu-item">
                  <a href="/" class="l-padding-full  active">
                    <span class="far fa-fw fa-home" aria-hidden="true"></span>
                    Home
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/explore" class="l-padding-full">
                    <span class="far fa-fw fa-file-search" aria-hidden="true"></span>
                    Explore
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/account" class="l-padding-full">
                    <span class="far fa-fw fa-user-cog" aria-hidden="true"></span>
                    My account
                  </a>
                </li>
                <li class="menu-item">
                  <a href="/sign-out" class="l-padding-full" data-component="TasksTrigger" data-taskstrigger="sign-out">
                    <span class="far fa-fw fa-sign-out-alt" aria-hidden="true"></span>
                    Sign out
                  </a>
                </li>
              </ul>
            </div>
          </div>
        {{else}}
          <a class="btn btn-link{{#if (regexMatch ../request.url.pathname '/sign-in' "gi")}} active{{/if}}" href="/sign-in">My account</a>
        {{/if ~}}
        </section>
      </header>
    </div>

    <div class="mobile-menu mobile-menu_closed">
      <div class="mobile-menu_background" data-component="TasksTrigger" data-TasksTrigger='{
        click: {
          tasks: [
          {
            type: "elementManipulator",
            config: {
              ".mobile-menu": {
                removeClass: "mobile-menu_open",
                addClass: "mobile-menu_closing"
              }
            }
          },
          {
            type: "delay",
            config: {
              "500": [
              {
                type: "elementManipulator",
                config: {
                  ".mobile-menu": {
                    addClass: "mobile-menu_closed",
                    removeClass: "mobile-menu_closing"
                  }
                }
              }
              ]
            }
          }
          ]
        }
      }'></div>
      <aside class="mobile-menu_contents sidebar">
        <div class="b-margin-full b-padding-full v-padding">
          <ul class="menu">
            <li class="menu-item">
              <a href="/" class="l-padding-full {{#if (regexMatch @root.request.url.pathname '^/$' 'gi')}}active{{/if}}">
                <span class="far fa-fw fa-home" aria-hidden="true"></span>
                Home
              </a>
            </li>
            {{#each @root.context.metaData.layoutMenus.main ~}}
            <li class="menu-item">
              <a href="{{stripTrailingSlash path}}" class="l-padding-full{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                {{#if icon ~}}
                <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                {{/if ~}}
                {{label}}
              </a>
            </li>
            {{/each ~}}
            {{#each @root.context.metaData.layoutMenus.main-upper ~}}
            <li class="menu-item">
              <a href="{{stripTrailingSlash path}}" class="l-padding-full{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                {{#if icon ~}}
                <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                {{/if ~}}
                {{label}}
              </a>
            </li>
            {{/each ~}}
            {{#each @root.context.metaData.layoutMenus.main-extra ~}}
            <li class="menu-item">
              <a href="{{stripTrailingSlash path}}" class="l-padding-full{{#if (regexMatch @root.request.url.pathname route 'gi')}} active{{/if}}">
                {{#if icon ~}}
                <span class="far fa-fw fa-{{icon}}" aria-hidden="true"></span>
                {{/if ~}}
                {{label}}
              </a>
            </li>
            {{/each ~}}
          </ul>
        </div>
      </aside>
    </div>

    {{#ifAny layoutParts.leftSidebar layoutParts.rightSidebar ~}}
    <div class="sidebar-present container">
      {{{layoutParts.header}}}
      <div class="columns">
        {{#ifAll layoutParts.leftSidebar layoutParts.rightSidebar ~}}
        <aside class="sidebar sidebar-left column col-3 col-xl-4 hide-lg">
          {{{layoutParts.leftSidebar}}}
        </aside>
        <main class="body column col-xs-auto">
          {{{layoutParts.body}}}
        </main>
        <aside class="sidebar sidebar-right column col-3 col-xl-4 hide-lg">
          {{{layoutParts.rightSidebar}}}
        </aside>
        {{else}}
        {{#if layoutParts.leftSidebar ~}}
        <aside class="sidebar sidebar-left column col-3 col-xl-4 hide-lg">
          {{{layoutParts.leftSidebar}}}
        </aside>
        <main class="body column col-xs-auto">
          {{{layoutParts.body}}}
        </main>
        {{else}}
        <main class="body column col-xs-auto">
          {{{layoutParts.body}}}
        </main>
        <aside class="sidebar sidebar-right column col-3 col-xl-4 hide-lg">
          {{{layoutParts.rightSidebar}}}
        </aside>
        {{/if ~}}
        {{/ifAll ~}}
      </div>
      {{{layoutParts.footer}}}
    </div>
    {{else}}
    <div class="sidebar-not-present container">
      {{{layoutParts.header}}}
      <main class="body">
        {{{layoutParts.body}}}
      </main>
      {{{layoutParts.footer}}}
    </div>
    {{/ifAny ~}}

    <footer>
      <div class="footer-main">
        <div class="container">
          <div class="columns">
            <div class="column col-12 col-ml-auto membership">
              <a href="/services/membership" class="btn btn-primary bg-secondary pull-right">SCVO membership</a>
            </div>
          </div>
          <div class="columns">
            <div class="column col-3 col-lg-6 col-md-12 contact">
              <h4>Contact</h4>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><span class="fas fa-envelope"></span></span>
                  <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>
                </li>
                <li>
                  <span class="fa-li"><span class="fas fa-phone fa-flip-horizontal"></span></span>
                  <a href="tel:+441314748000">0131 474 8000</a>
                </li>
              </ul>
              <p>
                Information service helpline
              </p>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li"><span class="fas fa-phone fa-flip-horizontal"></span></span>
                  <a href="tel:+448001690022">0800 169 0022</a>
                </li>
              </ul>
              <ul class="">
                <li class=""><a href="/services/membership">Become a member</a></li>
              </ul>
            </div>
            <div class="column col-3 col-lg-6 col-md-12 social">
              <h4>Social</h4>
              <ul class="fa-ul">
                <li>
                  <span class="fa-li" aria-hidden="true"><span class="fab fa-twitter"></span></span>
                  <a href="https://twitter.com/scvotweet" rel="noopener">Twitter</a>
                </li>
                <li>
                  <span class="fa-li" aria-hidden="true"><span class="fab fa-facebook"></span></span>
                  <a href="https://www.facebook.com/SCVO1939" rel="noopener">Facebook</a>
                </li>
                <li>
                  <span class="fa-li" aria-hidden="true"><span class="fas fa-heart"></span></span>
                  <a href="https://goodhq.org/scvo">Good HQ</a>
                </li>
                <li>
                  <span class="fa-li" aria-hidden="true"><span class="fab fa-youtube"></span></span>
                  <a href="https://www.youtube.com/user/SCVOtv" rel="noopener">YouTube</a>
                </li>
                <li>
                  <span class="fa-li" aria-hidden="true"><span class="fab fa-linkedin"></span></span>
                  <a href="https://www.linkedin.com/company/scvo" rel="noopener">LinkedIn</a>
                </li>
              </ul>
            </div>
            <div class="column col-3 col-lg-6 col-md-12 help">
              <h4>Help</h4>
              <ul class="">
                {{#each context.metaData.layoutMenus.footer ~}}
                <li class=""><a href="{{path}}">{{{label}}}</a></li>
                {{/each ~}}
              </ul>
            </div>
            <div class="column col-3 col-lg-6 col-md-12 about">
              <h4>About</h4>
              <p>
                The <strong>Scottish Council for Voluntary Organisations</strong> is the membership organisation for Scotland's charities, voluntary organisations and social enterprises. <a href="/about">Find out more</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          <div class="columns">
            <div class="copyright column col-8 col-xl-12">
              <p>
                &copy; {{momentFormat (moment) "YYYY"}}. The Scottish Council for Voluntary Organisations (SCVO) is a Scottish Charitable Incorporated Organisation.<br />
                Charity registered in Scotland <a href="https://www.oscr.org.uk/about-charities/search-the-register/charity-details?number=SC003558">SC003558</a>. Registered office Mansfield Traquair Centre, 15 Mansfield Place, Edinburgh EH3 6BB.
              </p>
            </div>
            <div class="logos column col-4 col-ml-auto col-xl-12">
              <a href="https://scvo.org" class="scvo-logo" title="Scottish Council for Voluntary Organisations">
                <img src="{{~>asset_url url='images/logos/scvo.png'~}}" alt="Scottish Council for Voluntary Organisations" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>

  {{#each @root.context.metaData.handlebars.frontend.configs ~}}
  <script data-component-config="{{@key}}" type="javascript/blocked">
  {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
  </script>
  {{/each ~}}

  {{#each @root.context.metaData.handlebars.frontend.tasks ~}}
  <script data-task="{{@key}}" type="javascript/blocked">
  {{{regexReplace (regexReplace this "^\s*return\s" "igm" "") "([^\\{])({{){2,}" "igm" "$1\\$2"}}}
  </script>
  {{/each ~}}

  {{#each @root.context.metaData.handlebars.frontend.partials ~}}
  <script data-partial="{{@key}}" type="javascript/blocked">
  {{{this}}}
  </script>
  {{/each ~}}

  <script type="text/javascript" src="{{~>asset_url url='component-manager.js'~}}"></script>
  <script>
  var jQuery = $;
  window.firebaseTaskConfig = {
    upgradeTokenUrl: '/upgrade-token?token={idToken}',
    cookieName: 'scvo_cookie'
  };
  firebase.initializeApp({
    "apiKey": "AIzaSyDIUNnyGeZY3sO8gGIf-_2dgO49xKij5zI",
    "authDomain": "scvo-net.firebaseapp.com",
    "databaseURL": "https://scvo-net.firebaseio.com",
    "projectId": "scvo-net",
    "storageBucket": "scvo-net.appspot.com",
    "messagingSenderId": "782194712584",
    "appId": "1:782194712584:web:7adcb6dfdeb22fd13bf1bd"
  });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#DEEFFB",
        "text": "#005EB8"
      },
      "button": {
        "background": "#005EB8"
      }
    },
    "theme": "edgeless",
    "position": "bottom-left",
    "content": {
      "message": "We use cookies to track anonymous usage statistics.",
      "href": "/cookies"
    }
  });
  </script>

  {{{layoutParts.foot}}}
</body>
</html>