<div class="full scvo-member">
  {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    {{!-- {{#if og_image ~}}
    <img src="{{og_image}}" alt="{{title}}" />
    {{/if ~}} --}}
    <div class="post-info">
      {{#if type ~}}
      <div class="post-info-item">
        <span class="far fa-heart"></span>
        {{type}}
      </div>
      {{/if ~}}
      {{#if membership_number ~}}
      <div class="post-info-item">
        <span class="far fa-certificate"></span>
        Membership number {{membership_number}}
      </div>
      {{/if ~}}
      {{#if charity_number ~}}
      <div class="post-info-item">
        <span class="far fa-badge-check"></span>
        Charity registered in Scotland <a href="http://www.oscr.org.uk/about-charities/search-the-register/charity-details?number={{charity_number}}" class="charity_number">{{charity_number}}</a>
      </div>
      {{/if ~}}
    </div>
    {{#compare @root.data.organisationResponses.charters.hits.total ">" 0 ~}}
    <div class="post-info">
      {{#each @root.data.organisationResponses.charters.hits.hits ~}}
      {{#with _source ~}}
      {{#ifAll (compare act_dorm "Active") (compare status "Signed") ~}}
      <div class="post-info-item">
        <span class="far fa-ribbon"></span>
        <a href="{{url}}">{{#compare record_type "Digital"}}Digital Participation Charter{{else}}{{record_type}}{{/compare}} signatory</a>
      </div>
      {{/ifAll ~}}
      {{/with ~}}
      {{/each ~}}
    </div>
    {{/compare ~}}

    {{#ifAny website @root.data.organisation.hits.hits.0._source.website twitter @root.data.organisation.hits.hits.0._source.twitter facebook @root.data.organisation.hits.hits.0._source.facebook ~}}
    <ul class="fa-ul">
      {{#ifAny website @root.data.organisation.hits.hits.0._source.website ~}}
      {{> content_item icon='link' link=(default website @root.data.organisation.hits.hits.0._source.website)}}
      {{/ifAny ~}}
      {{#ifAny twitter @root.data.organisation.hits.hits.0._source.twitter ~}}
      {{> content_item icon='twitter' link=(default twitter @root.data.organisation.hits.hits.0._source.twitter)}}
      {{/ifAny ~}}
      {{#ifAny facebook @root.data.organisation.hits.hits.0._source.facebook ~}}
      {{> content_item icon='facebook' link=(default twitter @root.data.organisation.hits.hits.0._source.facebook)}}
      {{/ifAny ~}}
    </ul>
    {{/ifAny ~}}
  {{/with ~}}

  {{#compare @root.data.organisationResponses.vacancies.hits.total ">" 0 ~}}
  <h2>Current vacancies</h2>
  {{#each @root.data.organisationResponses.vacancies.hits.hits ~}}
  {{#with this ~}}
  {{#compare _source.vacancy_status "vacancy-open" ~}}
  {{> site_search_result}}
  {{/compare ~}}
  {{/with ~}}
  {{/each ~}}
  {{/compare ~}}

  {{#compare @root.data.organisationResponses.volunteering.hits.total ">" 0 ~}}
  <h2>Volunteering opportunities</h2>
  {{#each @root.data.organisationResponses.volunteering.hits.hits ~}}
  {{#with this ~}}
  {{> site_search_result}}
  {{/with ~}}
  {{/each ~}}
  {{/compare ~}}

  {{else}}
  <h2>Error 404: Organisation could not be found</h2>
  {{/if ~}}
</div>