<div class="mdc-card search">
  <section class="mdc-card__primary">
    <form action="/policy/organisations" method="GET">
      <div class="input-group">
        <input type="text" class="form-input" placeholder="Search organisations" value="{{@root.request.params.query.q}}" name="q">
        <button type="submit" class="btn btn-primary input-group-btn" aria-label="Search" alt="Search">
          <span class="far fa-search" aria-hidden="true"></span>
        </button>
      </div>
    </form>
  </section>
</div>

<div class="b-margin-full b-padding-full">
  {{#if @root.request.params.query.q ~}}
  {{> search_info paging=@root.data.primaryResponse.pagination}}
  {{else}}
  {{!-- <h4>Organisations include&hellip;</h4> --}}
  {{/if ~}}

  {{#each @root.data.primaryResponse.hits.hits ~}}
  {{#with _source ~}}
  {{#if title ~}}
  <h4><a href="/policy/organisations/{{Id}}/{{slugify title}}">{{{title}}}</a></h4>
  {{else}}
  <h4><a href="/policy/organisations/{{Id}}">{{{Id}}}</a></h4>
  {{/if ~}}
  {{/with ~}}
  {{/each ~}}

  {{#ifAny @root.request.params.query.q @root.request.params.query.type ~}}
  {{> pagination paging=@root.data.primaryResponse.pagination}}
  {{/ifAny ~}}
</div>