<div class="gist fs-fund fs-fund-{{Id}}">
  <h4>
    <a href="https://funding.scot/funds/{{Id}}/{{title_slug}}?utm_source=scvo&utm_campaign=list&utm_medium=website">{{{title}}}{{#compare title "!==" funder_organisation.name}} - {{{funder_organisation.name}}}{{/compare}}</a>
  </h4>
  <div class="post-info">
    <div class="post-info-item" title="Last reviewed {{momentFromNow date_last_modified}}">
      <span class="far fa-calendar-alt" aria-hidden="true"></span>
      {{momentFormat (moment date_last_modified "x") "Do MMMM YYYY"}}
    </div>
  </div>
</div>