<div class="b-margin-full b-padding-full">
  {{#unless @root.request.body.selection ~}}
  <p>
    Thank you for your interest in the Third Sector Resilience Fund (TSRF). To help us assess if the TSRF fund is the right for your organisation, please tick the boxes against the statements that apply to your current circumstances:
  </p>
  <form action="{{@root.request.url.pathname}}" method="post">
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="1">
        <i class="form-icon"></i> We are charity, voluntary organisation or social enterprise based in Scotland and/or primarily delivering services/activities in Scottish communities.
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="2">
        <i class="form-icon"></i> We have been providing our activities and/or services before March 2020.
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="3">
        <i class="form-icon"></i> Our funding need is directly as a result of the impact of COVID-19 and Scotland’s national precautionary measures.
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="4">
        <i class="form-icon"></i> We are applying for funding to help our short-term cashflow position.
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="5">
        <i class="form-icon"></i> We know how much our monthly outgoings are and the anticipated value of income loss over the next four months (ballpark figure).
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="6">
        <i class="form-icon"></i> We know how much funding from TSRF we would need to keep our organisation afloat until the end of July 2020 (ballpark figure).
      </label>
    </div>
    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" name="selection" value="7">
        <i class="form-icon"></i>We have contacted our Local Authority about emergency funding available in our area.
      </label>
    </div>
    <input type="submit" class="btn btn-lg btn-primary t-margin-full" value="Check" />
  </form>
  {{else}}
  {{#if (contains @root.request.body.selection '1') ~}}
  {{#if (contains @root.request.body.selection '2') ~}}
  {{#if (contains @root.request.body.selection '3') ~}}
  {{#if (contains @root.request.body.selection '4') ~}}
  {{#ifAll (contains @root.request.body.selection '5') (contains @root.request.body.selection '6') ~}}
  {{#if (contains @root.request.body.selection '7') ~}}
  <h4>
    Good news, we think the Third Sector Resilience Fund will be able to help you
  </h4>
  <p>
    <strong>Please only complete the application form that best matches your funding needs.</strong> The fund partners are working closely together to ensure funds are distributed according to applicants’ current financial positions and needs. Making two applications for different amounts will not improve your chances of success.
  </p>
  <p>
    If your funding needs are for a grant only and below £25,000 please <a href="https://www.tfaforms.com/4811715">apply here</a>.
  </p>
  <p>
    If your funding needs are for a grant and between £25,000 - £75,000, please <a href="https://formstack.io/79847">apply here</a>.
  </p>
  <p>
    If your funding needs are for loan finance between £50,000 - £250,000, please <a href="http://www.socialinvestmentscotland.com/support/resilience-fund-loan-funding">apply here</a>.
  </p>
  <p>
    For Funding needs over £50,000 the fund will automatically consider your application for a loan or a blended funding approach (a mix of grant and loan funding). If, under normal circumstances, your organisation could repay a loan based on the terms of the TSRF loan we will encourage you to consider this. Please note that organisations only need to make one application to the fund and the delivery partners will work together to secure the right grant and loan mix in each circumstance.
  </p>
  {{!-- <ul>
    <li>
      If your funding needs are <strong>below £25,000</strong> please <a href="https://www.tfaforms.com/4811715">apply via the Corra Foundation</a>.<br />
      If you need help, please contact: <a href="mailto:hello@corra.scot">hello@corra.scot</a>.
    </li>
    <li>
      If your funding needs are <strong>between £25,000-£100,000</strong>, please <a href="https://formstack.io/E68D0">apply via Firstport</a>.<br />
      If you need help, please contact: <a href="mailto:info@firstport.org.uk">info@firstport.org.uk</a>.
    </li>
    <li>
      If your funding needs are <strong>above £100,000</strong> or if you are looking for <strong>loan finance</strong>, please <a href="http://www.socialinvestmentscotland.com/support/resilience-fund-loan-funding">apply via Social Investment Scotland</a>.<br />
      If you need help, please contact: <a href="mailto:srf@socialinvestmentscotland.com">srf@socialinvestmentscotland.com</a>.
    </li>
  </ul> --}}
  {{else}}
    <p>
      <em>You can now apply for grants to help with the impact of the coronavirus (COVID-19) on your organisation through your Local Authority. If you haven’t already, we would advise that you look into the options available from your Local Authority before applying to the TSRF. You can find information about these as well as contact details by following this link:</em>
    </p>
    <p>
      <a href="https://findbusinesssupport.gov.scot/coronavirus-advice/sources-of-funding">https://findbusinesssupport.gov.scot/coronavirus-advice/sources-of-funding</a></em>
    </p>
  {{/if ~}}
  {{else}}
  <p>
    For us to be able to process and make a decision about your application as quickly as possible, we need to understand your current financial position and likely funding gap over the next six months. We recommend that you spend some time reviewing your finances and once you are in a position to answer this question, go through this assessment again.
  </p>
  {{/ifAll ~}}
  {{else}}
  <p>
    We are sorry but the TRSF is not the right fund for you. This fund is to help charities and organisations to stabilise cashflow issues during this difficult period. You may be eligible for other funding, <a href="/support/coronavirus/funding">find out more about other COVID-19 emergency funds</a>.
  </p>
  {{/if ~}}
  {{else}}
  <p>
    We are sorry but the TRSF is not the right fund for you. This is an emergency fund to support organisations that would otherwise be in a stable financial position, but that find themselves now badly affected financially due to the outbreak. You may be eligible for other funding, <a href="/support/coronavirus/funding">find out more about other COVID-19 emergency funds</a>.
  </p>
  {{/if ~}}
  {{else}}
  <p>
    We are sorry but the TSRF is not the right fund for you. This fund aims to help charities and social enterprises delivering services prior to the COVID-19 outbreak. You may be eligible for other funding, <a href="/support/coronavirus/funding">find out more about other COVID-19 emergency funds</a>
  </p>
  {{/if ~}}
  {{else}}
  <p>
    We are sorry but the TSRF is not the right fund for you. This fund is for registered charities, voluntary organisations and social enterprises only. You may be eligible for other funding, <a href="/support/coronavirus/funding">find out more about other COVID-19 emergency funds</a>.
  </p>
  {{/if ~}}
  {{/unless ~}}
</div>

{{> footers_logos_tsrf}}