{{#compare @root.data.postsRelated.hits.total ">" 0 ~}}
<div class="related-posts v-padding-full bg-gray">
  <div class="container b-margin">
    <h3 class="b-margin">
      Related posts
    </h3>
    <div class="columns">
      {{#each (split "0,1,2,3" ",") ~}}
      {{#with (getProperty @root.data.postsRelated.hits.hits (concat this '._source')) ~}}
      <div class="column col-3 col-lg-6 col-sm-12">
        <div class="columns b-margin">
          <div class="column col-3 col-md-4">
            <a href="{{path}}" class="pull-left r-margin no-underline"><img src="{{default og_image author_avatar}}" alt="{{{author_name_full}}}" class="avatar avatar-lg" /></a>
          </div>
          <div class="column col-9 col-md-8">
            <a href="{{path}}">{{{trim title}}}</a>
            <div class="caption">{{momentFormat (moment publish_on 'x') "Do MMMM YYYY"}}</div>
          </div>
        </div>
      </div>
      {{/with ~}}
      {{/each ~}}
    </div>
  </div>
</div>
{{/compare ~}}