{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<div class="container">
  {{> breadcrumbs_cms_page}}
</div>
{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
{{#if header_background ~}}
<div class="bg-header b-margin-full" style="background-image:url('{{header_background}}');">
  <div class="t-padding-full{{#unless hide_overlay}} overlay{{/unless}}">
    <div class="container">
      {{#if header_text ~}}
      <img src="{{header_text}}" alt="{{{title}}}" class="v-padding-full" />
      {{else}}
      <h1 class="v-padding-full">{{{title}}}</h1>
      {{/if ~}}
    </div>
  </div>
</div>
{{else}}
<div class="container">
  <h1>{{{title}}}</h1>
</div>
{{/if ~}}
{{/with ~}}
{{/if ~}}