{{> footers_logos_digishift}}

{{#compare @root.data.supplimentaryResponses.latest_posts.hits.total ">" 0}}
<div class="b-padding-full bg-white">
  <div class="container v-padding-full">
    <h3 class="b-margin-full">
      Latest posts
    </h3>
    <div class="columns">
      {{#each @root.data.supplimentaryResponses.latest_posts.hits.hits ~}}
      {{#with _source}}
      <div class="column col-4 col-lg-6 col-sm-12">
        <div class="columns b-margin related-posts">
          <div class="column col-2 col-lg-3 col-md-4">
            <a href="{{path}}" class="pull-left r-margin no-underline"><img src="{{default og_image author_avatar}}" alt="{{{author_name_full}}}" class="avatar avatar-lg" /></a>
          </div>
          <div class="column col-10 col-md-9 col-md-8">
            <a href="{{path}}">{{{trim title}}}</a>
            <div class="caption">{{momentFormat (moment publish_on 'x') "D MMMM YYYY"}}</div>
          </div>
        </div>
      </div>
      {{/with ~}}
      {{/each}}
    </div>
    <ul class="card-footer t-margin-full">
      <li><a href="/post/tags/digital-participation">Read more digital participation posts</a></li>
      <li><a href="/post/tags/digital-evolution">Read more digital evolution posts</a></li>
      <li><a href="/post/tags/cyber-resilience">Read more cyber resilience posts</a></li>
    </ul>
  </div>
</div>
{{/compare}}

<div class="bg-primary">
  <div class="container v-padding-full">
    <div class="columns v-margin-full">
      <div class="column col-4 col-lg-6 col-sm-12">
        <a href="/support/digital/bulletin" class="btn btn-block no-ext">
          <span class="far fa-newspaper fa-fw"></span>
          Sign up for our e:bulletin
        </a>
      </div>
      <div class="column col-4 col-lg-6 col-sm-12">
        <a href="https://twitter.com/digiscot" class="btn btn-block no-ext" target="_blank">
          <span class="fab fa-twitter fa-fw"></span>
          Follow us on Twitter
        </a>
      </div>
      <div class="column col-4 col-lg-6 col-sm-12">
        <a href="mailto:digital@scvo.scot" class="btn btn-block no-ext">
          <span class="far fa-envelope fa-fw"></span>
          Email us
        </a>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray">
  <div class="container logos v-padding-full">
    <h4 class="v-padding-full">Our digital work is delivered in partnership with:</h4>
    <div class="columns v-margin-full">
      <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full b-padding-full">
        <a href="http://gov.scot" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="{{~>asset_url url='images/logos/organisations/SG_Quaternary_govscot_RGB.png'~}}" alt="The Scottish Government" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div>
      <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full b-padding-full">
        <a href="https://www.gov.scot/policies/digital" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="{{~>asset_url url='images/logos/organisations/digital-scotland.png'~}}" alt="Digital Scotland" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div>
      {{!-- <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full b-padding-full">
        <a href="https://www.tnlcommunityfund.org.uk/" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="https://onedigitaluk.com/wp-content/uploads/2019/01/NationalLotteryCommunityFundLogo.png" alt="National Lottery Community Fund" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div> --}}
      {{!-- <div class="column col-3 col-md-6 align-centre r-padding-full l-padding-full b-padding-full">
        <a href="http://onedigitaluk.com" class="no-ext no-underline r-padding-full l-padding-full">
          <img src="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/onedigital.png" alt="OneDigital" class="p-centered r-padding-full l-padding-full" />
        </a>
      </div> --}}
    </div>
  </div>
</div>