<div class="page">
  <div class="container-fluid">
    {{#unless @root.request.params.query.section ~}}
      {{> breadcrumbs}}
    {{else}}
      <ul class="breadcrumbs breadcrumbs-length-2" aria-hidden="true">
        <li><a href="/">Home</a></li>
        <li><a href="/running-your-organisation">Running your organisation</a></li>
        <li><a href="/running-your-organisation/governance">Good Governance</a></li>
        <li><a href="/running-your-organisation/governance/checkup">Checkup</a></li>
        {{#with (getProperty @root.route.metaData.governanceCheckup (concat "section-" @root.request.params.query.section)) ~}}
        <li>{{{name}}}</li>
        {{/with ~}}
      </ul>
    {{/unless ~}}
  </div>
  {{> headers_splash_checkup}}
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          {{#unless @root.request.params.query.section ~}}
            {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
            <a href="{{@root.request.url.pathname}}?section=start" class="mdc-button mdc-button--raised">Start checkup</a>
          {{else}}
            {{> checkup_section section=(concat "section-" @root.request.params.query.section) respondent_organisation_type=@root.request.params.query.organisation_type}}
          {{/unless ~}}
        </div>
        {{!-- <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menus_running_governance}}
        </div> --}}
        {{!-- {{> related_posts}} --}}
      </div>
    </div>
  </div>
</div>
