{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
<div class="full scvo-member">
  {{#if og_image ~}}
  <img src="{{og_image}}" alt="{{title}}" />
  {{/if ~}}
  {{!-- <h3>
    {{title}}
    {{#if alias}}
    ({{alias}})
    {{/if}}
  </h3> --}}
  <div class="post-info">
    {{#if type ~}}
    <div class="post-info-item">
      <span class="far fa-heart"></span>
      {{type}}
    </div>
    {{/if ~}}
    {{#if membership_number ~}}
    <div class="post-info-item">
      <span class="far fa-certificate"></span>
      Membership number {{membership_number}}
    </div>
    {{/if ~}}
    {{#if charity_number ~}}
    <div class="post-info-item">
      <span class="far fa-badge-check"></span>
      Charity registered in Scotland <a href="http://www.oscr.org.uk/about-charities/search-the-register/charity-details?number={{charity_number}}">{{charity_number}}</a>
    </div>
    {{/if ~}}
  </div>

  {{#if website ~}}
  {{#compare website '!==' 'http://'}}
  <p>
    <strong>Website:</strong>
    <a href="{{fixUrl website}}">{{website}}</a>
  </p>
  {{/compare}}
  {{/if ~}}

  {{#if twitter ~}}
  {{#compare twitter '!==' 'http://'}}
  <p>
    <strong>Twitter:</strong>
    <a href="{{fixUrl twitter}}">{{twitter}}</a>
  </p>
  {{/compare ~}}
  {{/if ~}}

  {{#if facebook ~}}
  {{#compare facebook '!==' 'http://'}}
  <p>
    <strong>Facebook:</strong>
    <a href="{{fixUrl facebook}}">{{facebook}}</a>
  </p>
  {{/compare ~}}
  {{/if ~}}
</div>
{{/with ~}}
{{else}}
<h2>Error 404: Member could not be found</h2>
{{/if ~}}