<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/about">About SCVO</a></li>
    <li class="breadcrumb-item"><a href="/about/membership">Membership</a></li>
    <li class="breadcrumb-item"><a href="/about/membership/members">Our members</a></li>
    {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    <li class="breadcrumb-item">
      {{#if title}}{{{title}}}{{else}}{{Id}}{{/if}}
    </li>
    {{/with ~}}
  </ul>

  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <h1>
    {{#if title}}{{{title}}}{{else}}{{Id}}{{/if}}
    {{#if alias ~}}
    {{#compare title "!==" alias ~}}
    ({{{alias}}})
    {{/compare ~}}
    {{/if ~}}
  </h1>
  {{/with ~}}
</div>