<div class="form-group {{fieldClasses}}">
  <label class="form-checkbox">
    <input type="checkbox" id="{{id}}" name="{{name}}" value="{{default value label}}"{{#if checked}} checked="checked"{{/if}} />
    <span class="form-icon"></span> {{{default label value}}}
  </label>
</div>