<div class="form-group {{fieldClasses}}">
  <label class="form-radio {{innerClasses}}">
    <input type="radio" id="{{default id name}}" name="{{default name}}" value="{{default value label}}" {{#if active}} checked="checked"{{/if}}{{#if required}} required{{/if}}/>
    <span class="form-icon"></span> {{default label value}}
  </label>
</div>