<div class="useful-content">
  <div class="container v-padding-full v-margin-full">
    <div class="columns linked-cards t-margin b-margin-full">
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h2 t-margin-full">
              Latest blog post
            </div>
          </div>
          <div class="card-body">
            {{#with @root.data.supplimentaryResponses.posts_latest.hits.hits.[0]._source ~}}
              <a href="/{{replace post_slug '_' '/'}}" style="text-decoration:none;">
                <h4 class="hover-primary">
                  {{{trim title}}}
                </h4>
                <p>
                  {{{truncate description 200}}}
                </p>
                <p>
                  <strong class="text-primary r-margin author">{{{author_name_full}}}</strong>
                  {{momentFormat (moment publish_on 'x') 'Do MMMM YYYY'}}
                </p>
              </a>
            {{/with ~}}
          </div>
          <div class="card-footer">
            <h4 class="no-margin">Blogs</h4>
            <p class="t-margin">
              <a href="/about/blog">SCVO news</a><br />
              <a href="/support/blog">Support & learning</a><br />
              <a href="/funding/blog">Funding</a><br />
              <a href="/policy/blog">Policy &amp; research</a>
            </p>
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h2 t-margin-full">
              Latest press release
            </div>
          </div>
          <div class="card-body">
            {{#with @root.data.supplimentaryResponses.press_latest.hits.hits.[0]._source ~}}
              <a href="/{{replace post_slug '_' '/'}}" style="text-decoration:none;">
                <h4 class="hover-primary">
                  {{{trim title}}}
                </h4>
                <p>
                  {{{truncate description 350}}}
                </p>
              </a>
            {{/with ~}}
          </div>
          <div class="card-footer">
            <a href="/about/work/press-releases">All press releases</a>
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        {{> sidebars_goodmoves_latest}}
      </div>
    </div>
  </div>
</div>

{{> footers_tfn_latest}}

{{!-- {{> footers_image image="images/home/home-footer.jpg"}} --}}