<div class="latest-content bg-white t-padding">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h2">
              Latest blog post
              <a href="/about/blog" class="caption l-margin">See more</a>
            </div>
          </div>
          <div class="card-body">
            {{#with @root.data.supplimentaryResponses.posts_latest.hits.hits.[0]._source ~}}
            <h4>
              <a href="/{{replace post_slug '_' '/'}}">{{{trim title}}}</a>
            </h4>
            <p>
              {{{truncate description 280}}}
              <a href="/{{replace post_slug '_' '/'}}">Read more</a>
            </p>
            <p>
              <span class="text-primary r-margin"><a href="/post/author/{{author_slug}}" class="author">{{{author_name_full}}}</a></span>
              {{momentFormat (moment publish_on 'x') 'Do MMMM YYYY'}}
            </p>
            {{/with ~}}
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h2">
              Latest press release
              <a href="/about/press-media" class="caption l-margin">See more</a>
            </div>
          </div>
          <div class="card-body">
            {{#with @root.data.supplimentaryResponses.press_latest.hits.hits.[0]._source ~}}
            <h4>
              <a href="/{{replace post_slug '_' '/'}}">{{{trim title}}}</a>
            </h4>
            <p>
              {{{truncate description 320}}}
              <a href="/{{replace post_slug '_' '/'}}">Read more</a>
            </p>
            {{/with ~}}
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h2">Become a member</div>
          </div>
          <div class="card-body">
            Our community of {{addCommas @root.data.supplimentaryResponses.members_total.hits.total}} members believe that charities, community groups, social enterprises and
            voluntary organisations help make Scotland a better place; and our shared voice has the power and
            influence to tackle pressing issues, and create a better future for the people and communities we care about.
          </div>
          <div class="card-footer">
            <a href="/about/membership" class="btn btn-primary btn-lg">SCVO membership</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{> sections_information}}

<div class="promoted-content v-padding-full">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-6 col-md-12">
        {{!-- {{> content_featured name="the-gathering" link="/the-gathering-2020" heading="h3" title="The Gathering" subtitle="19th & 20th February 2020" body="The Gathering is the largest free voluntary sector event in the UK, a place for all the amazing people working in the voluntary sector to network, showcase what they do and learn from each other." logo="images/gathering/logo_2020_colour.svg" ratio="4.5:1" image="images/gathering/header_2020.svg" read_more_text="Find out more" link_2="/the-gathering-2020/event-programme" link_2_text="Event programme"}} --}}
        {{> content_featured name="charity-awards" link="/scottish-charity-awards" heading="h3" title="Scottish Charity Awards" subtitle="Friday 12th June 2020" body="Now in its 14th year, the Scottish Charity Awards highlight the best, most innovative and effective charity organisations and individuals from the past year, and celebrate those who make a difference in our communities." logo="images/awards/logo_2020_inline_reverse.svg" ratio="4.5:1" image="images/home/charityawards-bg.jpg" read_more_text="Find out more" link_2="/scottish-charity-awards/apply-2020" link_2_text="Apply now"}}
      </div>
      <div class="column col-6 col-md-12">
        {{> content_featured name="twenty-years" link="/policy/campaigns/20-years-delivering-change" heading="h3" title="Charities, Scotland & Holyrood" subtitle="Twenty years delivering change" body="To celebrate the Scottish Parliament marking its 20th anniversary, SCVO has produced a limited-edition book - Charities, Scotland & Holyrood: Twenty Years Delivering Change." logo="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/banners/20yrs.png" ratio="4.5:1" image="https://storage.googleapis.com/scvo-cms/scvo-cms/scvo-cms-content/images/banners/20yrs-bg.png" read_more_text="Take a look"}}
      </div>
    </div>
  </div>
</div>

<div class="bg-secondary useful-content">
  <div class="container v-padding-full">
    <div class="columns linked-cards v-margin-full">
      {{#compare @root.data.supplimentaryResponses.tfn_latest.hits.total ">" 0 ~}}
      <div class="column col-4 col-md-12">
        <h3 class="no-margin">
          Latest news on TFN
          <a href="https://thirdforcenews.org.uk/tfn-news?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic" class="caption l-margin">See more</a>
        </h3>
        {{#with @root.data.supplimentaryResponses.tfn_latest.hits.hits.[0]._source ~}}
        {{> content_featured name="latest-tfn" link=(trim url) heading="h4" title=(trim title) body=(truncate description 280) ratio="16:9" image=image}}
        {{/with ~}}
      </div>
      {{/compare ~}}
      <div class="column col-4 col-md-12">
        <h3 class="no-margin">
          Featured campaign
          <a href="/policy/campaigns" class="caption l-margin">See more</a>
        </h3>
        {{> content_featured name="featured-campaign" link="/policy/campaigns/eu-are-valued" heading="h4" title="#EUareValued" body="We believe every person who works to make a difference to Scottish communities should be valued, and that includes our colleagues who have come from other EU countries to live and work here. Scotland’s voluntary sector is strengthened thanks to their contribution." ratio="16:9" logo="images/home/eu-are-valued-logo.png" logo_style="padding:2rem; position:relative; width:100%;" image="images/home/eu-are-valued-bg.jpg"}}
      </div>
      <div class="column col-4 col-md-12">
        <div class="h3" style="padding-bottom: 0.8rem;">
          What can we help you with?
        </div>
        {{> site_search_form id='home'}}

        {{> useful_links}}
      </div>
    </div>
  </div>
</div>

<div class="scvo-services v-padding-full">
  <div class="container v-padding-full">
    <div class="columns">
      <div class="column col-8 col-md-12">
        <div class="b-margin-full">
          {{> adverts_office_space}}
        </div>
        <div class="b-margin-full">
          {{> adverts_payroll}}
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="">
          {{> sidebars_goodmoves_latest}}
        </div>
      </div>
    </div>
  </div>
</div>