{{!-- <div class="latest-posts b-padding-full bg-gray">
  <div class="container v-padding-full">
    <div class="columns">
      {{#compare @root.data.supplimentaryResponses.posts_latest.hits.total ">" 0 ~}}
      <div class="column col-6 col-md-12">
        <h3 class="b-margin-full">
          Recent SCVO blog posts
        </h3>
        <ul>
          {{#each (split "1,2,3,4" ",") ~}}
          {{#with (getProperty @root.data.supplimentaryResponses.posts_latest.hits.hits (concat this '._source')) ~}}
          <li class="clearfix b-margin-full">
            <a href="/{{replace post_slug '_' '/'}}" class="pull-left r-margin no-underline"><img src="{{default og_image author_avatar}}" alt="{{{author_name_full}}}" class="avatar avatar-lg" /></a>
            <a href="/{{replace post_slug '_' '/'}}">{{{trim title}}}</a>
            <div class="caption">{{momentFormat (moment publish_on 'x') "Do MMMM YYYY"}}</div>
          </li>
          {{/with ~}}
          {{/each ~}}
        </ul>
        <h3 class="t-margin-full">Blogs</h3>
        <div class="columns">
          <div class="column col-3 col-xl-6 col-lg-12 b-margin">
            <a href="/about/blog" class="">SCVO news</a>
          </div>
          <div class="column col-3 col-xl-6 col-lg-12 b-margin">
            <a href="/support/blog" class="">Support & learning</a>
          </div>
          <div class="column col-3 col-xl-6 col-lg-12 b-margin">
            <a href="/funding/blog" class="">Funding</a>
          </div>
          <div class="column col-3 col-xl-6 col-lg-12 b-margin">
            <a href="/policy/blog" class="">Policy</a>
          </div>
        </div>
      </div>
      {{/compare ~}}
      {{#compare @root.data.tfnResponses.tfn_latest.hits.total.value ">" 0 ~}}
      <div class="column col-6 col-md-12 home-tfn">
        <h3 class="b-margin-full">
          <a href="https://tfn.scot?utm_source=scvo&utm_medium=website&utm_campaign=footer"><img src="{{~>asset_url url='images/logos/tfn-lochan.svg'~}}" alt="Third Force News" class="img-responsive" /></a>
          Recent stories
        </h3>
        <ul>
          {{#each (split "1,2,3" ",") ~}}
          {{#with (getProperty @root.data.tfnResponses.tfn_latest.hits.hits (concat this '._source')) ~}}
          <li class="clearfix b-margin-full">
            <a href="{{concat site path '?utm_source=scvo&utm_medium=website&utm_campaign=footer'}}">{{{trim title}}}</a>
            <div>{{{truncate description 140}}}</div>
            <div class="caption">{{momentFormat (moment d_published 'x') "Do MMMM YYYY"}}</div>
          </li>
          {{/with ~}}
          {{/each ~}}
        </ul>
        <a href="https://tfn.scot?utm_source=scvo&utm_medium=website&utm_campaign=footer">Read more on TFN</a>
      </div>
      {{/compare ~}}
    </div>
  </div>
</div> --}}

{{> sections_coronavirus title="Coronavirus Third Sector Information Hub" icon="exclamation-triangle" description="Find guidance and funding to help your organisation respond to the crisis" link="/support/coronavirus"}}

{{> footers_tfn_latest}}

{{!-- {{> footers_image image="images/home/home-footer.jpg"}} --}}