<div class="cjs-vacancy">
  <div class="container-fluid">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/jobs">Jobs</a></li>
      <li><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
      <li><a href="/jobs/community-jobs-scotland/vacancies">Vacancies</a></li>
      <li><a href="/jobs/community-jobs-scotland/vacancies/{{@root.request.params.phase}}">16–29 year olds {{#compare @root.request.params.phase "p52"}}(part-time){{/compare}}</a></li>
      <li><a href="/jobs/community-jobs-scotland/vacancies/{{@root.request.params.phase}}/{{@root.data.primaryResponse.hits.hits.[0]._id}}/{{@root.data.primaryResponse.hits.hits.[0]._source.title_slug}}">{{@root.data.primaryResponse.hits.hits.[0]._source.title}}</a></li>
      <li>Apply</li>
    </ul>
  </div>
  {{> headers_splash}}
  <div class="container-fluid page-content">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content v-margin">
          {{#if @root.data.auth ~}}
          {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
          {{#if application_arrangements ~}}
          <h3>Referral methods including arrangement details</h3>
          <p>
            {{{application_arrangements}}}
          </p>
          {{/if ~}}

          {{#if application_notes ~}}
          <h3>Additional application arrangements</h3>
          <p>
            {{{application_notes}}}
          </p>
          {{/if ~}}

          <h3>Application forms</h3>
          <ul class="mdc-list downloads">
            {{#ifAny (compare job_number "9992") (compare job_number "10005") ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Application%20form%20for%20cafe%20assistant%20cjs.doc'~}}" target="_blank" download>
                  <span class="title">Application Form</span>
                </a>
              </span>
            </li>
            {{else}}
            {{#compare job_number "9100" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Application%20for%20Employment.docx'~}}" target="_blank" download>
                  <span class="title">Application Form</span>
                </a>
              </span>
            </li>
            {{else}}
            {{#compare job_number "8500" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Admin%20Support%20Worker%20Application%20form%20090818.doc'~}}" target="_blank" download>
                  <span class="title">Application Form</span>
                </a>
              </span>
            </li>
            {{else}}
            {{#compare job_number "9919" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Admin%20Support%20Worker%20Application%20form%20090818_003.doc'~}}" target="_blank" download>
                  <span class="title">Application Form</span>
                </a>
              </span>
            </li>
            {{else}}
            {{#compare job_number "8495" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Application%20form%20%20Fundraising%20and%20Events%20worker%20_.doc'~}}" target="_blank" download>
                  <span class="title">Application Form</span>
                </a>
              </span>
            </li>
            {{else}}
            {{#compare job_number "8552" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Application%20Form.docx'~}}" target="_blank" download>
                  <span class="title">Application Form</span>
                </a>
              </span>
            </li>
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Guidance%20Notes.docx'~}}" target="_blank" download>
                  <span class="title">Guidance Notes</span>
                </a>
              </span>
            </li>
            {{else}}
            {{#compare organisation.name "Kibble" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Kibble%20Self%20Declaration%20Form.rtf'~}}" target="_blank" download>
                  <span class="title">Kibble Self Declaration Form</span>
                </a>
              </span>
            </li>
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/KibbleWorks%20Application%20Form%20(2015).doc'~}}" target="_blank" download>
                  <span class="title">KibbleWorks Application Form</span>
                </a>
              </span>
            </li>
            {{else}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/JCP%20CJS%20Application%20v8.doc'~}}" target="_blank" download>
                  <span class="title">JCP CJS Application</span>
                </a>
              </span>
            </li>
            {{/compare ~}}
            {{/compare ~}}
            {{/compare ~}}
            {{/compare ~}}
            {{/compare ~}}
            {{/compare ~}}
            {{/ifAny ~}}
            {{#compare @root.request.params.phase "p19v" ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/JCP%20CJS%20Eligibility%20Referral%20R9.doc'~}}" target="_blank" download>
                  <span class="title">JCP CJS Eligibility Referral</span>
                </a>
              </span>
            </li>
            {{else}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/CJS%20PT%20Dis%20Eligibility%20Referral%20Form%20v8.2.doc'~}}" target="_blank" download>
                  <span class="title">CJS PT Disability Eligibility Referral Form</span>
                </a>
              </span>
            </li>
            {{/compare ~}}
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/Vulnerable%20Group%20criteria.docx'~}}" target="_blank" download>
                  <span class="title">Vulnerable Group Criteria</span>
                </a>
              </span>
            </li>
            <li class="mdc-list-item">
              <span class="mdc-list-item__graphic far fa-file fa-file-word" aria-hidden="true"></span>
              <span class="mdc-list-item__text">
                <a href="{{~>asset_url url='cjs/SDS%20CJS%20Elig%20Ref%20Appl%20R9.doc'~}}" target="_blank" download>
                  <span class="title">SDS CJS Eligibility Referral Application</span>
                </a>
              </span>
            </li>
          </ul>

          <h3>Contact Details</h3>
          <ul class="fa-ul">
            {{#if supervisor.first_name ~}}
            <li>
              <span class="fa-li"><i class="far fa-user-alt"></i></span>
              {{{supervisor.first_name}}} {{{supervisor.last_name}}}
            </li>
            {{/if ~}}
            {{#if supervisor.email ~}}
            <li>
              <span class="fa-li"><i class="far fa-envelope"></i></span>
              <a href="mailto:{{{supervisor.email}}}">{{{supervisor.email}}}</a>
            </li>
            {{/if ~}}
            {{#if supervisor.phone ~}}
            <li>
              <span class="fa-li"><i class="far fa-phone fa-flip-horizontal"></i></span>
              {{{supervisor.phone}}}
            </li>
            {{/if ~}}
            <li>
              <span class="fa-li"><i class="far fa-building"></i></span>
              {{#if organisation.street}}{{{organisation.street}}}, {{/if}}
              {{#if organisation.area_town}}{{{organisation.area_town}}}, {{/if}}
              {{#if organisation.city_county}}{{{organisation.city_county}}}, {{/if}}
              {{#if organisation.postcode}}{{{organisation.postcode}}}{{/if}}
            </li>
          </ul>
          {{/with ~}}
          {{else}}
          <p>
            Please contact your local Jobcentre Plus or Skills Development Scotland advisor to access a CJS application form.
          </p>
          <p>
            <a href="https://www.skillsdevelopmentscotland.co.uk/contact-us/">Find your nearest Skills Development Scotland office</a><br />
            <a href="http://los.direct.gov.uk">Find your nearest Jobcentre Plus</a>
          </p>
          <p>
            If you work for SDS or JCP please <a href="/jobs/community-jobs-scotland/vacancies/sign-in?vacancy={{replace (replace request.url.path "/jobs/community-jobs-scotland/vacancies/" "") "/" "_"}}">sign in</a> to start the referral/application process for this job.
          </p>
          {{/if ~}}
          <hr />
          <p>
            Read our full <a href="/privacy/community-jobs-scotland" target="_blank" rel="noopener">Privacy Notice</a>.
          </p>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> sidebars_cjs_search}}
        </div>
        {{> footers_cjs}}
      </div>
    </div>
  </div>
</div>