<div class="bg-white">
  <div class="container v-padding-full">
    <div class="columns b-padding">
      <div class="column col-6 col-lg-12">
        <h2>
          Goodmoves
        </h2>
        <p>
          <strong>Find a job in the voluntary sector</strong>
        </p>
        <form action="/jobs/goodmoves/search" method="GET" class="search_form" data-auto-search="true">
          {{!-- <input type="hidden" name="utm_source" value="scvo" />
          <input type="hidden" name="utm_campaign" value="page" />
          <input type="hidden" name="utm_medium" value="website" /> --}}
          <div class="input-group">
            <input type="text" class="form-input input-lg" name="q" id="jobs-keywords" placeholder="Keywords" value="{{@root.request.params.query.q}}">
            <button type="submit" class="btn btn-primary input-group-btn btn-lg" aria-label="Search" alt="Search">
              <span class="far fa-search" aria-hidden="true" aria-label="Search"></span>
            </button>
          </div>
        </form>
        <div class="chip-set v-margin">
          <a href="https://goodmoves.com/jobs-in/aberdeen?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Aberdeen</a>
          <a href="https://goodmoves.com/jobs-in/dundee?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Dundee</a>
          <a href="https://goodmoves.com/jobs-in/edinburgh?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Edinburgh</a>
          <a href="https://goodmoves.com/jobs-in/glasgow?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Glasgow</a>
          <a href="https://goodmoves.com/jobs-in/highland?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Inverness</a>
          <a href="https://goodmoves.com/jobs-in/stirling?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Stirling</a>
          <a href="https://goodmoves.com/jobs-in/perth-and-kinross?utm_source=scvo&utm_campaign=page&utm_medium=website" class="chip">Perth</a>
        </div>
        <p>
          <a href="https://goodmoves.com/recruitment?utm_source=scvo&utm_campaign=page&utm_medium=website" class="btn">Advertise with us</a>
          <a href="https://goodmoves.com/browse?utm_source=scvo&utm_campaign=page&utm_medium=website" class="btn btn-link">Browse all jobs</a>
        </p>
      </div>
      <div class="column col-6 col-lg-12">
        <div class="cjs-brand">
          <h2>Community Jobs Scotland</h2>
          <p>
            <strong>Creating jobs in Scotland's voluntary sector for unemployed young people.</strong>
          </p>
          <p>
            Community Jobs Scotland works with hundreds of voluntary sector organisations and has supported over 8,000 unemployed young people into work.
          </p>
          <p>
            <a href="/jobs/community-jobs-scotland" class="btn">Find out more</a>
            <a href="/jobs/community-jobs-scotland/vacancies/sign-in" class="btn btn-link">JCP & SDS vacancy access</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- <div id="detailed-results-container" class="container-content container-map">
  <div id="map-full" data-map-name="fullMap" data-map-options='{}'></div>
</div>
{{#each @root.data.supplimentaryResponses.all_vacancies.hits.hits ~}}
  {{#if _source.geo_coords ~}}
    {{#each (arrayify _source.geo_coords) ~}}
      <marker style="display:none;" data-map="fullMap" data-lat="{{lat}}" data-lng="{{lon}}" data-title="{{../_source.title}}" data-type="{{../_type}}">
        <div class="map-content map-content-{{../_type}}">
          <h2 class="mdc-typography--headline6">
            {{#compare ../_type "===" "goodmoves-vacancy"}}
              <a href="https://goodmoves.com/vacancy/{{../_source.Id}}/{{../_source.title_slug}}?utm_source=scvo&utm_campaign=page&utm_medium=website" class="mdc-card__action">{{../_source.title}}</a>
            {{else}}
              <a href="/jobs/community-jobs-scotland/vacancies/p19v/{{../_source.Id}}/{{../_source.title_slug}}" class="mdc-card__action">{{../_source.title}}</a>
            {{/compare}}
          </h2>
          {{#if ../_source.organisation.name ~}}
          <div class="mdc-typography--body1 v-margin">
            {{../_source.organisation.name}}
          </div>
          {{/if ~}}
          <div class="mdc-typography--body2">
            {{#compare ../_type "===" "goodmoves-vacancy"}}
              <a href="https://goodmoves.com/vacancy/{{../_source.Id}}/{{../_source.title_slug}}?utm_source=scvo&utm_campaign=page&utm_medium=website" class="mdc-card__action">Find out more on Goodmoves</a>
            {{else}}
              <a href="/jobs/community-jobs-scotland/vacancies/p19v/{{../_source.Id}}/{{../_source.title_slug}}" class="mdc-card__action">Find out more</a>
            {{/compare}}
          </div>
        </div>
      </marker>
    {{/each ~}}
  {{/if ~}}
{{/each ~}}
<script src="{{~>asset_url url='all-vacancies.js'~}}"></script> --}}

{{#compare @root.data.supplimentaryResponses.goodmoves_latest.hits.total ">" 0 ~}}
<div class="bg-goodmoves">
  <div class="container b-padding-full">
    <h2 class="b-margin b-padding-full">
      Top jobs on Goodmoves&ensp;
      <a href="/jobs/search" class="caption">Find more jobs</a>
    </h2>
    <div class="columns">
      {{#each @root.data.supplimentaryResponses.goodmoves_latest.hits.hits ~}}
      <div class="column col-4 col-lg-6 col-md-12">
        {{> content_goodmoves_gist _source}}
      </div>
      {{/each ~}}
    </div>
  </div>
</div>
{{/compare ~}}

{{#compare @root.data.supplimentaryResponses.related_training.hits.total ">" 0 ~}}
<div class="bg-gray b-padding-full">
  <div class="container v-padding-full">
    <h2>
      Our training courses&ensp;
      <a href="/support/events?course_type=Training+Course" class="caption">See all courses</a>
    </h2>
    <div class="columns">
      {{#each @root.data.supplimentaryResponses.related_training.hits.hits ~}}
      <div class="column col-3 col-lg-4 col-md-6 col-sm-12">
        {{> content_event_gist _source}}
      </div>
      {{/each ~}}
    </div>
  </div>
</div>
{{/compare ~}}
