<div class="container">
  {{#if @root.data.primaryResponse.hits.hits.[0]._source.staff_profile ~}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source.staff_profile ~}}
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/about">About us</a></li>
    <li class="breadcrumb-item"><a href="/about/staff-team">Staff team</a></li>
    <li class="breadcrumb-item">{{{name_full}}}</li>
  </ul>

  <div class="b-padding-full b-margin-full">
    {{#if og_image ~}}
    <img src="{{og_image}}" alt="{{name_full}}" class="avatar avatar-xl float-left r-margin-full t-margin" />
    {{/if ~}}
    <h1>{{{name_full}}}</h1>
    <h3 class="no-margin">{{{job_title}}} at SCVO</h3>
  </div>
  {{/with ~}}
  {{else}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/posts">Posts</a></li>
    <li class="breadcrumb-item">{{{author_name_full}}}</li>
  </ul>

  <div class="b-padding-full b-margin-full">
    {{#if author_avatar ~}}
    <img src="{{author_avatar}}" alt="{{author_name_full}}" class="avatar avatar-xl float-left r-margin-full t-margin" />
    {{/if ~}}
    <h1>{{{author_name_full}}}</h1>
    {{#if author_job_title ~}}
    <h3 class="no-margin">{{{author_job_title}}}{{#ifAll author_job_title author_organisation_name}} at {{/ifAll ~}}{{{author_organisation_name}}}</h3>
    {{/if ~}}
  </div>
  {{/with ~}}
  {{/if ~}}
</div>