{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
<title>Posts about {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug}}{{#compare this "===" (lastItem (split @root.request.params.path '_'))}}{{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}{{/compare}}{{/each}} – SCVO</title>
<meta property="og:title" content="Posts about {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug}}{{#compare this "===" (lastItem (split @root.request.params.path '_'))}}{{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}{{/compare}}{{/each}} – SCVO" data-dynamic="true">
<link rel="alternate" type="application/rss+xml" title="Posts about {{#each @root.data.primaryResponse.hits.hits.[0]._source.categories_slug}}{{#compare this "===" (lastItem (split @root.request.params.path '_'))}}{{{lookup @root.data.primaryResponse.hits.hits.[0]._source.categories @index}}}{{/compare}}{{/each}} – SCVO" href="https://scvo.org{{@root.request.params.uri.pathname}}?_view=rss" />
{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
<meta property="og:image" content="https://storage.googleapis.com/scvo-cms/scvo-cms-content/images/logos/scvo-logo-square.png" data-dynamic="true">
<meta property="og:image:width" content="96" data-dynamic="true">
<meta property="og:image:height" content="96" data-dynamic="true">
{{#if rendered.json_ld ~}}
<script type="application/ld+json" data-dynamic="true">
{{{rendered.json_ld}}}
</script>
{{/if ~}}
{{/with ~}}
{{else}}
<title>Scottish Council for Voluntary Organisations – SCVO</title>
<meta property="og:title" content="Scottish Council for Voluntary Organisations – SCVO" data-dynamic="true">
{{/if ~}}