<div class="staff-list">
  <div class="container-fluid">
    <ul class="breadcrumbs">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About SCVO</a></li>
      <li>Staff team</li>
    </ul>
  </div>
  {{> headers_splash headerTextOverride="Staff team" typeOverride="page"}}
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          <form action="/about/staff-team" method="GET" [searchroute]="'staff_search'" data-auto-search="true">
            <div class="mdc-layout-grid filter">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-4-phone">
                  <h3>Filter</h3>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                  <div class="mdc-form-field">
                    <div class="mdc-select" data-mdc-auto-init="MDCSelect">
                      <span class="mdc-select__dropdown-icon"></span>
                      <select class="mdc-select__native-control" id="department" name="department" onchange="this.form.submit();">
                        <option value="all"{{#if @root.request.params.query.department}}{{else}} selected{{/if}}>All departments</option>
                        {{#each @root.data.supplimentaryResponses.departments.aggregations.departments.buckets ~}}
                        {{#if key ~}}
                        <option value="{{slugify key}}" {{#compare ../request.params.query.department "===" (slugify key)}}selected{{/compare}}>{{key}}</option>
                        {{/if ~}}
                        {{/each ~}}
                      </select>
                      <label class="mdc-floating-label mdc-floating-label--float-above" for="location">Department</label>
                      <div class="mdc-line-ripple"></div>
                    </div>
                  </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
                  <div class="mdc-form-field">
                    <div class="mdc-select" data-mdc-auto-init="MDCSelect">
                      <span class="mdc-select__dropdown-icon"></span>
                      <select class="mdc-select__native-control" id="city" name="city" onchange="this.form.submit();">
                        <option value="all"{{#if @root.request.params.query.city}}{{else}} selected{{/if}}>All cities</option>
                        {{#each @root.data.supplimentaryResponses.departments.aggregations.cities.buckets ~}}
                        <option value="{{slugify key}}" {{#compare ../request.params.query.city "===" (slugify key)}}selected{{/compare}}>{{key}}</option>
                        {{/each ~}}
                      </select>
                      <label class="mdc-floating-label mdc-floating-label--float-above" for="location">City</label>
                      <div class="mdc-line-ripple"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>

          {{#each @root.data.primaryResponse.aggregations.query.buckets ~}}
          <div class="v-margin staff-list">
            <h2>{{key}}</h2>
            {{#each staff.hits.hits ~}}
            {{#with _source ~}}
            <div class="list scvo-staff mdc-layout-grid">
              <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone name_full">
                  <a href="/about/staff-team/{{Id}}/{{slugify name_full}}">
                    {{trim name_full}}
                  </a>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone job_title">
                  {{#if job_title ~}}
                  {{replace job_title "Job Title:	" ""}}
                  {{/if ~}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-2-phone city">
                  {{#if city ~}}
                  {{city}}
                  {{/if ~}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-2-phone work_phone">
                  {{#if work_phone ~}}
                  <a href="tel:{{replace work_phone " " ""}}">{{work_phone}}</a>
                  {{/if ~}}
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-2-phone contact">
                  {{#if twitter ~}}
                  {{!-- <a href="{{#startsWith '@' twitter}}http://twitter.com/{{twitter}}{{else}}{{twitter}}{{/startsWith}}"><span class="fab fa-twitter" aria-hidden="true"></span></a> --}}
                  {{/if ~}}
                  {{#if linkedin ~}}
                  <a href="{{linkedin}}"><span class="fab fa-linkedin fa-fw" aria-hidden="true"></span></a>
                  {{/if ~}}
                  {{#if email ~}}
                  <a href="mailto:{{email}}"><span class="far fa-envelope fa-fw" aria-hidden="true"></span></a>
                  {{/if ~}}
                </div>
              </div>
            </div>
            {{/with ~}}
            {{/each ~}}
          </div>
          {{/each ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menus_about}}
        </div>
      </div>
    </div>
  </div>
</div>
