{{{@root.data.search.cms.hits.hits.[0]._source.content}}}

<div class="search-info">
  {{#if @root.request.params.category}}
    Showing <strong>{{@root.data.search.finalists.hits.total}}</strong> finalists in the
    <strong>{{{getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title")}}}</strong>
    category
  {{else}}
    Showing <strong>{{@root.data.search.finalists.hits.total}}</strong> finalists in all categories
  {{/if}}
</div>

{{#each @root.data.search.finalists.hits.hits ~}}
  {{#with _source ~}}
    <div class="{{category}} support card v-margin-full" data-id="{{Id}}">
      <section class="card-header">
        <h4 class="card-title">
          {{!-- <i class="fas fa-caret-right fa-fw"></i> --}}
          <a href="/scottish-charity-awards/finalists-2020/{{category}}/{{replace slug 'p_award_'}}" title="Find out more about {{{title}}}">
            {{{title}}}
          </a>
        </h4>
      </section>
      <section class="card-body">
        {{#if image_url}}
          <img src="{{image_url}}" style="max-width:200px;" class="pull-right l-margin-full hide-sm">
        {{/if}}
        {{{truncate (stripTags (default og_summary content)) 280}}}
      </section>
      <section class="card-footer">
        <p>
          <a href="/scottish-charity-awards/finalists-2020/{{category}}/{{replace slug 'p_award_'}}">Find out more</a>
        </p>
      </section>
      <section class="card-category" style="padding-left:.8rem;padding-right:.8rem;">
        {{#unless @root.request.params.category}}
          <span class="chip-set">
            <a href="/scottish-charity-awards/finalists-2020/{{category}}" title="Category: {{getProperty @root.route.metaData.awards-info (concat category ".title")}}" class="chip">
              {{{getProperty @root.route.metaData.awards-info (concat category ".title")}}}
            </a>
          </span>
        {{/unless}}
      </section>
    </div>
  {{/with ~}}
{{/each ~}}