<div class="container v-margin-full">
  <div class="b-margin-full splash-image splash-image-header">
     {{!-- style="background-image:url('{{~>asset_url url='images/home/charityawards-bg.jpg'~}}');" --}}
    <div class="splash-overlay splash-overlay-hidden v-padding-full" style="--aspect-ratio: 3/1;background-image:url('{{~>asset_url url='images/home/charityawards-bg.jpg'~}}');background-size:cover;">
      <div class="header-logo hide-sm">
        <div class="header-image">
          <img src="{{~>asset_url url='images/awards/logo_2020_inline_reverse.svg'~}}" alt="Scottish Charity Awards">
        </div>
        <h1 class="text-white">The stars are out</h1>
        <p class="header-text">
          Friday 25 September<br />
          <a href="https://twitter.com/hashtag/scotcharityawards" target="_blank" class="no-ext">#ScotCharityAwards</a>
        </p>
      </div>
      <div class="header-logo show-sm">
        <img src="{{~>asset_url url='images/awards/logo_2020_stacked_reverse.svg'~}}" alt="Scottish Charity Awards">
        <h1 class="text-white">The stars are out</h1>
        <p class="header-text">
          Friday 25 September<br />
          <a href="https://twitter.com/hashtag/scotcharityawards" target="_blank" class="no-ext">#ScotCharityAwards</a>
        </p>
      </div>
    </div>
  </div>
</div>

{{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}

<div class="search-info">
  {{#if @root.request.params.category}}
    Showing <strong>{{@root.data.search.finalists.hits.total}}</strong> finalists in the
    <strong>{{{getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title")}}}</strong>
    category
  {{else}}
    Showing <strong>{{@root.data.search.finalists.hits.total}}</strong> finalists in all categories
  {{/if}}
</div>

{{#each @root.data.search.finalists.hits.hits ~}}
  {{#with _source ~}}
    <div class="columns v-margin-full">
      <div class="column col-9 col-lg-8 col-md-12">
        <div class="{{category}} support card" data-id="{{Id}}">
          <section class="card-header">
            <h4 class="card-title no-padding">
              {{!-- <i class="fas fa-caret-right fa-fw"></i> --}}
              <a href="/scottish-charity-awards/finalists-2020/{{category}}/{{replace slug 'p_award_'}}" title="Find out more about {{{title}}}">
                {{{title}}}
              </a>
            </h4>
          </section>
          <section class="card-body">
            {{{truncate (stripTags (default og_summary content)) 280}}}
          </section>
          <section class="card-footer">
            <p>
              <a href="/scottish-charity-awards/finalists-2020/{{category}}/{{replace slug 'p_award_'}}">
                Find out more
                {{#unless @root.request.cookies.charity_awards_already_voted}}
                &amp; vote
                {{/unless}}
              </a>
            </p>
          </section>
          <section class="card-category" style="padding-left:.8rem;padding-right:.8rem;">
            {{#unless @root.request.params.category}}
              <span class="chip-set">
                <a href="/scottish-charity-awards/finalists-2020/{{category}}" title="Category: {{getProperty @root.route.metaData.awards-info (concat category '.title')}}" class="chip {{slugify (getProperty @root.route.metaData.awards-info (concat category '.title'))}}">
                  {{{getProperty @root.route.metaData.awards-info (concat category ".title")}}}
                </a>
              </span>
            {{/unless}}
          </section>
        </div>
      </div>
      {{#if image_url}}
      <div class="column col-3 col-lg-4 col-md-12">
        <img src="{{image_url}}" style="max-width:100%; padding-top:0.8rem;" class="pull-right l-margin-full hide-sm">
      </div>
      {{/if}}
    </div>
  {{/with ~}}
{{/each ~}}