{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <div class="columns v-margin-full">
    <div class="column col-8 col-lg-7 col-md-12">
      <div class="b-margin-full">
        {{{replace (replace (replace (replace (replace content "@scvo.org.uk" "@scvo.scot") "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
      </div>

      {{!-- <img src="{{~>asset_url url='images/awards/peoples-choice.svg'~}}" class="img-responsive" title="Peoples Choice Award" /> --}}
      <p>
        <span class="label label-warning">The voting function is in <strong>test mode</strong> and your vote will not be counted for the 2021 awards - the record of votes will be reset before Thursday 12th</span>
      </p>

      {{#unless @root.request.cookies.charity_awards_already_voted}}
        <script type="text/javascript">document.write('<script src="http' + ( ("https:" == document.location.protocol) ? "s" : "") + '://www.surveygizmo.eu/s3/90371663/Scottish-Charity-Awards-2021-voting?__output=embedjs&vote={{@root.request.params.vote}}&category={{@root.request.params.category}}&host={{@root.request.uri.hostname}}&categoryTitle={{urlencode (getProperty @root.route.metaData.awards-info (concat @root.request.params.category '.title'))}}&candidateTitle={{urlencode @root.data.primaryResponse.hits.hits.[0]._source.title}}&__ref=' + escape(document.location.href) + '" type="text/javascript" ></scr' + 'ipt>');</script>
        <style>.sg-survey{display:none; }</style>
      {{else}}
        {{#compare @root.request.params.vote @root.request.cookies.charity_awards_already_voted}}
          <strong>Thanks for voting for {{{title}}}</strong>
        {{else}}
          <strong>You have already voted in the 2021 Scottish Charity Awards</strong>
        {{/compare}}
      {{/unless}}


      {{#if image_url}}
        <div class="charity-awards-image show-md">
          <img src="{{image_url}}" class="img-responsive" style="width:100%;" />
        </div>
      {{/if}}
    </div>
    <div class="column col-4 col-lg-5 col-md-12">
      {{#if image_url}}
        <div class="pull-right l-margin-full charity-awards-image hide-md">
          <img src="{{image_url}}" class="img-responsive t-padding-full" style="width:100%;" />
        </div>
      {{/if}}
    </div>
  </div>
{{/with ~}}

<script>
  gtag('event', 'charity-awards-2021-hit', {
    event_category: 'entrant',
    event_label: {{{stringify (default @root.request.params.vote 'unknown')}}}
  });
</script>
<script>
  {{#if @root.request.params.query.sg_sessionid}}
    window.location.hash = '#vote';
  {{/if}}
  console.log('Registering jQuery on load');
  document.addEventListener('DOMContentLoaded', function() {
    window.setTimeout(function() {
      var voteSuccessElement = $('#vote-success');
      console.log('Checking vote success element', voteSuccessElement);
      if (voteSuccessElement.length > 0) {
        console.log('Setting redirect vars');
        var slug = {{{stringify (default @root.request.params.vote '')}}};
        var category = {{{stringify (default @root.request.params.category '')}}};

        console.log('Getting charity awards cookie');
        var cookie = getCookie('charity_awards_already_voted');
        console.log('Got cookie', cookie);

        if (slug && category) {
          console.log('Got a slug and category.', slug, category);
          console.log('Setting cookie');
          setCookie('charity_awards_already_voted', slug, 90);
          if (!cookie) {
            console.log('As there was no previous cookie, firing GA event');
            gtag('event', 'charity-awards-2021', {
              event_category: category,
              event_label: slug
            });
          }
          console.log('Redirecting back to finalist page');
          window.location.href = '/scottish-charity-awards/finalists-2021/' + category + '/' + slug + '#vote';
        } else {
          console.log('No slug or category specified. Redirecting to main finalist list');
          window.location.href = '/scottish-charity-awards/finalists-2021';
        }
      }
    }, 5000);

    function setCookie(name, value, days) {
      var expires = "";
      if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days*24*60*60*1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }

    function getCookie(name) {
      var value = "; " + document.cookie;
      var parts = value.split("; " + name + "=");
      if (parts.length == 2) return parts.pop().split(";").shift();
    }
  });
</script>
