{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
{{/if ~}}

<p>
  Our upcoming courses include:
</p>

<ul>
  {{#each @root.data.supplimentaryResponses.events.hits.hits ~}}
  {{#with _source ~}}
  <li>{{#compare (momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") "mm") "00"}}{{momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") "Do MMMM\, h"}}{{else}}{{momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") "Do MMMM\, h:mm"}}{{/compare}}{{#compare date_start date_end}}{{momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") ":mma"}}{{else}}{{momentFormat (momentConvertTz (moment date_end "x") "UTC" "Europe/London") "\-h:mma"}}{{/compare}} <a href="{{path}}">{{{title}}}</a></li>
  {{/with ~}}
  {{/each ~}}
</ul>

<p>
  Our practical and innovative training programme is designed with you and the voluntary sector in mind, so you’ll learn top tips and tools for everyday use.  Classes are structured but flexible and numbers are kept small because we want you to achieve something amazing when attending our engaging and inspiring courses, all of which are perfect for upskilling or helping you take the next step in your career.
</p>

<p>
  We are passionate about learning in the voluntary sector and are here to support your learning journey – <a href="mailto:training@scvo.org.uk">submit your training enquiry</a>.
</p>

<p>
  You can view all of SCVO’s training courses on our <a href="/support/events?type=Training+Course">events & training calendar</a>.
</p>

<p class="b-margin-full b-padding-full">
  If you are looking for e-learning, the <a href="/support/running-your-organisation/scope-elearning-platform">SCOPE platform</a> provides entry-level information and learning to help you run your voluntary sector organisation.
</p>
