{{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{{@root.data.primaryResponse.hits.hits.[0]._source.content}}}
{{/if ~}}

<p>
  Our upcoming courses include:
</p>

<ul>
  {{#each @root.data.supplimentaryResponses.events.hits.hits ~}}
  {{#with _source ~}}
  <li>{{#compare (momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") "mm") "00"}}{{momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") "Do MMMM\, h"}}{{else}}{{momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") "Do MMMM\, h:mm"}}{{/compare}}{{#compare date_start date_end}}{{momentFormat (momentConvertTz (moment date_start "x") "UTC" "Europe/London") ":mma"}}{{else}}{{momentFormat (momentConvertTz (moment date_end "x") "UTC" "Europe/London") "\-h:mma"}}{{/compare}} <a href="{{path}}">{{{title}}}</a></li>
  {{/with ~}}
  {{/each ~}}
</ul>

<p class="b-margin-full b-padding-full">
  You can view all of SCVO’s training courses on our <a href="/support/events?type=Training+Course">events & training page</a>.
</p>