<div class="full scvo-cms scvo-cms-page scvo-cms-page-{{wpid}}">
  {{#ifNone (compare @root.request.url.pathname "/support/coronavirus") (compare @root.request.url.pathname "/support/coronavirus/events") ~}}
  <div class="page-info">
    <div class="page-info-item page-info-updated text-white label label-warning" title="{{#compare (momentFormat (moment publish_on 'x') 'Do MMMM YYYY') '===' (momentFormat (moment updated 'x') 'Do MMMM YYYY')}}Published{{else}}Last updated{{/compare}} on {{momentFormat (moment updated 'x') 'Do MMMM YYYY'}} at {{momentFormat (moment updated 'x') 'HH:mm:ss'}}">
      <span class="far fa-calendar-alt" aria-hidden="true"></span>
      Last modified on {{momentFormat (moment updated 'x') "Do MMMM YYYY"}}
    </div>
  </div>
  {{/ifNone ~}}

  <div class="t-margin-full">
    {{{replace (replace (replace (replace content "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
  </div>
</div>
