<div class="bg-secondary">
  <div class="container v-padding-full v-margin-full text-white">
    <strong>TEST FORM</strong>&emsp;This application form is currently in development and all responses will be deleted before the funds open on Monday 21st September
  </div>
</div>

<div class="container">
  <ul class="breadcrumb breadcrumb-length-4" aria-hidden="true">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus">Coronavirus Third Sector Information Hub</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding">Funding</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government">Funds: Scottish Government</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government/community-recovery">Recovery Programme</a></li>
    <li class="breadcrumb-item">{{#ifAny @root.request.params.session_key @root.request.body.funder (compare @root.route.name "coronavirus_recovery_apply_complete")}}{{#compare @root.route.name "coronavirus_recovery_apply_already_awarded"}}Sorry{{else}}Edit application{{/compare}}{{else}}Eligibility checker{{/ifAny}}</li>
  </ul>
</div>
<div class="container">
  <h1 class="font-default">{{#ifAny @root.request.params.session_key @root.request.body.funder (compare @root.route.name "coronavirus_recovery_apply_complete")}}{{#compare @root.route.name "coronavirus_recovery_apply_complete"}}Thank you{{else}}{{#compare @root.route.name "coronavirus_recovery_apply_already_awarded"}}Sorry{{else}}Edit application{{/compare}}{{/compare}}{{else}}Edit application{{/ifAny}}</h1>
</div>