<div class="bg-white">
  <div class="container t-padding-full">
    {{#*inline "childMenu" ~}}
    {{#ifAll path (ifAny description icon) ~}}
    <div class="column col-6 col-xl-12">
      <div class="card b-padding-full">
        {{#ifAny label label_full ~}}
        <div class="card-heading">
          <h2 class="card-title">
            <a href="{{path}}">{{#if icon}}<span class="fal fa-fw fa-{{icon}} fa-2x">&nbsp;</span>{{/if}}{{#if label_full}}{{{label_full}}}{{else}}{{{label}}}{{/if}}</a>
          </h2>
        </div>
        {{/ifAny ~}}
        {{#if description ~}}
        <div class="card-body">{{{description}}}</div>
        {{/if ~}}
        <div class="card-footer">
          <a href="{{path}}">Find out more</a>
        </div>
      </div>
    </div>
    {{/ifAll ~}}
    {{/inline ~}}

    <div class="v-padding-full">
      {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
      {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
      <div class="full scvo-cms scvo-cms-page scvo-cms-page-{{wpid}}">
        <div class="linked-cards support support-organisation">
          {{#each @root.context.metaData.sidebarMenus ~}}
            {{#each this ~}}
              {{#if children ~}}
                {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                  <div class="columns">
                    {{#each this.children ~}}
                    {{> childMenu this level=2}}
                    {{/each ~}}
                  </div>
                {{else}}
                  {{#each children ~}}
                    {{#if children ~}}
                      {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                        <div class="columns">
                          {{#each this.children ~}}
                          {{> childMenu this level=3}}
                          {{/each ~}}
                        </div>
                      {{else}}
                        {{#each children ~}}
                          {{#if children ~}}
                            {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                              <div class="columns">
                                {{#each this.children ~}}
                                {{> childMenu this level=4}}
                                {{/each ~}}
                              </div>
                            {{else}}
                              {{#each children ~}}
                                {{#if children ~}}
                                  {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                                    <div class="columns">
                                      {{#each this.children ~}}
                                      {{> childMenu this level=5}}
                                      {{/each ~}}
                                    </div>
                                  {{else}}
                                  {{#each children ~}}
                                    {{#if children ~}}
                                      {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                                        <div class="columns">
                                          {{#each this.children ~}}
                                          {{> childMenu this level=6}}
                                          {{/each ~}}
                                        </div>
                                      {{else}}
                                        {{#each children ~}}
                                          {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                                          <div class="columns">
                                            {{#each ../this.children ~}}
                                            {{> childMenu this level=6}}
                                            {{/each ~}}
                                          </div>
                                          {{/ifAll ~}}
                                        {{/each ~}}
                                      {{/ifAll ~}}
                                    {{else}}
                                      {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                                        <div class="columns">
                                          {{#each ../this.children ~}}
                                          {{> childMenu this level=5}}
                                          {{/each ~}}
                                        </div>
                                      {{/ifAll ~}}
                                    {{/if ~}}
                                  {{/each ~}}
                                  {{/ifAll ~}}
                                {{else}}
                                  {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                                    <div class="columns">
                                      {{#each ../this.children ~}}
                                      {{> childMenu this level=4}}
                                      {{/each ~}}
                                    </div>
                                  {{/ifAll ~}}
                                {{/if ~}}
                              {{/each ~}}
                            {{/ifAll ~}}
                          {{else}}
                            {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                              <div class="columns">
                                {{#each ../this.children ~}}
                                {{> childMenu this level=3}}
                                {{/each ~}}
                              </div>
                            {{/ifAll ~}}
                          {{/if ~}}
                        {{/each ~}}
                      {{/ifAll ~}}
                    {{else}}
                      {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                      <div class="columns">
                        {{#each ../this.children ~}}
                        {{> childMenu this level=2}}
                        {{/each ~}}
                      </div>
                      {{/ifAll ~}}
                    {{/if ~}}
                  {{/each ~}}
                {{/ifAll ~}}
              {{else}}
                {{#ifAll route (regexMatch @root.request.url.pathname route "gi") ~}}
                {{/ifAll ~}}
              {{/if ~}}
            {{/each ~}}
          {{/each ~}}
        </div>
      </div>
      {{/with ~}}
      {{/if ~}}
    </div>
  </div>
</div>