<div class="checkup-section b-padding-full" id="checkup-confirmation">
  <div class="checkup-section-header b-padding-full v-margin-full">
    <div class="container-fluid">
      <div class="container-content">
        {{> checkup_progress progress=99}}
        <div class="mdc-layout-grid">
          <div class="mdc-layout-grid__inner">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop mdc-layout-grid__cell--span-1-tablet mdc-layout-grid__cell--span-1-phone">
              <img src="{{~>asset_url url='images/icon-confirm@2x.png'~}}" title="Submitting" class="icon" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-7-tablet mdc-layout-grid__cell--span-3-phone">
              <h1 class="mdc-typography--headline3">Please wait</h1>
              <div class="mdc-typography--body1">
                Processing your answers...
                <span class="fas fa-fw fa-spinner fa-spin"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="container-content">
      {{#with @root.data.response ~}}
      {{#ifAll (compare @root.data.currentSite.name "default") (compare area "scotland") ~}}
      <iframe src="https://www.surveygizmo.eu/s3/90133620/SCVO-Digital-Checkup?__no_style=true&s1={{score_leadership_culture_and_skills}}&s2={{score_tools_and_equipment}}&s3={{score_content_marketing_and_data}}&s4={{score_cyber_resilience}}&overall={{score_total}}&income_band={{urlencode income_band}}&topic={{urlencode topic}}&name={{urlencode name}}&email={{urlencode email}}&web_organisation={{urlencode organisation}}&area={{urlencode area}}&postcode={{urlencode postcode}}&next_project={{urlencode next_project}}&barriers={{urlencode barriers}}&support={{#if support}}Yes+please{{else}}No+thanks{{/if}}&rid={{@root.data.rid}}{{#if @root.data.response.sid}}&sid={{@root.data.response.sid}}{{/if}}" frameborder="0" width="700" height="10" style="overflow:hidden;visibility:hidden;"></iframe>
      <script type="text/javascript">
        window.addEventListener("message", (event) => {
          if (event.data.hasOwnProperty('event')) {
            switch (event.data.event) {
              case ('goToResults'):
                goToResults();
                break;
            }
          }
        }, false);
      </script>
      {{else}}
      <script type="text/javascript">
        window.setTimeout(function() {
          goToResults();
        }, 6000);
      </script>
      {{/ifAll ~}}
      {{/with ~}}
    </div>
  </div>
</div>
<script type="text/javascript">
  function goToResults() {
    window.location.href = '/checkup/results?rid={{#if @root.data.response.sid}}{{@root.data.response.sid}}{{else}}{{@root.data.rid}}{{/if}}';
  }
</script>
