{{#*inline "to_percentage"}}{{round (multiply (divide (subtract score lower) (subtract upper lower)) 100) "up"}}{{/inline}}
<div class="page">
  <div class="container-fluid">
    {{> breadcrumbs}}
  </div>
  {{> headers_splash headerTextOverride="Digital Check-up Results" headerTextCaptionOverride=@root.request.params.query.web_organisation}}
  <div class="container-fluid">
    {{> leading_quotation sourcePage=@root.data.primaryResponse.hits.hits.[0]._source}}
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content">
          <h2>
            {{#if @root.request.params.query.web_organisation ~}}
            {{@root.request.params.query.web_organisation}}
            {{else}}
            Your
            {{/if ~}}
            digital checkup result
          </h2>
          {{#compare @root.request.params.query.income_band "===" "0" ~}}
          <p>
            Your overall score was {{> to_percentage score=@root.request.params.query.overall lower=-18 upper=138}}%, compared to an average of {{round @root.data.supplimentaryResponses.data_averages.aggregations.total_stats.avg "up"}}% for all organisations who have completed the checkup. If you want to see how you compare to organisations of a similar size, please enter your income bracket as you complete the survey.
          </p>
          {{else}}
          {{#each @root.data.supplimentaryResponses.data_averages.aggregations.grouped_by_income_band.buckets ~}}
          {{#compare this.key "===" @root.request.params.query.income_band ~}}
          <p>
            Your overall score was {{> to_percentage score=@root.request.params.query.overall lower=-18 upper=138}}%, the average for an organisation in your income bracket was {{round this.total_stats.avg "up"}}% (based on a sample of {{this.doc_count}}).
          </p>
          {{/compare ~}}
          {{/each ~}}
          {{/compare ~}}

          {{#if @root.request.params.query.overall ~}}
          <div class="key">
            <ul>
              <li class="key-your">Your scores</li>
              <li class="key-average">Average scores</li>
            </ul>
          </div>

          <div class="radarChart"></div>
          {{/if ~}}

          <h3>
            Book a follow-up call to review your results and explore next steps
          </h3>
          <!-- Calendly inline widget begin -->
          <div class="calendly-inline-widget" data-url="https://calendly.com/john-fitzgerald/check-up" style="width:100%;height:620px;"></div>
          <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
          <!-- Calendly inline widget end -->

          {{#if @root.request.params.query.topic ~}}
          {{#compare @root.request.params.query.topic "===" "leadership" ~}}
          <h3>
            The area that you selected as your highest priority was leadership, culture, and skills
          </h3>
          <p>
            You scored {{> to_percentage score=@root.request.params.query.s1 lower=-4 upper=20}}% compared to an average of {{round @root.data.supplimentaryResponses.data_averages.aggregations.leadership_culture_and_skills_stats.avg "up"}}% for all organisations who have completed the checkup.
          </p>
          <p>
            "Digitally mature" organisations are those who recognise the value of digital technology and embedded it throughout their organisation, including; their overall strategy, their board of trustees; a digitally engaged leadership team and a digitally confident staff team.
          </p>
          <p>
            The 2018 Charity Digital Skills Report reveals that <a href="https://www.skillsplatform.org/content/charity-digital-skills-report">45% of charities who took part did not have a digital strategy</a>. Developing a Digital Strategy is good way to start embracing the strategic advantages that digital offers. But digital technologies are an enabler for the whole of your organisation, not just your digital or communications function. So an important further step is to embed digital throughout your overall strategy.
          </p>
          <ol>
          	<li><strong>Cultivate a culture that is receptive to new ways of working</strong>
          	Leaders from across Scotland's voluntary sector have drawn up a manifesto; <a href="/news-campaigns-and-policy/research/digital-call-to-action/">"Creating a digitally confident voluntary sector in Scotland: a call to action"</a> to commit to seizing the opportunities presented by new technology and the internet. Join us on 23rd October for a followup event – <a href="/digital/events/a1v0n000008dp5eqau-digitally-confident-scotland">"Digitally Confident Scotland – making it happen"</a>
          	 </li>
          	<li><strong>Understand and improve the skills in your organisation</strong>
          	Increased digital skills and confidence are not just useful for you as an organisation, but also for you staff team in their personal and professional lives.

          	Use the <a href="/digital/participation/basic-digital-skills/">basic digital skills framework</a> and questionnaire to assess your staff and/or volunteers across 5 key areas: Managing information; Communicating; Transacting; Problem solving; and Creating. If you're interested in boosting the digital skills of people and communities you work with, check out our <a href="/digital/participation/champions">Digital Champions Training</a>.
          	 </li>
          	<li><strong>Further reading on Digital Leadership and Culture:</strong></li>
          </ol>
          <ul>
          	<li><a href="https://digileaders.com/7-digital-skills-charity-leader-needs">The 7 digital skills every charity leader needs</a> The New Reality – Report</li>
          	<li><a href="http://micro.skillsplatform.org/charitydigitaltoolkit-chapter2/">Charity Digital Toolkit - chapter 2</a> – Leadership</li>
          </ul>

          {{else}}
          {{#compare @root.request.params.query.topic "===" "tools" ~}}
          <h3>
            The area that you selected as your highest priority was ICT (tools and equipment)
          </h3>
          <p>
            You scored {{> to_percentage score=@root.request.params.query.s2 lower=-2 upper=35}}% compared to an average of {{round @root.data.supplimentaryResponses.data_averages.aggregations.tools_and_equipment_stats.avg "up"}}% for all organisations who have completed the checkup.
          </p>
          <p>
            IT tools and systems are a key part of digital change. Ideally you want them to be a positive enabler rather than a barrier. If your tools and systems are making you say 'no' to new ways of working, you may be using the wrong tools. Cloud based services and open standards mean that many more solutions are available at low or no cost. A great starting point is the <a href="https://charitycatalogue.com/">Charity Catalogue</a> which lists helpful tools and platforms suitable for charities of all sizes.
          </p>
          <ol>
          	<li><strong>Cloud Computing</strong>: If you're not already using cloud-based services, this is a quick win. Moving to the cloud <a href="/post/2017/07/03/office-365-and-g-suite-for-not-for-profits">offers many benefits for charities</a>, including reduced costs, ease of access, easily scalable and increased security. The NCVO guide: <a href="https://knowhownonprofit.org/how-to/how-to-move-to-the-cloud">How to move to the cloud</a> is an excellent starting point. Also check out the Tech Trust for comparisons and discounted software for charities.</li>
          	<li><strong>Talk to your IT provider:</strong> Discussing your issues and describing the experience you want with your provider can make a big difference to the service you are provided.
          	 </li>
          	<li><strong>Talk to someone else:</strong> Getting a second opinion and even looking for a new provider could help solve your issues. The SCVO IT team can provide some advice and also <a href="/services/managed-it">offer a managed IT service to Scottish charities</a>, including: specialised advice on cloud services such as Office 365, support to find and buy the best equipment and software, help with switching to new computers and systems.
          	 </li>
          	<li><strong>Online giving: </strong>According to Blackbaud's 2016 Charitable Giving Report, only 7.2% of all individual donations to charities in the UK were made online. But about 50% of potential donors would prefer to give online. See <a href="https://fundraising.co.uk/2018/02/09/round-up-low-cost-no-cost-fundraising-platforms/#.W4O3HuhKi70">UK Fundraising for a roundup of free or low cost online fundraising tools</a>.</li>
          </ol>

          {{else}}
          {{#compare @root.request.params.query.topic "===" "data" ~}}
          <h3>
            The area that you selected as your highest priority was content, marketing, and data
          </h3>
          <p>
            You scored {{> to_percentage score=@root.request.params.query.s3 lower=-10 upper=66}}% compared to an average of {{round @root.data.supplimentaryResponses.data_averages.aggregations.content_marketing_and_data_stats.avg "up"}}% for all organisations who have completed the checkup.
          </p>
          <p>
            This section focuses on three elements; how you understand your audiences, how you communicate with your audiences, and the management of the data you collect.
          </p>
          <h4>Content types</h4>
          <p>
            Social media allows you to reach thousands of people online, and inspire conversations amongst your supporters. But to do this well, you need engaging content. The Business Gateway's <a href="https://www.bgateway.com/documents/guides/Business_Gateway_Digital_Boost_%E2%80%93_PEC_Guide-18June2017.pdf">"Creating Engaging Content Guide"</a> can help you to understand the needs of your users and how you could add to what you already do.
          </p>
          <h4>Marketing</h4>
          <p>
            There are lots of free resources on marketing in the <a href="https://www.charitycomms.org.uk/category/marketing">Charity Comms knowledge hub</a>. See also a useful introduction <a href="https://www.charitychoice.co.uk/the-fundraiser/how-to-conduct-basic-audience-insight-research-for-fundraisi/634">to harnessing audience insight for effective fundraising</a> on Charity Choice.
          </p>
          <h4>Service design</h4>
          <p>
            If you're building an online service to help your beneficiaries, you might want to check out Better Digital's <a href="https://betterdigital.services/principles/">service design principles</a>.
          </p>
          <h4>Explore the Charity Catalogue for new tools</h4>
          <p>
            A great starting point is the <a href="https://charitycatalogue.com/">Charity Catalogue</a> which lists helpful tools and platforms suitable for charities of all sizes.
          </p>
          <h4>Our top 10 tools</h4>
          <ol>
          	<li>Salesforce: An enterprise-level CRM, available free to charities for up to 10 users. Complex to set up though.</li>
          	<li>Slack: A multi-platform messaging systems, replaces email with in our team</li>
          	<li>Trello: A very powerful collaborative planning tool</li>
          	<li>Canva: A very handy online graphics editor, ideal for social media images</li>
          	<li>Zoom: Simple, flexible and reliable video conferencing.</li>
          	<li>Mailchimp: Email campaign system. Free for small lists</li>
          	<li>Tweetdeck: Powerful Twitter management and scheduling tool</li>
          	<li>Cloud storage: (Microsoft 365 or G Suite). If you're not in the cloud you should be.</li>
          	<li>Google Analytics: Worth getting this set up and running to help understand how users are interacting with your content.</li>
          	<li>Lastpass: Secure password management across all your devices. Teams version also available.</li>
          </ol>
          <h4>Data collection, storage and use</h4>
          <p>
            If you'd like more information on Data collection, storage and use and on the changes to regulation under GDPR, you should start with the blogs, training videos, tools, checklists relating at the ICO website.
          </p>
          <h4>How are charities using data?</h4>
          <ul>
          	<li>Blog about <a href="http://www.datadrivennonprofits.com/blog/2016/9/18/more-data-driven-goodness">how to use data for good</a> from Steve Maclaughlin, the author of The Data Driven Nonprofit.</li>
          	<li>A free (registration required) report on <a href="https://pages.justgiving.com/whats-data-got-to-do-with-it">how organisations are using data to improve their fundraising</a> from Just Giving.</li>
          	<li>An article in the Stanford Social Innovation Review on<a href="https://ssir.org/articles/entry/the_power_of_lean_data"> using 'lean data' to measure social impact more effectively</a>.</li>
          	<li>A report on how charities are increasingly <a href="https://www.thinknpc.org/publications/global-innovations-in-measurement-and-evaluation/">using digital tools to improve their evaluation</a>.</li>
          </ul>

          {{else}}
          {{#compare @root.request.params.query.topic "===" "cyber" ~}}
          <h3>
            The area that you selected as your highest priority was cyber resilience and online threats
          </h3>
          <p>
            You scored {{> to_percentage score=@root.request.params.query.s4 lower=-2 upper=17}}% compared to an average of {{round @root.data.supplimentaryResponses.data_averages.aggregations.cyber_resilience_stats.avg "up"}}% for all organisations who have completed the checkup.
          </p>
          <h4>Board level responsibility</h4>
          <p>
            Protecting the organisation’s online security is as much the board’s responsibility as ensuring that staff, finances and possessions are kept safe in an office environment. The risks should be assessed and Pro-active management of the cyber risk at Board level is critical. Further information can be found at <a href="https://www.ncsc.gov.uk/guidance/10-steps-board-level-responsibility">10 Steps: A Board Level Responsibility</a>
          </p>
          <h4>What should you do now to protect yourselves?</h4>
          <p>
            The National Cyber Security Centre has produced guidance <a href="https://www.ncsc.gov.uk/charity">'Cyber Security: Small Charity Guide'</a> as well as their threat report <a href="https://www.ncsc.gov.uk/guidance/cyber-threat-assessment-uk-charity-sector">'Charity Sector Threat Assessment'</a> to help charities be aware of the threats and take appropriate actions to protect themselves.
          </p>
          <p>
            Follow the advice of the <a href="https://www.ncsc.gov.uk/">National Cyber Security Centre</a> to reduce the risks to your organisation by:
          </p>
          <ul>
          	<li>Keeping your organisation’s software patches up to date</li>
          	<li>Using proper antivirus software services</li>
          	<li>Educate and train your staff to be cyber-aware</li>
          </ul>
          <h4>What should you do in the longer term?</h4>
          <p>
            Cyber-attacks are as great a risk as other forms of crime. Therefore voluntary sector organisations should:
          </p>
          <ul>
          	<li>Ensure your information security and cyber threats are included on your risk register and monitored at Board level. Trustees should be asking: Do you we have adequate controls to defend against cyber-attacks? Are we confident in our ability to recover quickly should the worst happen?</li>
          	<li>Consider providing regular training for staff on basic digital skills, information security and data protection.</li>
          	<li>Consider external accreditation, such as Cyber Essentials, to assess your defence against cyber threats.</li>
          </ul>

          {{else}}
          <!-- Could not determine topic -->
          {{/compare ~}}
          {{/compare ~}}
          {{/compare ~}}
          {{/compare ~}}
          {{/if ~}}

          <h3>Next steps</h3>
          <p>
            <a href="/digital/about">Sign up to our e-bulletin</a> to get details of our events, training and other support for digital change.
          </p>

          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menus_digital_evolution}}
        </div>
        {{> related_posts}}
      </div>
    </div>
  </div>
  {{> footers_digital}}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
<script>

/////////////////////////////////////////////////////////
/////////////// The Radar Chart Function ////////////////
/////////////// Written by Nadieh Bremer ////////////////
////////////////// VisualCinnamon.com ///////////////////
/////////// Inspired by the code of alangrafu ///////////
/////////////////////////////////////////////////////////

function RadarChart(id, data, options) {
  var cfg = {
    w: 600,				//Width of the circle
    h: 600,				//Height of the circle
    margin: {top: 5, right: 5, bottom: 5, left: 5}, //The margins of the SVG
    levels: 4,				//How many levels or inner circles should there be drawn
    maxValue: 0, 			//What is the value that the biggest circle will represent
    labelFactor: 1.2, 	//How much farther than the radius of the outer circle should the labels be placed
    wrapWidth: 60, 		//The number of pixels after which a label needs to be given a new line
    opacityArea: 0.25, 	//The opacity of the area of the blob
    dotRadius: 10, 			//The size of the colored circles of each blog
    opacityCircles: 0, 	//The opacity of the circles of each blob
    strokeWidth: 3, 		//The width of the stroke around each blob
    roundStrokes: false,	//If true the area and stroke will follow a round path (cardinal-closed)
    color: d3.scale.category10()	//Color function
  };

  //Put all of the options into a variable called cfg
  if('undefined' !== typeof options){
    for(var i in options){
      if('undefined' !== typeof options[i]){ cfg[i] = options[i]; }
    }//for i
  }//if

  //If the supplied maxValue is smaller than the actual one, replace by the max in the data
  var maxValue = Math.max(cfg.maxValue, d3.max(data, function(i){return d3.max(i.map(function(o){return o.value;}))}));

  var allAxis = (data[0].map(function(i, j){return i.axis})),	//Names of each axis
  total = allAxis.length,					//The number of different axes
  radius = Math.min(cfg.w/2, cfg.h/2), 	//Radius of the outermost circle
  Format = d3.format('%'),			 	//Percentage formatting
  angleSlice = Math.PI * 2 / total;		//The width in radians of each "slice"

  //Scale for the radius
  var rScale = d3.scale.linear()
  .range([0, radius])
  .domain([0, maxValue]);

  //Remove whatever chart with the same id/class was present before
  d3.select(id).select("svg").remove();

  //Initiate the radar chart SVG
  var svg = d3.select(id).append("svg")
  .attr("width",  cfg.w + cfg.margin.left + cfg.margin.right)
  .attr("height", cfg.h + cfg.margin.top + cfg.margin.bottom)
  .attr("class", "radar"+id);
  //Append a g element
  var g = svg.append("g")
  .attr("transform", "translate(" + (cfg.w/2 + cfg.margin.left) + "," + (cfg.h/2 + cfg.margin.top) + ")");

  //Wrapper for the grid & axes
  var axisGrid = g.append("g").attr("class", "axisWrapper");

  //Draw the background circles
  axisGrid.selectAll(".levels")
  .data(d3.range(1,(cfg.levels+1)).reverse())
  .enter()
  .append("circle")
  .attr("class", "gridCircle")
  .attr("r", function(d, i){return radius/cfg.levels*d;})
  .style("fill", "#B8B8B8")
  .style("stroke", "#B8B8B8")
  .style("fill-opacity", cfg.opacityCircles)

  //Create the straight lines radiating outward from the center
  var axis = axisGrid.selectAll(".axis")
  .data(allAxis)
  .enter()
  .append("g")
  .attr("class", "axis");
  //Append the lines
  axis.append("line")
  .attr("x1", 0)
  .attr("y1", 0)
  .attr("x2", function(d, i){ return rScale(maxValue*1.1) * Math.cos(angleSlice*i - Math.PI/2); })
  .attr("y2", function(d, i){ return rScale(maxValue*1.1) * Math.sin(angleSlice*i - Math.PI/2); })
  .attr("class", "line")
  .style("stroke", "#B8B8B8")
  .style("stroke-width", "1px");

  //Append the labels at each axis
  axis.append("text")
  .attr("class", "legend")
  .style("font-size", "1rem")
  .style("font-variant", "all-small-caps")
  .attr("text-anchor", "middle")
  .attr("dy", "0.35em")
  .attr("x", function(d, i){ return rScale(maxValue * cfg.labelFactor) * Math.cos(angleSlice*i - Math.PI/2); })
  .attr("y", function(d, i){ return rScale(maxValue * cfg.labelFactor) * Math.sin(angleSlice*i - Math.PI/2); })
  .text(function(d){return d})
  .call(wrap, cfg.wrapWidth);

  /////////////////////////////////////////////////////////
  ///////////// Draw the radar chart blobs ////////////////
  /////////////////////////////////////////////////////////

  //The radial line function
  var radarLine = d3.svg.line.radial()
  .interpolate("linear-closed")
  .radius(function(d) { return rScale(d.value); })
  .angle(function(d,i) {	return i*angleSlice; });

  if(cfg.roundStrokes) {
    radarLine.interpolate("cardinal-closed");
  }

  //Create a wrapper for the blobs
  var blobWrapper = g.selectAll(".radarWrapper")
  .data(data)
  .enter().append("g")
  .attr("class", "radarWrapper");

  //Append the backgrounds
  blobWrapper
  .append("path")
  .attr("class", "radarArea")
  .attr("d", function(d,i) { return radarLine(d); })
  .style("fill", function(d,i) { return cfg.color(i); })
  .style("fill-opacity", function(d,i) { return cfg.fillOpacity(i); })

  //Create the outlines
  blobWrapper.append("path")
  .attr("class", "radarStroke")
  .attr("d", function(d,i) { return radarLine(d); })
  .style("stroke-width", cfg.strokeWidth + "px")
  .style("stroke-dasharray", function(d,i) { return cfg.strokeStyle(i); })
  .style("stroke", function(d,i) { return cfg.color(i); })
  .style("fill", "none")
  // .style("filter" , "url(#glow)");

  //Append the circles
  blobWrapper.selectAll(".radarCircle")
  .data(function(d,i) { return d; })
  .enter().append("circle")
  .attr("class", "radarCircle")
  .attr("r", cfg.dotRadius)
  .attr("cx", function(d,i){ return rScale(d.value) * Math.cos(angleSlice*i - Math.PI/2); })
  .attr("cy", function(d,i){ return rScale(d.value) * Math.sin(angleSlice*i - Math.PI/2); })
  .style("stroke-width", cfg.strokeWidth + "px")
  .style("stroke-dasharray", function(d,i,j) { return cfg.strokeStyle(j); })
  .style("stroke", function(d,i,j) { return cfg.color(j); })
  .style("fill", function(d,i,j) { return cfg.dotColor(j); })
  .style("fill-opacity", 1);

  //Taken from http://bl.ocks.org/mbostock/7555321
  //Wraps SVG text
  function wrap(text, width) {
    text.each(function() {
      var text = d3.select(this),
      words = text.text().split(/\s+/).reverse(),
      word,
      line = [],
      lineNumber = 0,
      lineHeight = 1.4, // ems
      y = text.attr("y"),
      x = text.attr("x"),
      dy = parseFloat(text.attr("dy")),
      tspan = text.text(null).append("tspan").attr("x", x).attr("y", y).attr("dy", dy + "em");

      while (word = words.pop()) {
        line.push(word);
        tspan.text(line.join(" "));
        if (tspan.node().getComputedTextLength() > width) {
          line.pop();
          tspan.text(line.join(" "));
          line = [word];
          tspan = text.append("tspan").attr("x", x).attr("y", y).attr("dy", ++lineNumber * lineHeight + dy + "em").text(word);
        }
      }
    });
  }//wrap

}//RadarChart
</script>
<script>

  /* Radar chart design created by Nadieh Bremer - VisualCinnamon.com */

  //////////////////////////////////////////////////////////////
  //////////////////////// Set-Up //////////////////////////////
  //////////////////////////////////////////////////////////////

  var margin = {top: 75, right: 75, bottom: 20, left: 75},
    width = Math.min(700, window.innerWidth - 10) - margin.left - margin.right,
    height = Math.min(width, window.innerHeight - margin.top - margin.bottom - 20);

  //////////////////////////////////////////////////////////////
  ////////////////////////// Data //////////////////////////////
  //////////////////////////////////////////////////////////////

  var data = [
    [//Average scores
      {{#compare @root.request.params.query.income_band "===" "0" ~}}
      {
        axis:"Overall",
        value:{{round @root.data.supplimentaryResponses.data_averages.aggregations.total_stats.avg "up"}}/100
      },
      {
        axis:"Leadership",
        value:{{round @root.data.supplimentaryResponses.data_averages.aggregations.leadership_culture_and_skills_stats.avg "up"}}/100
      },
      {
        axis:"Tools",
        value:{{round @root.data.supplimentaryResponses.data_averages.aggregations.tools_and_equipment_stats.avg "up"}}/100
      },
      {
        axis:"Data",
        value:{{round @root.data.supplimentaryResponses.data_averages.aggregations.content_marketing_and_data_stats.avg "up"}}/100
      },
      {
        axis:"Cyber",
        value:{{round @root.data.supplimentaryResponses.data_averages.aggregations.cyber_resilience_stats.avg "up"}}/100
      }
      {{else}}
      {{#each @root.data.supplimentaryResponses.data_averages.aggregations.grouped_by_income_band.buckets ~}}
      {{#compare this.key "===" @root.request.params.query.income_band ~}}
      {
        axis:"Overall",
        value:{{round this.total_stats.avg "up"}}/100
      },
      {
        axis:"Leadership",
        value:{{round this.leadership_culture_and_skills_stats.avg "up"}}/100
      },
      {
        axis:"Tools",
        value:{{round this.tools_and_equipment_stats.avg "up"}}/100
      },
      {
        axis:"Data",
        value:{{round this.content_marketing_and_data_stats.avg "up"}}/100
      },
      {
        axis:"Cyber",
        value:{{round this.cyber_resilience_stats.avg "up"}}/100
      }
      {{/compare ~}}
      {{/each ~}}
      {{/compare ~}}
    ],[//Your scores
      {
        axis:"Overall",
        value:{{> to_percentage score=@root.request.params.query.overall lower=-18 upper=138}}/100
      },
      {
        axis:"Leadership",
        value:{{> to_percentage score=@root.request.params.query.s1 lower=-4 upper=20}}/100
      },
      {
        axis:"Tools",
        value:{{> to_percentage score=@root.request.params.query.s2 lower=-2 upper=35}}/100
      },
      {
        axis:"Data",
        value:{{> to_percentage score=@root.request.params.query.s3 lower=-10 upper=66}}/100
      },
      {
        axis:"Cyber",
        value:{{> to_percentage score=@root.request.params.query.s4 lower=-2 upper=17}}/100
      }
    ]
  ];
  //////////////////////////////////////////////////////////////
  //////////////////// Draw the Chart //////////////////////////
  //////////////////////////////////////////////////////////////

  var color = d3.scale.ordinal()
  .range(["#444444","#1976D2"]);
  var dotColor = d3.scale.ordinal()
  .range(["#ffffff","#1976D2"]);
  var fillOpacity = d3.scale.ordinal()
  .range(["0","0.1"]);
  var strokeStyle = d3.scale.ordinal()
  .range(["4,3","0"]);

  var radarChartOptions = {
    w: width,
    h: height,
    margin: margin,
    maxValue: 0,
    levels: 5,
    roundStrokes: true,
    color: color,
    dotColor: dotColor,
    fillOpacity: fillOpacity,
    strokeStyle: strokeStyle
  };
  //Call function to draw the Radar chart
  RadarChart(".radarChart", data, radarChartOptions);
</script>