<div class="page">
  <div class="container-fluid">
    {{> breadcrumbs}}
  </div>
  {{> headers_splash}}
  <div class="container-fluid content page-content">
    <div class="mdc-layout-grid equal-height linked-cards support support-organisation support-digital">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card participation">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/participation">Participation</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/participation">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Increasing social inclusion by helping people to develop their confidence, motivation and essential digital skills to go online
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/participation">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card evolution">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/evolution">Evolution</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/evolution">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Increasing the capacity of voluntary organisations by supporting their use of digital tools and techniques
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/evolution">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          {{#compare @root.data.supplimentaryResponses.related_events.hits.total ">" 0 ~}}
            {{#withExtend @root.data.supplimentaryResponses.related_events.hits limit=3 ~}}
              <div class="mdc-card events">
                <section class="mdc-card__primary">
                  <h1 class="mdc-card__title mdc-card__title--large">
                    <a href="/digital/events">Events</a>
                  </h1>
                </section>
                <section class="mdc-card__media"><a href="/digital/events">&nbsp;</a></section>
                <section class="mdc-card__supporting-text">
                  Upcoming events:

                  {{#each hits}}
                    {{~#compare @index "<" ../limit}}
                      <div>
                        <a href="/digital/events/{{_source.slug}}">
                          {{{_source.title}}}
                        </a>
                      </div>
                    {{/compare}}
                  {{/each}}
                  {{#compare total ">" limit}}
                    <div>
                      And {{subtract total limit}} more
                    </div>
                  {{/compare}}

                </section>
                <section class="mdc-card__actions">
                  {{#compare total ">" 1 ~}}
                  <a class="mdc-card__action" href="/digital/events">Find out more</a>
                  {{/compare ~}}
                </section>
              </div>
            {{/withExtend ~}}
          {{else}}
            <div class="mdc-card research">
              <section class="mdc-card__primary">
                <h1 class="mdc-card__title mdc-card__title--large">
                  <a href="/digital/participation/reports">Research</a>
                </h1>
              </section>
              <section class="mdc-card__media"><a href="/digital/participation/reports">&nbsp;</a></section>
              <section class="mdc-card__supporting-text">
                Check out our resource library on developing digital potential
              </section>
              <section class="mdc-card__actions">
                <a class="mdc-card__action" href="/digital/participation/reports">Find out more</a>
              </section>
            </div>
          {{/compare ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card senior-leaders">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/evolution/senior-leaders">Senior leaders programme</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/evolution/senior-leaders">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              SCVO are helping voluntary sector leaders grow their skills, confidence and understanding of digital opportunities – find out what it's all about!
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/evolution/senior-leaders">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card skills">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit">Essential skills</a>
              </h1>
            </section>
            <section class="mdc-card__media"><a href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit">&nbsp;</a></section>
            <section class="mdc-card__supporting-text">
              Test your digital skills with our toolkit
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/digital/participation/skills/scotlands-essential-digital-skills-toolkit">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card blog latest_content">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/digital/blogs">Latest blog</a>
              </h1>
            </section>
            {{#with @root.data.supplimentaryResponses.related_posts.hits.hits.0._source ~}}
            <section class="mdc-card__supporting-text">
              {{{rendered.scvo_gist}}}
            </section>
            <section class="mdc-card__supporting-text">
              {{{truncate description "162"}}}
            </section>
            {{/with ~}}
            <section class="mdc-card__actions">
              <a class="mdc-card__action" href="/digital/blogs">Read more blog posts</a>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{> footers_digital}}
</div>