{{{replace (replace (replace @root.data.primaryResponse.hits.hits.[0]._source.content "http://scvo.org.uk/" "") "https://scvo.org.uk/" "") "http://cms.scvo.org/" "/"}}}

<div class="divider"></div>

<form action="/funding/community-capacity-resilience-fund/projects" method="GET" class="search_form">
  <div class="columns">
    <div class="column col-8 col-md-12">
      <div class="input-group input-inline" style="width:100%">
        <input type="text" class="form-input" name="q" id="grant-ccrf-keywords" value="{{@root.request.params.query.q}}" placeholder="Search">
        <button type="submit" class="btn btn-primary input-group-btn" aria-label="Search" alt="Search">
          <span class="far fa-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
    <div class="column col-4 col-md-12">
      <div class="form-group">
        <select class="form-select" id="grant-ccrf-call" name="call" onchange="this.form.submit()">
          <option value=""{{#if @root.request.params.query.call}}{{else}} selected{{/if}}>Funding round</option>
          {{#each @root.data.supplimentaryResponses.types.aggregations.calls.buckets ~}}
          <option value="{{slugify key}}" {{#compare ../request.params.query.call "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
          {{/each ~}}
        </select>
      </div>
    </div>
  </div>
</form>

<div class="equal-height v-margin-full">
  {{#compare @root.data.supplimentaryResponses.grants.hits.total ">" 0 ~}}
  {{> search_info paging=@root.data.supplimentaryResponses.grants.pagination}}

  <div class="columns t-margin-full">
    {{#each @root.data.supplimentaryResponses.grants.hits.hits ~}}
    {{#with _source ~}}
    <div class="column col-4 col-md-6 col-sm-12 b-margin-full">
      <div class="t-padding-full card card-no-padding scvo-grant scvo-grant-ccrf">
        <section class="card-header">
          <h4 class="no-margin">
            <a href="/funding/community-capacity-resilience-fund/projects/{{Id}}/{{slugify title}}">{{{title}}}</a>
          </h4>
        </section>
        <section class="card-body">
          {{#if recipient_name ~}}
          {{#compare recipient_name "!==" title ~}}
          <p class="b-margin">
            <strong>{{recipient_name}}</strong>
          </p>
          {{/compare ~}}
          {{/if ~}}
          {{#if description ~}}
          {{{truncate description 180}}} <a href="/funding/community-capacity-resilience-fund/projects/{{Id}}/{{slugify title}}">Read more</a>
          {{else}}
          {{#if description_alt ~}}
          {{{truncate description_alt 180}}} <a href="/funding/community-capacity-resilience-fund/projects/{{Id}}/{{slugify title}}">Read more</a>
          {{/if ~}}
          {{/if ~}}
        </section>
        <section class="card-footer">
          <div class="post-info">
            {{#if call ~}}
            <div class="post-info-item post-info-date">
              <span aria-hidden="true" class="far fa-calendar-alt"></span>
              <ul class="inline-list">
                <li>
                  <a href="/funding/community-capacity-resilience-fund/projects?call={{slugify call}}">{{call}}</a>
                </li>
              </ul>
            </div>
            {{/if ~}}
            {{#if individuals_supported ~}}
            <div class="post-info-item post-info-categories">
              <span aria-hidden="true" class="far fa-{{inflect individuals_supported 'tag' 'tags'}}"></span>
              <ul class="inline-list">
                {{#each individuals_supported ~}}
                <li>
                  <a href="/funding/community-capacity-resilience-fund/projects?tag={{slugify this}}" class="chip">{{this}}</a>
                </li>
                {{/each ~}}
              </ul>
            </div>
            {{/if ~}}
          </div>
        </section>
      </div>
    </div>
    {{/with ~}}
    {{/each ~}}
  </div>

  {{> pagination paging=@root.data.supplimentaryResponses.grants.pagination}}
  {{else}}
  <p>
    No projects could be found, please try a different search.
  </p>
  {{/compare ~}}
</div>
