<div class="gist tfn-post tfn-news-post tfn-news-post-{{Id}} mdc-card">
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-1-phone">
        <a href="{{{url}}}?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget-Traffic" target="_blank" class="thumbnail" rel="noopener">
          <img src="{{replace (replace image_portrait_small 'https://' '//') 'http://' '//'}}" alt="{{{title}}}" />
        </a>
      </div>
      <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-3-phone">
        <h3 class="mdc-card__title mdc-typography--headline">
          <a href="{{{url}}}?utm_source=Widget&amp;utm_medium=Widget&amp;utm_campaign=Widget-Traffic" rel="noopener">{{{title}}}</a>
        </h3>
        <h4 class="mdc-card__subtitle post-info">
          {{> tfn_post_info_date}}
        </h4>
      </div>
    </div>
  </div>
</div>
