<div class="container">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/jobs">Jobs &amp; employability</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland">Community Jobs Scotland</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland/vacancies">Vacancies</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland/vacancies/{{@root.request.params.phase}}">16–29 year olds {{#compare @root.request.params.phase "p52"}}(part-time){{/compare}}</a></li>
    <li class="breadcrumb-item"><a href="/jobs/community-jobs-scotland/vacancies/{{@root.request.params.phase}}/{{@root.data.primaryResponse.hits.hits.[0]._id}}/{{@root.data.primaryResponse.hits.hits.[0]._source.title_slug}}">{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}}</a></li>
    <li class="breadcrumb-item">Apply</li>
  </ul>

  <h1>{{{@root.data.primaryResponse.hits.hits.[0]._source.title}}} - Apply</h1>
</div>