{{#ifAny @root.data.cjsAuth (contains @root.request.headers.scvo-roles "cjs") ~}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
    {{#if application_arrangements ~}}
    <h4>Referral methods including arrangement details</h4>
    <p>
      {{{application_arrangements}}}
    </p>
    {{/if ~}}

    {{#if application_notes ~}}
    <h4>Additional application arrangements</h4>
    <p>
      {{{application_notes}}}
    </p>
    {{/if ~}}

    <h4>Application forms</h4>
    <ul class="fa-ul downloads">
      {{#ifAny (compare job_number "9992") (compare job_number "10005") ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-9992.doc'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "9920" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-9920.doc'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "9100" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-9100.docx'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "8500" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-8500.doc'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "9919" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-9919.doc'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "8495" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-8495.doc'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "10497" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-10497.docx'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "12872" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-12872.docx'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      {{#compare job_number "8552" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-default.docx'~}}" target="_blank" download>
            <span class="title">Application Form</span>
          </a>
        </span>
      </li>
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/guidance-notes.docx'~}}" target="_blank" download>
            <span class="title">Guidance Notes</span>
          </a>
        </span>
      </li>
      {{/compare ~}}
      {{/compare ~}}
      {{/compare ~}}
      {{/compare ~}}
      {{/compare ~}}
      {{/compare ~}}
      {{/compare ~}}
      {{/compare ~}}
      {{/ifAny ~}}
      {{#compare organisation.name "Kibble" ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/self-declaration-kibble.rtf'~}}" target="_blank" download>
            <span class="title">Kibble Self Declaration Form</span>
          </a>
        </span>
      </li>
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-kibble.doc'~}}" target="_blank" download>
            <span class="title">KibbleWorks Application Form</span>
          </a>
        </span>
      </li>
      {{else}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/jcp-cjs-application-v8.doc'~}}" target="_blank" download>
            <span class="title">JCP CJS Application</span>
          </a>
        </span>
      </li>
      {{/compare ~}}
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/jcp-eligibility-referral.doc'~}}" target="_blank" download>
            <span class="title">JCP CJS Eligibility Referral</span>
          </a>
        </span>
      </li>
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/vulnerable-group-criteria.docx'~}}" target="_blank" download>
            <span class="title">Vulnerable Group Criteria</span>
          </a>
        </span>
      </li>
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/apply-sds-eligibility-referral-v10.doc'~}}" target="_blank" download>
            <span class="title">SDS CJS Eligibility Referral Application</span>
          </a>
        </span>
      </li>
      <li>
        <span class="fa-li"><span class="far fa-file fa-file-word" aria-hidden="true"></span></span>
        <span class="file-download">
          <a href="{{~>asset_url url='cjs/key-worker-eligibility-referral.doc'~}}" target="_blank" download>
            <span class="title">Key Worker CJS Eligibility Referral Application</span>
          </a>
        </span>
      </li>
    </ul>

    <h4>Contact Details</h4>
    <ul class="fa-ul">
      {{#if supervisor.first_name ~}}
      <li>
        <span class="fa-li"><span class="far fa-user-alt"></span></span>
        {{{supervisor.first_name}}} {{{supervisor.last_name}}}
      </li>
      {{/if ~}}
      {{#if supervisor.email ~}}
      <li>
        <span class="fa-li"><span class="far fa-envelope"></span></span>
        <a href="mailto:{{{supervisor.email}}}">{{{supervisor.email}}}</a>
      </li>
      {{/if ~}}
      {{#if supervisor.phone ~}}
      <li>
        <span class="fa-li"><span class="far fa-phone fa-flip-horizontal"></span></span>
        {{{supervisor.phone}}}
      </li>
      {{/if ~}}
      <li>
        <span class="fa-li"><span class="far fa-building"></span></span>
        {{#if organisation.street}}{{{organisation.street}}}, {{/if}}
        {{#if organisation.area_town}}{{{organisation.area_town}}}, {{/if}}
        {{#if organisation.city_county}}{{{organisation.city_county}}}, {{/if}}
        {{#if organisation.postcode}}{{{organisation.postcode}}}{{/if}}
      </li>
    </ul>
  {{/with ~}}
{{else}}
  <p>
    Please contact your local Jobcentre Plus or Skills Development Scotland advisor to access a CJS application form.
  </p>
  <p>
    <a href="https://www.skillsdevelopmentscotland.co.uk/contact-us/">Find your nearest Skills Development Scotland office</a><br />
    <a href="http://los.direct.gov.uk">Find your nearest Jobcentre Plus</a>
  </p>
  <p>
    {{#if @root.request.headers.scvo-proxy}}
      {{#unless @root.request.headers.scvo-roles}}
        If you work for SDS or JCP please
        <a href="#scvo-account-modal-sign-in">sign in</a>
        to start the referral/application process for this job.
      {{/unless}}
    {{else}}
      If you work for SDS or JCP please
      <a href="/jobs/community-jobs-scotland/vacancies/sign-in?vacancy={{replace (replace request.url.path '/jobs/community-jobs-scotland/vacancies/' '') '/' '_'}}">sign in</a>
      to start the referral/application process for this job.
    {{/if}}
  </p>
{{/ifAny ~}}
<hr />
<p>
  Read our full <a href="/privacy/community-jobs-scotland" target="_blank" rel="noopener">Privacy Notice</a>.
</p>