<h3>
  <a href="{{url}}?utm_source=scvo&utm_campaign=search&utm_medium=website">{{{title}}}</a>
</h3>
<p>
  {{#ifAll organisation.slug organisation.name ~}}
  <span class="far fa-building fa-fw" title="Organisation"></span>
  <a href="https://goodmoves.com/organisation/{{organisation.id}}/{{organisation.slug_name}}?utm_source=scvo&utm_campaign=search&utm_medium=website" class="no-underline">{{organisation.name}}</a>
  <br />
  {{/ifAll ~}}
  {{#if location ~}}
  <span class="far fa-map-marker-alt fa-fw" title="Location"></span>
  {{location}}<br />
  {{/if ~}}
  {{#if closing_date ~}}
  <span class="far fa-calendar-alt fa-fw" title="Closing date"></span>
  Closing {{momentFormat (moment closing_date 'x') 'dddd Do MMMM YYYY'}}
  {{/if ~}}
</ul>
{{#if description_short ~}}
<p>
  {{{description_short}}}
</p>
{{/if ~}}
<p>
  <a href="{{url}}?utm_source=scvo&utm_campaign=search&utm_medium=website" class="no-underline">Find out more &amp; apply</a>
</p>
