<div class="b-margin-full b-padding-full">
  {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  {{{replace (replace (replace (replace content "https://scvo.org.uk" "") "http://scvo.org.uk" "") "https://cms.scvo.org" "") "http://cms.scvo.org" ""}}}
  {{/with ~}}
  {{/if ~}}

  <form action="{{@root.request.url.pathname}}" method="get" class="columns t-margin-full">
    <div class="form-group column col-3 col-md-6 col-sm-12">
      <select class="form-select" name="type_of_funding" onchange="this.form.submit()">
        <option disabled{{#unless @root.request.params.query.type_of_funding}} selected{{/unless}}>Type of funding</option>
        <option value="">Any type of funding</option>
        {{#each @root.data.supplimentaryResponses.fund_aggs.aggregations.type.buckets ~}}
        <option value="{{slugify key}}"{{#compare @root.request.params.query.type_of_funding (slugify key)}} selected{{/compare}}>{{key}}</option>
        {{/each ~}}
      </select>
    </div>
    <div class="form-group column col-3 col-md-6 col-sm-12">
      <select class="form-select" name="source_of_fund" onchange="this.form.submit()">
        <option disabled{{#unless @root.request.params.query.source_of_fund}} selected{{/unless}}>Source</option>
        <option value="">Any source</option>
        {{#each @root.data.supplimentaryResponses.fund_aggs.aggregations.source.buckets ~}}
        <option value="{{slugify key}}"{{#compare @root.request.params.query.source_of_fund (slugify key)}} selected{{/compare}}>{{key}}</option>
        {{/each ~}}
      </select>
    </div>
    <div class="form-group column col-3 col-md-6 col-sm-12">
      <select class="form-select" name="type_of_cost" onchange="this.form.submit()">
        <option disabled{{#unless @root.request.params.query.type_of_cost}} selected{{/unless}}>Type of cost</option>
        <option value="">Any type of cost</option>
        {{#each @root.data.supplimentaryResponses.fund_aggs.aggregations.cost.buckets ~}}
        <option value="{{slugify key}}"{{#compare @root.request.params.query.type_of_cost (slugify key)}} selected{{/compare}}>{{key}}</option>
        {{/each ~}}
      </select>
    </div>
    <div class="form-group column col-3 col-md-6 col-sm-12">
      <select class="form-select" name="fund_status" onchange="this.form.submit()">
        <option disabled>Status</option>
        <option value="any">Any status</option>
        {{#each @root.data.supplimentaryResponses.fund_aggs.aggregations.status.buckets ~}}
        <option value="{{slugify key}}"{{#compare @root.request.params.query.fund_status (slugify key)}} selected{{/compare}}{{#unless @root.request.params.query.fund_status}}{{#compare key 'Open'}} selected{{/compare}}{{/unless}}>{{replace (replace key "Open" "Currently open") "Currently Closed" "Currently closed"}}</option>
        {{/each ~}}
      </select>
    </div>
  </form>

  {{#compare @root.data.supplimentaryResponses.funds.hits.total ">" 0}}
  {{#each @root.data.supplimentaryResponses.funds.hits.hits ~}}
  {{#with _source ~}}
  {{> content_fund_search_result this}}
  {{/with ~}}
  {{/each ~}}
  {{else}}
  <p class="v-margin-full">
    No funds could be found matching your filters. <a href="{{@root.request.url.pathname}}">Please try again</a>.
  </p>
  {{/compare ~}}
</div>