<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{{#withExtend this
  defaults=@root.data.form_data.defaults
}}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=2d75efa6edab3f755bc0cfb7e121993f94b7f16b" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=2d75efa6edab3f755bc0cfb7e121993f94b7f16b">
</script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=2d75efa6edab3f755bc0cfb7e121993f94b7f16b">
</script>

<!-- FORM: BODY SECTION -->
<div class="container mb-2">
  <div class="wForm" id="4899045-WRPR" dir="ltr">
    <form method="post" action="https://www.tfaforms.com/responses/processor" class="form form-horizontal hintsBelow labelsAbove" id="4899045" role="form" enctype="multipart/form-data">
      <div class="wfPage" id="wfPgIndex-1">
        <div class="section pageSection" id="tfa_30">
          <h2 id="tfa_30-T">Your organisation</h2>

          <div class="form-group mb-1 field-container-D    " id="tfa_29-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_29-L" class="form-label mr preField " for="tfa_29">Q1. Please tell us how you heard about the 2021 Small Grants Fund</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea id="tfa_29" name="tfa_29" title="How did you hear about the 2021 Small Grants Fund?" class="form-input"></textarea>
            </div>
          </div>
          <p>
            Q2. Organisation information
          </p>
          {{#if defaults.is_charity ~}}
          <div class="form-group">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_1-L" class="form-label mr preField reqMark" for="tfa_1">
                Scottish Charity Number
              </label>
              {{#unless defaults.application_editing}}
              <p class="form-input-hint text-secondary">
                <a href="/funding/church-of-scotland-2021-small-grants-fund/apply/not-a-charity">Not a registered charity?</a>
              </p>
              {{/unless}}
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <div class="form-group field-container-D" id="tfa_1-D">
                <p class="no-margin" style="padding: .3rem 0 !important;"><strong>{{defaults.tfa_1}}</strong></p>
                <input type="hidden" id="tfa_1" name="tfa_1" value="{{defaults.tfa_1}}" title="Scottish Charity Number" class="form-input" {{#if defaults.application_readonly}}readonly{{/if}}>
              </div>
            </div>
          </div>
          {{/if}}

          <div class="form-group">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_82-L" class="form-label r-margin preField reqMark" for="tfa_82">
                Organisation type
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <div class="form-group field-container-D" id="tfa_82-D">
                {{#if defaults.tfa_82}}
                <select id="organisation_type" name="organisation_type" class="form-select" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{else}}disabled{{/if}}>
                  <option value="{{defaults.tfa_82}}" selected>{{defaults.tfa_82}}</option>
                </select>
                <input type="hidden" id="tfa_82" name="tfa_82" class="form-input" value="{{defaults.tfa_82}}">
                {{else}}
                <select id="tfa_82" name="tfa_82" class="form-select required" required="true" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{/if}}>
                  <option value="" disabled selected>Please select&hellip;</option>
                  {{#each (split 'Community Group,Constituted Group,Voluntary Group,Other (please specify)' ',')}}
                  <option id="{{slugify this}}" value="{{this}}"{{#compare this defaults.tfa_82}} selected{{/compare}}{{#if (contains this 'Other')}} data-conditionals="#org_type_other-D"{{/if}}>{{this}}</option>
                  {{/each}}
                </select>
                <div class="oneField field-container-D" id="org_type_other-D" data-condition="`#other-please-specify`" style="width:100%;">
                  <div class="inputWrapper t-margin" style="width:100%;">
                    <input type="text" id="org_type_other" name="org_type_other" value="{{defaults.tfa_82}}" maxlength="150" title="Please specify your organisation type" autocomplete="nope" data-lpignore="true" {{#if defaults.application_readonly}}class="form-input" style="pointer-events:none;" readonly{{else}}class="form-input required" required{{/if}} style="width:100%;">
                  </div>
                </div>
                {{/if}}
              </div>
            </div>
          </div>

          <div class="form-group mb-1">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_2-L" class="form-label mr preField reqMark" for="tfa_2">
                Organisation name
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <div class="form-group field-container-D" id="tfa_2-D">
                {{#ifAny defaults.application_editing defaults.tfa_2}}
                <input type="text" id="organisation_name" name="organisation_name" value="{{defaults.tfa_2}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}>
                <input type="hidden" id="tfa_2" name="tfa_2" class="form-input" value="{{defaults.tfa_2}}">
                {{else}}
                <input type="text" id="tfa_2" name="tfa_2" value="{{defaults.tfa_2}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required{{#if defaults.application_readonly}} readonly{{/if}}>
                {{/ifAny}}
              </div>
            </div>
          </div>

          <div class="col-9 col-xl-12">
            <p>
              Q3. Organisation address <strong>Please enter the organisation's main address in Scotland</strong> {{#if defaults.is_charity}}(this may be pre-populated as you completed your Scottish Charity Registration number – but can be over-written if required){{/if}}
            </p>
          </div>
          <div class="form-group field-container-D    " id="tfa_125-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_125-L" class="form-label preField " for="tfa_125">Street</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_125" name="tfa_125" value="{{defaults.tfa_125}}" title="Street" class="form-input">
            </div>
          </div>
          <div class="form-group oneField field-container-D    " id="tfa_126-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_126-L" class="form-label preField " for="tfa_126">Town/city</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_126" name="tfa_126" value="{{defaults.tfa_126}}" title="Town/city" class="form-input">
            </div>
          </div>
          <div class="form-group oneField field-container-D    " id="tfa_127-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_127-L" class="form-label preField " for="tfa_127">Local authority</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_127" name="tfa_127" title="Local authority" class="form-select">
                <option value="" disabled{{#unless defaults.tfa_127}} selected{{/unless}}>Please select&hellip;</option>
                {{#each (split 'Aberdeen,Aberdeenshire,Angus,Argyll and Bute,Clackmannanshire,Dumfries and Galloway,Dundee,East Ayrshire,East Dunbartonshire,East Lothian,East Renfrewshire,Edinburgh,Falkirk,Fife,Glasgow,Highland,Inverclyde,Midlothian,Moray,Na h-Eileanan Siar,North Ayrshire,North Lanarkshire,Orkney,Perth and Kinross,Renfrewshire,Scottish Borders,Shetland,South Ayrshire,South Lanarkshire,Stirling,West Dunbartonshire,West Lothian' ',')}}
                <option value="{{this}}"{{#compare this ../defaults.tfa_127}} selected{{/compare}}>{{this}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="form-group oneField field-container-D    " id="tfa_128-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_128-L" class="form-label preField " for="tfa_128">Postcode</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_128" name="tfa_128" title="Please enter a valid UK postcode" pattern="^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" value="{{defaults.tfa_128}}" class="form-input">
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-2">
        <div class="section pageSection" id="tfa_34">
          <h2 id="tfa_34-T">Organisation bank account</h2>
          <div class="col-9 col-xl-12">
            <p>
              Q4. Organisation bank account details. If successful, this is the account into which the grant will be paid.
            </p>
          </div>
          <div class="form-group field-container-D    " id="tfa_3-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_3-L" class="form-label mr preField reqMark" for="tfa_3">
                Name on account
              </label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_3" name="tfa_3" value="" title="Bank account name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_4-L" class="form-label mr preField reqMark" for="tfa_4">
                Account number
              </label>
            </div>
            <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_4-D">
                <input type="text" id="tfa_4" name="tfa_4" pattern=".{8}" minlength="8" maxlength="8" value="{{#if defaults.application_editing}}••••••••{{/if}}" title="Please enter an 8 digit account number" autocomplete="nope" data-lpignore="true" aria-required="true" {{#if defaults.application_editing}}class="form-input" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}{{else}}class="form-input required" required{{/if}}>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_5-L" class="form-label mr preField reqMark" for="tfa_5">
                Sort code
              </label>
            </div>
            <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_5-D">
                <input type="text" id="tfa_5" name="tfa_5" pattern=".{8}" minlength="8" maxlength="8" value="{{#if defaults.application_editing}}••-••-••{{/if}}" title="Please enter a 6-digit sort code xx-xx-xx" autocomplete="nope" data-lpignore="true" aria-required="true" {{#if defaults.application_editing}}class="form-input" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}{{else}}class="form-input required" required{{/if}}>
              </div>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_6-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_6-L" class="form-label mr preField reqMark" for="tfa_6">Bank name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_6" name="tfa_6" value="" title="Bank name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_8-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_8-L" class="form-label mr preField reqMark" for="tfa_8">Bank address</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea id="tfa_8" name="tfa_8" title="Bank address" class="form-input required" required></textarea>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_7-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_7-L" class="form-label mr preField " for="tfa_7">Bank postcode</label>
            </div>
            <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <input type="text" id="tfa_7" name="tfa_7" maxlength="150" value="{{defaults.tfa_7}}" autocomplete="nope" data-lpignore="true" aria-required="true" title="Please enter a valid UK postcode" pattern="^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" {{#if defaults.application_editing}}class="form-input" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}{{else}}class="form-input required" required{{/if}}>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-3">
        <div class="section pageSection" id="tfa_31">
          <h2 id="tfa_31-T">About the project</h2>
          <div class="form-group mb-1 field-container-D    " id="tfa_9-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_9-L" class="form-label mr preField reqMark" for="tfa_9">Q5. Presbytery</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <select id="tfa_9" name="tfa_9" title="Presbytery" class="form-select required" required>
                <option value="" selected default>Please select&hellip;</option>
                <option value="tfa_83" id="tfa_83">Edinburgh 1</option>
                <option value="tfa_84" id="tfa_84">West Lothian 2</option>
                <option value="tfa_85" id="tfa_85">Lothian 3</option>
                <option value="tfa_86" id="tfa_86">Melrose and Peebles 4</option>
                <option value="tfa_87" id="tfa_87">Duns 5</option>
                <option value="tfa_88" id="tfa_88">Jedburgh 6</option>
                <option value="tfa_89" id="tfa_89">Annandale and Eskdale 7</option>
                <option value="tfa_90" id="tfa_90">Dumfries and Kirkcudbright 8</option>
                <option value="tfa_91" id="tfa_91">Wigtown and Stranraer 9</option>
                <option value="tfa_92" id="tfa_92">Ayr 10</option>
                <option value="tfa_93" id="tfa_93">Irvine and Kilmarnock 11</option>
                <option value="tfa_94" id="tfa_94">Ardrossan 12</option>
                <option value="tfa_95" id="tfa_95">Lanark 13</option>
                <option value="tfa_96" id="tfa_96">Clyde 14</option>
                <option value="tfa_97" id="tfa_97">Glasgow 16</option>
                <option value="tfa_98" id="tfa_98">Hamilton 17</option>
                <option value="tfa_99" id="tfa_99">Argyll 19</option>
                <option value="tfa_100" id="tfa_100">Falkirk 22</option>
                <option value="tfa_101" id="tfa_101">Stirling 23</option>
                <option value="tfa_102" id="tfa_102">Fife 24</option>
                <option value="tfa_103" id="tfa_103">Dunkeld and Meigle 27</option>
                <option value="tfa_104" id="tfa_104">Perth 28</option>
                <option value="tfa_105" id="tfa_105">Dundee 29</option>
                <option value="tfa_106" id="tfa_106">Angus 30</option>
                <option value="tfa_107" id="tfa_107">Aberdeen and Shetland 31</option>
                <option value="tfa_108" id="tfa_108">Kincardine and Deeside 32</option>
                <option value="tfa_109" id="tfa_109">Gordon 33</option>
                <option value="tfa_110" id="tfa_110">Buchan 34</option>
                <option value="tfa_111" id="tfa_111">Moray 35</option>
                <option value="tfa_112" id="tfa_112">Abernethy 36</option>
                <option value="tfa_113" id="tfa_113">Inverness 37</option>
                <option value="tfa_114" id="tfa_114">Lochaber 38</option>
                <option value="tfa_115" id="tfa_115">Ross 39</option>
                <option value="tfa_116" id="tfa_116">Sutherland 40</option>
                <option value="tfa_117" id="tfa_117">Caithness 41</option>
                <option value="tfa_118" id="tfa_118">Lochcarron-Skye 42</option>
                <option value="tfa_119" id="tfa_119">Uist 43</option>
                <option value="tfa_120" id="tfa_120">Lewis 44</option>
                <option value="tfa_121" id="tfa_121">Orkney 45</option>
                <option value="tfa_122" id="tfa_122">England 47</option>
                <option value="tfa_123" id="tfa_123">International 48</option>
                <option value="tfa_124" id="tfa_124">Jerusalem 49</option>
              </select>
            </div>
          </div>
          <div class="form-group mb-1 field-container-D    " id="tfa_13-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_13-L" class="form-label mr preField reqMark" for="tfa_13">Q6. Name of project</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_13" name="tfa_13" value="" title="Name of project" class="form-input required" required>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-4">
        <div class="section pageSection" id="tfa_36">
          <h2 id="tfa_36-T">Contact details</h2>
          <div class="col-9 col-xl-12">
            <p>
              Q7. Give us the names of two people (not related to each other) connected to the project in your organisation who we can contact Please note all correspondence will be sent to the first named contact:
            </p>
            <p>
              Primary contact (you):
            </p>
          </div>
          <div class="form-group field-container-D    " id="tfa_14-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_14-L" class="form-label mr preField reqMark" for="tfa_14">First name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_14" name="tfa_14" value="" title="First name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_15-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_15-L" class="form-label mr preField reqMark" for="tfa_15">Last name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_15" name="tfa_15" value="" title="Last name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_16-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_16-L" class="form-label mr preField " for="tfa_16">Position or role in the church/project</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_16" name="tfa_16" value="" title="Role in church/project" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_17-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_17-L" class="form-label mr preField reqMark" for="tfa_17">Primary phone number</label>
              <p class="form-input-hint text-secondary">
                Please give us the best number to reach you on, this number will be used to call you as part of the assessment process.
              </p>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_17" name="tfa_17" value="" title="Phone number" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_18-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_18-L" class="form-label mr preField" for="tfa_18">Alternative phone number</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_18" name="tfa_18" value="" title="Mobile number" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_19-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_19-L" class="form-label mr preField reqMark" for="tfa_19">Email address</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_19" name="tfa_19" value="{{defaults.tfa_19}}" aria-required="true" autocomplete="nope" data-lpignore="true" {{#if defaults.application_editing}}class="form-input validate-email" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}{{else}}class="form-input validate-email required" required{{/if}}>
            </div>
          </div>

          <div class="col-9 col-xl-12">
            <p>
              Contact 2:
            </p>
          </div>
          <div class="form-group field-container-D    " id="tfa_131-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_131-L" class="form-label mr preField reqMark" for="tfa_131">First name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_131" name="tfa_131" value="" title="First name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_132-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_132-L" class="form-label mr preField reqMark" for="tfa_132">Last name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_132" name="tfa_132" value="" title="Last name" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_133-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_133-L" class="form-label mr preField " for="tfa_133">Position or role in the church/project</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_133" name="tfa_133" value="" title="Role in church/project" class="form-input">
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_134-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_134-L" class="form-label mr preField reqMark" for="tfa_134">Contact phone number</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_134" name="tfa_134" value="" title="Phone number" class="form-input required" required>
            </div>
          </div>
          <div class="form-group field-container-D    " id="tfa_135-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_135-L" class="form-label mr preField reqMark" for="tfa_135">Email address</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" id="tfa_135" name="tfa_135" value="{{defaults.tfa_135}}" aria-required="true" autocomplete="nope" data-lpignore="true" {{#if defaults.application_editing}}class="form-input validate-email" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}{{else}}class="form-input validate-email required" required{{/if}}>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-5">
        <div class="section pageSection" id="tfa_33">
          <h2 id="tfa_33-T">Project details</h2>
          <div class="form-group mb-1 field-container-D    " id="tfa_20-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_20-L" class="form-label mr preField reqMark" for="tfa_20">Q8. For how many months do you intend this project to run?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_20" name="tfa_20" value="" title="For how many months do you intend this project to run?" class="form-input required" required>
            </div>
          </div>
          <div class="form-group mb-1 field-container-D    " id="tfa_21-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_21-L" class="form-label mr preField reqMark" for="tfa_21">Q9. Please describe who will benefit from this project and what are the reasons you want to work with them.</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea id="tfa_21" name="tfa_21" title="Who will benefit from this project and what are the reasons you want to work with them?" class="form-input required" required></textarea>
            </div>
          </div>
          <div class="form-group mb-1 field-container-D    " id="tfa_22-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_22-L" class="form-label mr preField reqMark" for="tfa_22">Q10. What difference do you hope to make for them through this project?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea id="tfa_22" name="tfa_22" title="What difference do you hope to make for them?" class="form-input required" required></textarea>
            </div>
          </div>
          <div class="form-group mb-1 field-container-D    " id="tfa_23-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_23-L" class="form-label mr preField reqMark" for="tfa_23">Q11. What do you intend to do?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea id="tfa_23" name="tfa_23" title="What do you intend to do?" class="form-input required" required></textarea>
            </div>
          </div>

          <div class="col-9 col-xl-12">
            <p>
              Q12. Select which of the 2021 Small Grants Fund criteria the project fits with and describe how it fits.
            </p>
          </div>
          <div class="oneField field-container-D    " id="tfa_136-D" role="group" aria-labelledby="tfa_136-L" data-tfa-labelledby="-L tfa_136-L">
            <label id="tfa_136-L" class="form-labellabel preField reqMark">Projects will bring about change in at least one of the following areas:</label>
            <div class="inputWrapper">
              <span id="tfa_136" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_137-L" for="tfa_137">
                    <input type="checkbox" value="tfa_137" class="" id="tfa_137" name="tfa_137" data-conditionals="#tfa_141-D" aria-labelledby="tfa_137-L" data-tfa-labelledby="tfa_136-L tfa_137-L">
                    <span class="form-icon"></span>
                    Developing mission through new worshipping communities (including online worship)
                  </label>
                </span>
                <div class="form-group oneField field-container-D    " id="tfa_141-D" data-condition="`#tfa_137`">
                  <div class="col-9 col-xl-12">
                    <label id="tfa_141-L" class="form-label preField reqMark" for="tfa_141">Describe how your project fits this criterion</label>
                    <textarea id="tfa_141" name="tfa_141" title="Developing mission - describe" class="form-input required" required></textarea>
                  </div>
                </div>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_138-L" for="tfa_138">
                    <input type="checkbox" value="tfa_138" class="" id="tfa_138" name="tfa_138" data-conditionals="#tfa_142-D" aria-labelledby="tfa_138-L" data-tfa-labelledby="tfa_136-L tfa_138-L">
                    <span class="form-icon"></span>
                    Engaging and attracting those aged 40 and under including children, young people and families
                  </label>
                </span>
                <div class="form-group oneField field-container-D    " id="tfa_142-D" data-condition="`#tfa_138`">
                  <div class="col-9 col-xl-12">
                    <label id="tfa_142-L" class="form-label preField " for="tfa_142">Describe how your project fits this criterion</label>
                    <textarea id="tfa_142" name="tfa_142" title="Engaging and attracting - describe" class="form-input required" required></textarea>
                  </div>
                </div>
                <span class="oneChoice">
                  <label class="form-checkbox postField" id="tfa_139-L" for="tfa_139">
                    <input type="checkbox" value="tfa_139" class="" id="tfa_139" name="tfa_139" data-conditionals="#tfa_143-D" aria-labelledby="tfa_139-L" data-tfa-labelledby="tfa_136-L tfa_139-L">
                    <span class="form-icon"></span>
                    Addressing pressing issues in the church that have been brought about by the pandemic.
                  </label>
                </span>
                <div class="form-group oneField field-container-D    " id="tfa_143-D" data-condition="`#tfa_139`">
                  <div class="col-9 col-xl-12">
                    <label id="tfa_143-L" class="form-label preField " for="tfa_143">Describe how your project fits this criterion</label>
                    <textarea id="tfa_143" name="tfa_143" title="Addressing pressing issues - describe" class="form-input required" required></textarea>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-6">
        <div class="section pageSection" id="tfa_144">
          <h4 id="tfa_144-T">Budget and funding</h4>
          <div class="htmlSection" id="tfa_145">
            <p class="htmlContent" id="tfa_145-HTML">
              Q13. Please provide a breakdown of project costs and where the money will come from by completing the following sections. (Maximum of £1000 from the 2021 Small Grants Fund per applicant)
            </p>
          </div>
          <div class="htmlSection" id="tfa_146">
            <p class="htmlContent" id="tfa_146-HTML">
              Please enter a detailed budget of the elements/items required for the project:
            </p>
          </div>
          <table class="gridLayout" style="width:100%;">
            <thead>
              <tr class="headerRow">
                <th scope="col" style="width:50%;">
                  Budget description
                </th>
                <th scope="col" style="width:50%;">
                  Amount
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="section">
                <td>
                  <div class="form-group oneField field-container-D    " id="tfa_147-D">
                    <input type="text" id="tfa_147" name="tfa_147" value="" title="Budget 1 description" class="form-input required" required>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_148-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_148" name="tfa_148" value="" title="Budget 1 amount" class="form-input calc-BudgetA text-right required" required>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="form-group oneField field-container-D    " id="tfa_149-D">
                    <input type="text" id="tfa_149" name="tfa_149" value="" title="Budget 2 description" class="form-input">
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D    " id="tfa_150-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_150" name="tfa_150" value="" title="Budget 2 amount" class="form-input calc-BudgetB text-right">
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="form-group oneField field-container-D    " id="tfa_151-D">
                    <input type="text" id="tfa_151" name="tfa_151" value="" title="Budget 3 description" class="form-input">
                  </div>
                </td>
                <td>
                  <div class=" oneField field-container-D    " id="tfa_152-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_152" name="tfa_152" value="" title="Budget 3 amount" class="form-input calc-BudgetC text-right">
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="form-group oneField field-container-D    " id="tfa_153-D">
                    <input type="text" id="tfa_153" name="tfa_153" value="" title="Budget 4 description" class="form-input">
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D    " id="tfa_154-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_154" name="tfa_154" value="" title="Budget 4 amount" class="form-input calc-BudgetD text-right">
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="form-group oneField field-container-D    " id="tfa_155-D">
                    <input type="text" id="tfa_155" name="tfa_155" value="" title="Budget 5 description" class="form-input">
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D    " id="tfa_156-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_156" name="tfa_156" value="" title="Budget 5 amount" class="form-input calc-BudgetE text-right">
                    </div>
                  </div>
                </td>
              </tr>
              <tr id="tfa_2176" class="section">
                <th scope="row" id="tfa_2176-L" class="headerCol text-left">
                  <strong>Budget total</strong>
                </th>
                <td>
                  <div class="oneField field-container-D" id="tfa_2178-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" id="tfa_2178" name="tfa_2178" value="{{defaults.tfa_2178}}" readonly autocomplete="nope" data-lpignore="true" class="formula=BudgetA+BudgetB+BudgetC+BudgetD+BudgetE readonly form-input text-right">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="htmlSection" id="tfa_158">
            <p class="htmlContent" id="tfa_158-HTML">
              Please enter the sources of funding to cover the above:
            </p>
          </div>
          <table class="gridLayout" style="width:100%;">
            <thead>
              <tr class="headerRow">
                <th scope="col" style="width:50%;">
                  Funder
                </th>
                <th scope="col" style="width:50%;">
                  Amount requested
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="fund-D">
                    2021 Small Grants Fund (£1000 max)
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_159-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="1000" id="tfa_159" name="tfa_159" value="{{defaults.tfa_159}}" autocomplete="nope" data-lpignore="true" class="form-input text-right required" required {{#if defaults.application_readonly}}readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_160-D">
                    <input type="text" id="tfa_160" name="tfa_160" maxlength="150" value="{{defaults.tfa_160}}" autocomplete="nope" data-lpignore="true" class="form-input" {{#if defaults.application_readonly}}readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_161-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_161" name="tfa_161" value="{{defaults.tfa_161}}" autocomplete="nope" data-lpignore="true" class="form-input text-right" {{#if defaults.application_readonly}}readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_162-D">
                    <input type="text" id="tfa_162" name="tfa_162" maxlength="150" value="{{defaults.tfa_162}}" autocomplete="nope" data-lpignore="true" class="form-input" {{#if defaults.application_readonly}}readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_163-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_163" name="tfa_163" value="{{defaults.tfa_163}}" autocomplete="nope" data-lpignore="true" class="form-input text-right" {{#if defaults.application_readonly}}readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-7">
        <div class="section pageSection" id="tfa_37">
          <h2 id="tfa_37-T">Monitoring and evaluation</h2>
          <div id="tfa_38" class="section inline group">
            <div class="form-group mb-1 field-container-D    " id="tfa_25-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_25-L" class="form-label mr preField reqMark" for="tfa_25">How will you measure what you are doing and use this information to demonstrate the impact of this project?</label>
                <p class="form-input-hint text-secondary">
                  The <a href="https://evaluationsupportscotland.org.uk" target="_blank">Evaluation Support Scotland website</a> (opens in new tab) explains how to assess projects.
                </p>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <textarea id="tfa_25" name="tfa_25" title="How will you monitor and evaluate this project?" class="form-input required" required></textarea>
              </div>
            </div>
            <div class="form-group mb-1 field-container-D    " id="tfa_26-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_26-L" class="form-label mr preField reqMark" for="tfa_26">How will the project be managed to ensure good practice throughout?</label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <textarea id="tfa_26" name="tfa_26" title="How will the project be managed to ensure good practice throughout?" class="form-input required" required></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wfPage" id="wfPgIndex-8">
        <div class="section pageSection" id="tfa_39">
          <h2 id="tfa_39-T">Keeping everyone safe</h2>
          <div class="form-group mb-1 field-container-D    " id="tfa_27-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_27-L" class="form-label mr preField reqMark" for="tfa_27">What steps will you taken to keep people safe (including yourself and your volunteers/staff) and follow NHS, Government, Food Standards agency and other relevant guidelines?</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <textarea id="tfa_27" name="tfa_27" title="What steps will you taken to keep people safe?" class="form-input required" required></textarea>
            </div>
          </div>
          <div class="form-group mb-1 field-container-D    " id="tfa_28-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_28-L" class="form-label mr preField reqMark" for="tfa_28">Upload completed, signed extract minute from your church court (kirk session or presbytery as appropriate)</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="file" id="tfa_28" name="tfa_28" size="" title="Signed extract minute from your church court" class="form-input required" required>
            </div>
          </div>
          <p>
            Confirmation:
          </p>
          <div class="form-group mb-1" id="confirmation-D" role="group" aria-labelledby="confirmation-L" data-tfa-labelledby="confirmation-L">
            <div class="col-9 col-xl-12">
              <label class="form-checkbox" id="confirmation-L" for="confirmation">
                <input type="checkbox" value="confirmation" id="confirmation" name="confirmation" aria-labelledby="confirmation-L" data-tfa-labelledby="confirmation-L" required>
                <i class="form-icon"></i>
                I declare on behalf of <span id="org_name">my organisation</span> that the information I have provided is true and accurate to the best of my knowledge
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="actions" id="4899045-A">
        <input type="submit" data-label="Submit" class="primaryAction btn btn-lg btn-primary" id="submit_button" value="Submit">
      </div>
      <div style="clear:both">
      </div>
      <input type="hidden" value="4899045" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="a1b17f3f925ee4420d7cd3acc2a74823" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="7" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
    </form>
  </div>
</div>

<script src="{{~>asset_url url='js/cleave.min.js'~}}"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  $('#org_name').val($('#tfa_2').val());
  $("#tfa_2").change(function(){
    $('#org_name').val($('#tfa_2').val());
  });

  {{#unless defaults.application_editing}}
  var cleave_account_number = new Cleave('#tfa_4', {
    blocks: [8],
    numericOnly: true
  });
  var cleave_sort_code = new Cleave('#tfa_5', {
    delimiter: '-',
    blocks: [2,2,2],
    numericOnly: true,
    delimiterLazyShow: true
  });
  {{/unless}}
});
function isNumberKey(evt){
  var charCode = (evt.which) ? evt.which : evt.keyCode
  return !(charCode > 31 && (charCode < 48 || charCode > 57));
}
</script>
{{/withExtend}}