{{!-- {{#if @root.data.primaryResponse.hits.hits.[0] ~}}
{{> content_page_full_urgent @root.data.primaryResponse.hits.hits.[0]._source}}
{{/if ~}} --}}

<div class="b-margin-full b-padding-full">
  {{#if @root.request.params.section ~}}
  {{#compare @root.data.supplimentaryResponses.faqs.hits.total ">" 0 ~}}
  {{#each @root.data.supplimentaryResponses.faqs.hits.hits ~}}
  {{#with _source ~}}
  <h4 class="accordion">{{{title}}}</h4>
  <div class="accordion-content">
    {{{content}}}
  </div>
  {{/with ~}}
  {{/each ~}}
  {{/compare ~}}
  {{else}}
  {{#each @root.data.supplimentaryResponses.faqs.aggregations.query.buckets ~}}
  {{#unless (compare key "Coronavirus") ~}}
  <h2>{{{key}}}</h2>
  {{#each faqs.hits.hits ~}}
  {{#with _source ~}}
  <h4 class="accordion">{{{title}}}</h4>
  <div class="accordion-content">
    {{{content}}}
  </div>
  {{/with ~}}
  {{/each ~}}
  {{/unless ~}}
  {{/each ~}}
  {{/if ~}}
</div>

<script src="{{~>asset_url url='js/accordion.js'~}}"></script>