{{#if categories ~}}
{{#compare categories.[0] "!==" "Uncategorised" ~}}
<div class="post-info-item post-info-categories">
  {{!-- <span class="far fa-tag{{#equalsLength categories 1}}{{else}}s{{/equalsLength}}" aria-hidden="true"></span> --}}
  Posted in
  <ul class="inline-list">
    {{#each categories ~}}
    <li>
      {{#compare this "Uncategorised" ~}}
      {{else}}
      <a href="/{{itemAt ../categories_slug @index}}/posts">{{{this}}}</a>{{#unless @last}}, {{/unless}}
      {{/compare ~}}
    </li>
    {{/each ~}}
  </ul>
</div>
{{/compare ~}}
{{/if ~}}
{{#if post_tags ~}}
<div class="post-info-item post-info-tags">
  <span class="far fa-{{inflect (length (arrayify post_tags)) 'tag' 'tags'}}" aria-hidden="true"></span>
  <ul class="inline-list">
    {{#each post_tags ~}}
    <li>
      {{#ifAny (compare this "Press Release") ~}}
      <a href="/about/press-media" class="chip">Press release</a>
      {{else}}
      {{#ifAny (compare this "SCVO") (compare this "SCVO news") (compare this "SCVO Labs") (compare this "SCVO blog") ~}}
      <a href="/about/blog" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Events blog") (compare this "Running your organisation blog") ~}}
      <a href="/support/blog" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Digital blog") ~}}
      <a href="/support/digital/blogs" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Funding blog") (compare this "Funding") ~}}
      <a href="/funding/blog" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Employability blog") (compare this "Employability") ~}}
      <a href="/jobs/blog" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Campaign blog") (compare this "Policy blog") (compare this "Policy") (compare this "Research blog") ~}}
      <a href="/policy/blog" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Policy briefing") ~}}
      <a href="/policy/briefings" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Consultation response") ~}}
      <a href="/policy/consultation-responses" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Research") ~}}
      <a href="/policy/research" class="chip">{{{this}}}</a>
      {{else}}
      {{#ifAny (compare this "Scottish Charity Awards") ~}}
      <a href="/scottish-charity-awards/blog" class="chip">{{{this}}}</a>
      {{else}}
      <a href="/post/tags/{{itemAt ../post_tags_slug @index}}" class="chip">{{{this}}}</a>
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
      {{/ifAny ~}}
    </li>
    {{/each ~}}
  </ul>
</div>
{{/if ~}}