{{#if categories ~}}
{{#compare categories.[0] "!==" "Uncategorised" ~}}
<div class="post-info-item post-info-categories">
  {{!-- <span class="far fa-tag{{#equalsLength categories 1}}{{else}}s{{/equalsLength}}" aria-hidden="true"></span> --}}
  Posted in
  <ul class="inline-list">
    {{#each categories ~}}
    <li>
      {{#compare this "Uncategorised" ~}}
      {{else}}
      <a href="/{{itemAt ../categories_slug @index}}/posts">{{{this}}}</a>{{#unless @last}}, {{/unless}}
      {{/compare ~}}
    </li>
    {{/each ~}}
  </ul>
</div>
{{/compare ~}}
{{/if ~}}
{{#if post_tags ~}}
<div class="post-info-item post-info-tags">
  <span class="far fa-{{inflect (length (arrayify post_tags)) 'tag' 'tags'}}" aria-hidden="true"></span>
  <ul class="inline-list">
    {{#each post_tags ~}}
    <li>
      {{#compare this "Press Release" ~}}
      <a href="/about/press-media" class="chip bg-primary">{{{this}}}</a>
      {{else}}
      <a href="/post/tags/{{itemAt ../post_tags_slug @index}}" class="chip bg-primary">{{{this}}}</a>
      {{/compare ~}}
    </li>
    {{/each ~}}
  </ul>
</div>
{{/if ~}}