<item>
  <title>{{{title}}}</title>
  <description>{{{truncate description 280}}}</description>
  <link>https://scvo.org{{path}}</link>
  <guid isPermaLink="false">{{Id}}</guid>
  <pubDate>{{momentFormat (moment publish_on 'x') "ddd, DD MMM YYYY hh:mm:ss"}} GMT</pubDate>
  <author>{{author_name_full}}</author>
  <category>{{join categories ", "}}</category>
  {{#if author_sfid ~}}
  {{#if staff_profile ~}}
  <image>{{{staff_profile.photo_wee}}}</image>
  {{else}}
  <image>{{{author_avatar}}}</image>
  {{/if ~}}
  {{else}}
  <image>{{{author_avatar}}}</image>
  {{/if ~}}
</item>