<div class="list scvo-event scvo-event-{{Id}} card card-no-padding v-padding">
  <section class="card-header">
    <h4 class="card-title">
      <a href="{{path}}">{{{title}}}</a>
    </h4>
    <div class="post-info">
      {{> content_event_post_info_booked}}
      {{> content_event_post_info_date}}
      {{> content_event_post_info_city}}
    </div>
  </section>
  <section class="card-body">
    <p>
      {{#if course_overview_short ~}}
      {{{course_overview_short}}}
      {{else}}
      {{#if description_short ~}}
      {{{description_short}}}
      {{/if ~}}
      {{/if ~}}
      <a href="{{path}}">Read more</a>
    </p>
  </section>
</div>