<div class="container">
  <ul class="breadcrumb breadcrumb-length-4" aria-hidden="true">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/funding">Funding</a></li>
    <li class="breadcrumb-item"><a href="/funding/new-scots-fund">New Scots Refugee Integration Delivery Project</a></li>
    {{#ifAny @root.request.params.charity_number @root.request.body.funder (compare @root.route.name "fund_new-scots_apply-small_complete")}}
      <li class="breadcrumb-item">Apply</li>
    {{else}}
      <li class="breadcrumb-item">{{#compare @root.route.name "fund_new-scots_apply-small_already_awarded"}}Sorry{{else}}Apply{{/compare}}</li>
    {{/ifAny}}
  </ul>
</div>
<div class="container">
  <h1 class="font-default">{{#ifAny @root.request.params.charity_number @root.request.body.funder (compare @root.route.name "fund_new-scots_apply-small_complete")}}{{#compare @root.route.name "fund_new-scots_apply-small_complete"}}Thank you{{else}}{{#compare @root.route.name "fund_new-scots_apply-small_already_awarded"}}Sorry{{else}}Apply{{/compare}}{{/compare}}{{else}}Apply{{/ifAny}}</h1>
</div>