{{#withExtend this
  local_authorities=@root.data.form_data.local_authorities
  topic=@root.data.form_data.topic
  type=@root.data.form_data.type
  target_communities=@root.data.form_data.target_communities
  number_of_staff=@root.data.form_data.number_of_staff
  number_of_volunteers=@root.data.form_data.number_of_volunteers
  defaults=@root.data.form_data.defaults
}}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=2e9f1d9e0da37161b48ef0210c02234ee05cd715" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=2e9f1d9e0da37161b48ef0210c02234ee05cd715">
</script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<link rel="stylesheet" type="text/css" href="https://www.tfaforms.com/css/kalendae.css" />
<script type="text/javascript" src="https://www.tfaforms.com/js/kalendae/kalendae.standalone.min.js" >
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms_calendar.js">
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=2e9f1d9e0da37161b48ef0210c02234ee05cd715">
</script>

<!-- FORM: BODY SECTION -->
<div class="wFormContainer b-padding-full" >
  <div class="wForm" id="4899064-WRPR" dir="ltr">
    <div class="codesection" id="code-4899064"></div>
    <form method="post" action="{{#unless defaults.application_readonly}}https://www.tfaforms.com/responses/processor{{/unless}}" class="form form-horizontal hintsBelow labelsAbove" id="4899064" data-fa-form-backup='{
      "slug": "new_scots_2021_small",
      "name": "New Scots 2021 Small Grants",
      "recoveryLinkButtonSelector": ".show-form-recovery-modal",
      "idsSelector": "#tfa_3",
      "ignoreFields": ["tfa_9999"] }' role="form" enctype="multipart/form-data">
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-1"{{/unless}}>
        <div class="section pageSection" id="tfa_1">
          <h3 id="tfa_1-T">Tell us about your organisation</h3>
          <p>
            1.1&ensp;Organisation name
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_3-L" class="form-label preField reqMark" for="tfa_3">Legal name of your organisation</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_3-D">
                {{#ifAny defaults.application_editing defaults.tfa_3}}
                <input type="text" id="organisation_name" maxlength="150" name="organisation_name" value="{{defaults.tfa_3}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input" {{#if defaults.application_readonly}}readonly{{else}}disabled{{/if}}>
                <input type="hidden" id="tfa_3" name="tfa_3" class="form-input" value="{{defaults.tfa_3}}">
                {{else}}
                <input type="text" id="tfa_3" name="tfa_3" maxlength="150" value="{{defaults.tfa_3}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required{{#if defaults.application_readonly}} readonly{{/if}}>
                {{/ifAny}}
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_4-L" class="form-label preField " for="tfa_4">Other known name of your organisation (if applicable)</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_4-D">
                <input type="text" id="tfa_4" name="tfa_4" maxlength="150" value="{{defaults.tfa_4}}"{{#if defaults.application_readonly}} readonly{{/if}}  title="Organisation alias" class="form-input">
              </div>
            </div>
          </div>
          <p>
            1.2&ensp;Registered address for your organisation
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_6-L" class="form-label preField reqMark" for="tfa_6">Street</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_6-D">
                <input type="text" id="tfa_6" name="tfa_6" maxlength="150" value="{{defaults.tfa_6}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Street" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_7-L" class="form-label preField reqMark" for="tfa_7">Town/city</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_7-D">
                <input type="text" id="tfa_7" name="tfa_7" maxlength="150" value="{{defaults.tfa_7}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="Town/city" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_8-L" class="form-label preField reqMark" for="tfa_8">Postcode</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_8-D">
                <input type="text" id="tfa_8" name="tfa_8" maxlength="15" value="{{defaults.tfa_8}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="Please enter a valid UK postcode" pattern="^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" class="required form-input validate-custom /^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$/g" required>
              </div>
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_8'] =  { selector: '*[id="tfa_8"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_8'] = "Please enter a valid UK postcode";
              }
            }
            </script>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_9-L" class="form-label preField" for="tfa_9">Website address</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_9-D">
                <input type="url" pattern="https?://.+" maxlength="150" id="tfa_9" name="tfa_9"{{#if defaults.application_readonly}} readonly{{/if}} value="{{defaults.tfa_9}}" aria-required="true" title="Website address" class="form-input validate-custom /https?://.+/g">
              </div>
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_9'] =  { selector: '*[id="tfa_9"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_9'] = "Please enter a valid URL starting with http:// or https://";
              }
            }
            </script>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_10-L" class="form-label preField " for="tfa_10">Twitter address</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_10-D">
                <input type="url" pattern="https?://.+" id="tfa_10" maxlength="150" name="tfa_10"{{#if defaults.application_readonly}} readonly{{/if}} value="{{defaults.tfa_10}}" title="Twitter address" class="form-input validate-custom /https?://.+/g">
              </div>
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_10'] =  { selector: '*[id="tfa_10"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_10'] = "Please enter a valid URL starting with http:// or https://";
              }
            }
            </script>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_11-L" class="form-label preField " for="tfa_11">Facebook address</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_11-D">
                <input type="url" pattern="https?://.+" id="tfa_11" maxlength="150" name="tfa_11"{{#if defaults.application_readonly}} readonly{{/if}} value="{{defaults.tfa_11}}" title="Facebook address" class="form-input validate-custom /https?://.+/g">
              </div>
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_11'] =  { selector: '*[id="tfa_11"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_11'] = "Please enter a valid URL starting with http:// or https://";
              }
            }
            </script>
          </div>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-2"{{/unless}}>
        <div class="section pageSection" id="tfa_2">
          <h3 id="tfa_2-T">Contact</h3>
          <p>
            1.3&ensp;Main contact for this application
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_12-L" class="form-label preField reqMark" for="tfa_12">First name</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_12-D">
                <input type="text" id="tfa_12" name="tfa_12" maxlength="150" value="{{defaults.tfa_12}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="First name" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_13-L" class="form-label preField reqMark" for="tfa_13">Last name</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_13-D">
                <input type="text" id="tfa_13" name="tfa_13" maxlength="150" value="{{defaults.tfa_13}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="Last name" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_14-L" class="form-label preField " for="tfa_14">Position</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_14-D">
                <input type="text" id="tfa_14" name="tfa_14" maxlength="150" value="{{defaults.tfa_14}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Position" class="form-input">
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_15-L" class="form-label preField " for="tfa_15">Phone number</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_15-D">
                <input type="text" id="tfa_15" name="tfa_15" maxlength="15" value="{{defaults.tfa_15}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Phone number" class="form-input">
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_16-L" class="form-label preField " for="tfa_16">Mobile number</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_16-D">
                <input type="text" id="tfa_16" name="tfa_16" maxlength="15" value="{{defaults.tfa_16}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Mobile number" class="form-input">
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_17-L" class="form-label preField reqMark" for="tfa_17">Email address</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_17-D">
                <input type="email" id="tfa_17" name="tfa_17" maxlength="150" value="{{defaults.tfa_17}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="Email address" class="validate-email form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_18-L" class="form-label preField " for="tfa_18">Correspondence address (if different from organisation address provided)</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="oneField field-container-D" id="tfa_18-D">
                <input type="text" id="tfa_18" name="tfa_18" value="{{defaults.tfa_18}}" maxlength="150" title="Address (if different from organisation address provided)"{{#if defaults.application_readonly}} readonly{{/if}} class="form-input">
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_282-L" class="form-label preField " for="tfa_282">Town/city</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="oneField field-container-D" id="tfa_282-D">
                <input type="text" id="tfa_282" name="tfa_282" value="{{defaults.tfa_282}}" maxlength="150" title="Town/city"{{#if defaults.application_readonly}} readonly{{/if}} class="form-input">
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_283-L" class="form-label preField " for="tfa_283">Postcode</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="oneField field-container-D" id="tfa_283-D">
                <input type="text" id="tfa_283" name="tfa_283" value="{{defaults.tfa_283}}" maxlength="10" title="Postcode"{{#if defaults.application_readonly}} readonly{{/if}} class="form-input validate-custom /^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))/g">
              </div>
            </div>
          </div>
          <script type="text/javascript">
          if(typeof wFORMS != 'undefined') {
            if(wFORMS.behaviors.validation) {
              wFORMS.behaviors.validation.rules['customtfa_283'] =  { selector: '*[id="tfa_283"]', check: 'validateCustom'};
              wFORMS.behaviors.validation.messages['customtfa_283'] = "Please enter a valid UK postcode";
            }
          }
          </script>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-3"{{/unless}}>
        <div class="section pageSection" id="tfa_19">
          <h3 id="tfa_19-T">
            More about your organisation
          </h3>
          <div class="form-group">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_20-L" class="form-label r-margin preField reqMark" for="tfa_20">
                1.4&ensp;Type of organisation
              </label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="form-group field-container-D" id="tfa_20-D">
                {{#if defaults.tfa_20}}
                <select id="organisation_type" name="organisation_type" class="form-select" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{else}}disabled{{/if}}>
                  <option value="{{defaults.tfa_20}}" selected>{{defaults.tfa_20}}</option>
                </select>
                <input type="hidden" id="tfa_20" name="tfa_20" class="form-input" value="{{defaults.tfa_20}}">
                {{else}}
                <select id="tfa_20" name="tfa_20" class="form-select required" required="true" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{/if}}>
                  <option value="" disabled{{#unless defaults.tfa_20}} selected{{/unless}}>Please select&hellip;</option>
                  {{#each (split 'Company Limited by Guarantee,Community Interest by Guarantee,Public Body,Community Benefit Society,Limited Liability Partnership,Co-operative Society,Constituted Group,Social Enterprise,Voluntary Group,Community Housing Association,Community Trust/Community Development Trust,Local Authority,Health Board,Other (please specify)' ',')}}
                  <option id="{{slugify this}}" value="{{this}}"{{#compare this defaults.tfa_20}} selected{{/compare}}{{#if (contains this 'Other')}} data-conditionals="#org_type_other-D"{{/if}}>{{this}}</option>
                  {{/each}}
                </select>
                <div class="oneField field-container-D" id="org_type_other-D" data-condition="`#other-please-specify`" style="width:100%;">
                  <div class="inputWrapper t-margin" style="width:100%;">
                    <input type="text" id="org_type_other" maxlength="150" name="org_type_other" value="{{defaults.tfa_20}}" maxlength="150" title="Please specify your organisation type" autocomplete="nope" data-lpignore="true" {{#if defaults.application_readonly}}class="form-input" style="pointer-events:none;" readonly{{else}}class="form-input required" required{{/if}} style="width:100%;">
                  </div>
                </div>
                {{/if}}
              </div>
            </div>
          </div>
          {{#if defaults.is_charity ~}}
          <div class="form-group">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_21-L" class="form-label mr preField reqMark" for="tfa_21">
                Scottish Charity Number
              </label>
              {{#unless defaults.application_editing}}
              <p class="form-input-hint text-secondary">
                <a href="/funding/new-scots-fund/apply-small/not-a-charity">Not a registered charity?</a>
              </p>
              {{/unless}}
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="form-group field-container-D" id="tfa_21-D">
                <p class="no-margin" style="padding: .3rem 0 !important;"><strong>{{defaults.tfa_21}}</strong></p>
                <input type="hidden" id="tfa_21" name="tfa_21" maxlength="8" value="{{defaults.tfa_21}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Scottish Charity Number">
              </div>
            </div>
          </div>
          {{/if}}
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_22-L" class="form-label preField " for="tfa_22">Company number (if applicable)</label>
            </div>
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_22-D">
                <input type="text" id="tfa_22" name="tfa_22" maxlength="10" value="{{defaults.tfa_22}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Company number" class="form-input">
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_24-L" class="form-label preField reqMark" for="tfa_24">Year your organisation was established</label>
            </div>
            <div class="col-3 col-lg-4 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_24-D">
                <input type="text" id="tfa_24" name="tfa_24" value="{{defaults.tfa_24}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="4" aria-required="true" min="0" max="2021" title="Year organisation established" class="form-input validate-integer required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField" role="radiogroup" aria-labelledby="tfa_25-L" data-tfa-labelledby="-L tfa_25-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_25-L" class="form-label preField reqMark">Is your organisation a branch of another organisation?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_25-D">
                <span id="tfa_25" class="choices vertical required"{{#if defaults.application_readonly}} readonly{{/if}} required>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_26-L" for="tfa_26">
                      <input type="radio" value="tfa_26" id="tfa_26" name="tfa_25" aria-required="true" data-conditionals="#tfa_28-D" aria-labelledby="tfa_26-L" data-tfa-labelledby="tfa_25-L tfa_26-L"{{#if defaults.application_readonly}} readonly{{#compare defaults.tfa_25 "Yes"}} checked{{/compare}}{{/if}}>
                      <span class="form-icon"></span>
                      Yes
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_27-L" for="tfa_27">
                      <input type="radio" value="tfa_27" id="tfa_27" name="tfa_25" aria-required="true" aria-labelledby="tfa_27-L" data-tfa-labelledby="tfa_25-L tfa_27-L"{{#if defaults.application_readonly}} readonly{{#compare defaults.tfa_25 "No"}} checked{{/compare}}{{/if}}>
                      <span class="form-icon"></span>
                      No
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_28-D" data-condition="`#tfa_26`">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_28-L" class="form-label preField reqMark" for="tfa_28">What is the name of your parent company or body?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                <input type="text" id="tfa_28" name="tfa_28" maxlength="150" value="{{defaults.tfa_28}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Name of your parent company or body" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField" role="group" aria-labelledby="tfa_29-L" data-tfa-labelledby="-L tfa_29-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_29-L" class="form-label preField reqMark" aria-label="Please confirm, by ticking the box, that you have procedures that ensure one person cannot authorise, make, and record payments">1.5&ensp;Separation of duties</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_29-D">
                <span id="tfa_29" class="choices vertical required" required>
                  <span class="oneChoice">
                    <label class="form-checkbox postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_30-L" for="tfa_30">
                      <input type="checkbox" value="tfa_30" id="tfa_30" name="tfa_30" aria-labelledby="tfa_30-L" data-tfa-labelledby="tfa_29-L tfa_30-L"{{#if defaults.application_readonly}} readonly checked{{/if}}>
                      <span class="form-icon"></span>
                      Please confirm, by ticking the box, that you have procedures that ensure one person cannot authorise, make, and record payments
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <p>
            1.6&ensp;Governance
          </p>
          <div class="form-group oneField" role="radiogroup" aria-labelledby="tfa_31-L" data-tfa-labelledby="-L tfa_31-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_31-L" class="form-label preField reqMark">Does your organisation have a management committee or governance board?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_31-D">
                <span id="tfa_31" class="choices vertical required" required>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_32-L" for="tfa_32">
                      <input type="radio" value="tfa_32" id="tfa_32" name="tfa_31" aria-required="true" data-conditionals="#tfa_34-D" aria-labelledby="tfa_32-L" data-tfa-labelledby="tfa_31-L tfa_32-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_31 "Yes"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Yes
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_33-L" for="tfa_33">
                      <input type="radio" value="tfa_33" id="tfa_33" name="tfa_31" aria-required="true" aria-labelledby="tfa_33-L" data-tfa-labelledby="tfa_31-L tfa_33-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_31 "No"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      No
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_277-L" for="tfa_277">
                      <input type="radio" value="tfa_277" id="tfa_277" name="tfa_31" aria-required="true" aria-labelledby="tfa_277-L" data-tfa-labelledby="tfa_31-L tfa_277-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_31 "N/A"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      N/A
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_34-D" data-condition="`#tfa_32`" role="radiogroup" aria-labelledby="tfa_34-L" data-tfa-labelledby="-L tfa_34-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_34-L" class="form-label preField reqMark">Does this include refugee representation?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                <span id="tfa_34" class="choices vertical required" required>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_35-L" for="tfa_35">
                      <input type="radio" value="tfa_35" id="tfa_35" name="tfa_34" aria-required="true" aria-labelledby="tfa_35-L" data-tfa-labelledby="tfa_34-L tfa_35-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_34 "Yes"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Yes
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_36-L" for="tfa_36">
                      <input type="radio" value="tfa_36" id="tfa_36" name="tfa_34" aria-required="true" aria-labelledby="tfa_36-L" data-tfa-labelledby="tfa_34-L tfa_36-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_34 "No"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      No
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_278-L" for="tfa_278">
                      <input type="radio" value="tfa_278" id="tfa_278" name="tfa_34" aria-required="true" aria-labelledby="tfa_278-L" data-tfa-labelledby="tfa_34-L tfa_278-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_34 "N/A"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      N/A
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <p>
            1.7&ensp;Numbers of full-time equivalent staff and volunteers in your organisation.
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_37-L" class="form-label preField reqMark" for="tfa_37">Full-time equivalent staff</label>
            </div>
            <div class="col-3 col-lg-4 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_37-D">
                <select id="tfa_37" name="tfa_37" title="Number of staff" aria-required="true" class="form-select required" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{/if}} required>
                  <option value="" disabled{{#unless defaults.tfa_37}} selected{{/unless}}>Please select&hellip;</option>
                  {{#each number_of_staff ~}}
                  {{#if id ~}}
                  <option value="{{id}}" id="{{id}}"{{#compare name ../defaults.tfa_37}} selected{{/compare}}>
                    {{name}}
                  </option>
                  {{/if ~}}
                  {{/each ~}}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_49-L" class="form-label preField reqMark" for="tfa_49">Volunteers</label>
            </div>
            <div class="col-3 col-lg-4 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_49-D">
                <select id="tfa_49" name="tfa_49" title="Number of volunteers" aria-required="true" class="form-select required" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{/if}} required>
                  <option value="" disabled{{#unless defaults.tfa_49}} selected{{/unless}}>Please select&hellip;</option>
                  {{#each number_of_volunteers ~}}
                  {{#if id ~}}
                  <option value="{{id}}" id="{{id}}"{{#compare name ../defaults.tfa_49}} selected{{/compare}}>
                    {{name}}
                  </option>
                  {{/if ~}}
                  {{/each ~}}
                </select>
              </div>
            </div>
          </div>
          <p>
            1.8&ensp;Annual income and expenditure
          </p>
          <p>
            What was your financial position at the 31 December 2020 or at the most recent point to which your accounts are made up?
          </p>
          <div class="form-group oneField" role="group" aria-labelledby="tfa_55-L" data-tfa-labelledby="-L tfa_55-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_55-L" class="form-label preField "></label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_55-D">
                <span id="tfa_55" class="choices vertical ">
                  <span class="oneChoice">
                    <label class="form-checkbox postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_56-L" for="tfa_56">
                      <input type="checkbox" value="tfa_56" id="tfa_56" name="tfa_56" data-conditionals="#tfa_57-D,#tfa_287-D,#tfa_288-D,#tfa_289-D,#tfa_290-D,#tfa_291-D,#tfa_292-D,#tfa_58-D,#tfa_312-D" aria-labelledby="tfa_56-L" data-tfa-labelledby="tfa_55-L tfa_56-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#if defaults.tfa_55}} checked{{/if}}>
                      <span class="form-icon"></span>
                      If you are a local authority please tick this box
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_57-D" data-condition="NOT (`#tfa_56`)">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_57-L" class="form-label preField reqMark" for="tfa_57">Annual income or turnover</label>
            </div>
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D">
                <div class="input-group" style="width:100%;">
                  <span class="input-group-addon">&pound;</span>
                  <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_57" name="tfa_57" value="{{defaults.tfa_57}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Annual income or turnover" class="form-input text-right validate-integer required" required>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group oneField mb" id="tfa_58-D" data-condition="NOT (`#tfa_56`)">
            <div class="col-12">
              <label id="tfa_58-L" class="form-label preField" for="tfa_58">If your financial position has changed significantly since your last set of annual accounts was finalised, please tell us about these changes.</label>
              <div class="field-container-D">
                <textarea aria-required="true" id="tfa_58" name="tfa_58" title="If your financial position has changed significantly since your last set of annual accounts was finalised, please tell us about these changes." class="form-input"{{#if defaults.application_readonly}} readonly{{/if}}>{{defaults.tfa_58}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_281-L" class="form-label preField reqMark" for="tfa_281">1.9&ensp;Amount applied for (&pound;)</label>
            </div>
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_281-D">
                <div class="input-group" style="width:100%;">
                  <span class="input-group-addon">&pound;</span>
                  <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="1" max="5000" id="tfa_281" name="tfa_281" value="{{defaults.tfa_281}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Amount applied for" class="form-input text-right validate-integer required" required>
                </div>
                <p class="form-input-hint text-secondary">
                  If you are seeking funds for more than &pound;5,000 please see the <a href="/funding/new-scots-fund/apply-large">medium/large grants application</a>.
                </p>
              </div>
            </div>
          </div>

          <h3>Upload supplementary documents</h3>
          <div class="form-group oneField" id="tfa_284-D">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_284-L" class="form-label preField" for="tfa_284">Supplementary document 1 (optional)</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                {{#unless defaults.application_readonly}}
                <input type="file" id="tfa_284" name="tfa_284" size="" title="Supplementary document 1" class="form-input">
                {{else}}
                <p class="t-margin">
                  <span class="label label-info">
                    <span class="far fa-paperclip fa-fw mr"></span>
                    Optional file upload may have been attached
                  </span>
                </p>
                {{/unless}}
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_285-D">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_285-L" class="form-label preField" for="tfa_285">Supplementary document 2 (optional)</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                {{#unless defaults.application_readonly}}
                <input type="file" id="tfa_285" name="tfa_285" size="" title="Supplementary document 2" class="form-input">
                {{else}}
                <p class="t-margin">
                  <span class="label label-info">
                    <span class="far fa-paperclip fa-fw mr"></span>
                    Optional file upload may have been attached
                  </span>
                </p>
                {{/unless}}
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_286-D">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_286-L" class="form-label preField" for="tfa_286">Supplementary document 3 (optional)</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                {{#unless defaults.application_readonly}}
                <input type="file" id="tfa_286" name="tfa_286" size="" title="Supplementary document 3" class="form-input">
                {{else}}
                <p class="t-margin">
                  <span class="label label-info">
                    <span class="far fa-paperclip fa-fw mr"></span>
                    Optional file upload may have been attached
                  </span>
                </p>
                {{/unless}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-4"{{/unless}}>
        <div class="section pageSection" id="tfa_59">
          <h3 id="tfa_59-T">About the work you would like funded</h3>
          <p>
            Please refer to the <a href="https://storage.googleapis.com/scvo-cms/wp-content/uploads/2021/05/New-Scots-Small-grant-guidance.pdf" target="_blank" download>fund guidance</a> for help on how to complete this form.
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_60-L" class="form-label preField reqMark" for="tfa_60">2.1&ensp;Name of your project</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_60-D">
                <input type="text" id="tfa_60" name="tfa_60" value="{{defaults.tfa_60}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="Name of your project" class="form-input required" required>
              </div>
            </div>
          </div>
          <p>
            2.2&ensp;When will your project start and finish?
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_61-L" class="form-label preField reqMark" for="tfa_61">Start date</label>
            </div>
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_61-D">
                <input type="text" id="tfa_61" name="tfa_61" placeholder="DD/MM/YYYY" value="{{defaults.tfa_61}}"{{#if defaults.application_readonly}} readonly{{/if}} autocomplete="off" aria-required="true" min="2021-06-25" max="2022-10-31" title="Start date" class="{{#unless defaults.application_readonly}}validate-datecal{{/unless}} form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_62-L" class="form-label preField reqMark" for="tfa_62">End date</label>
            </div>
            <div class="col-4 col-lg-5 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_62-D">
                <input type="text" id="tfa_62" name="tfa_62" placeholder="DD/MM/YYYY" value="{{defaults.tfa_62}}"{{#if defaults.application_readonly}} readonly{{/if}} autocomplete="off" aria-required="true" min="2021-06-25" max="2022-10-31" title="End date" class="{{#unless defaults.application_readonly}}validate-datecal{{/unless}} form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_63-L" class="form-label preField reqMark" for="tfa_63">2.3&ensp;Which topic are you applying for?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_63-D">
                <select id="tfa_63" name="tfa_63" title="Which topic are you applying for?" aria-required="true" class="form-select required" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{/if}}>
                  <option value="" disabled{{#unless defaults.tfa_63}} selected{{/unless}}>Please select&hellip;</option>
                  {{#each topic}}
                  <option value="{{id}}" id="{{id}}"{{#if (contains (slugify ../defaults.tfa_63) (slugify name))}} selected{{/if}}>{{{name}}}</option>
                  {{/each ~}}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group oneField" role="radiogroup" aria-labelledby="tfa_80-L" data-tfa-labelledby="-L tfa_80-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_80-L" class="form-label preField reqMark">2.4&ensp;Which type of project are you applying for?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_80-D">
                <span id="tfa_80" class="choices vertical required" required>
                  {{#each type}}
                  <span class="oneChoice">
                    <label class="form-radio{{#if ../defaults.application_readonly}} option-readonly{{/if}}" id="{{id}}-L" for="{{id}}">
                      <input type="radio" value="{{id}}" id="{{id}}" name="tfa_80" aria-required="true" aria-labelledby="{{id}}-L" data-tfa-labelledby="tfa_80-L {{id}}-L" {{#if defaults.application_readonly}}readonly {{/if}} {{#if (contains (replace (slugify name) '-' ' ') (replace (slugify ../defaults.tfa_80) '-' ' '))}} checked{{/if}} data-conditionals="#{{conditional}}-D">
                      <i class="form-icon"></i> {{name}}
                    </label>
                  </span>
                  {{/each}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-12">
              <label id="tfa_83-L" class="form-label preField reqMark" for="tfa_83">2.5&ensp;Please give us a summary of your proposed project</label>
              <div class="field-container-D" id="tfa_83-D">
                <textarea aria-required="true" data-maxwords="150" id="tfa_83" name="tfa_83" title="Please give us a summary of your proposed project" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_83}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-12">
              <label id="tfa_84-L" class="form-label preField reqMark" for="tfa_84">2.6&ensp;Please describe how refugees have been involved in the development of this idea and how they will participate in the delivery of the project</label>
              <div class="field-container-D" id="tfa_84-D">
                <textarea aria-required="true" data-maxwords="350" id="tfa_84" name="tfa_84" title="Please describe how refugees have been involved in the development of this idea and how they will participate in the delivery of the project" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_84}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_85-D" data-condition="`#tfa_81`">
            <div class="col-12">
              <label id="tfa_85-L" class="form-label preField reqMark" for="tfa_85">2.7&ensp;Please explain how your project will widen the impact of successful integration approaches, practices and tools</label>
              <div class="field-container-D">
                <textarea aria-required="true" data-maxwords="350" id="tfa_85" name="tfa_85" title="Please explain how your project will widen the impact of successful integration approaches, practices and tools" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_85}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_86-D" data-condition="`#tfa_82`">
            <div class="col-12">
              <label id="tfa_86-L" class="form-label preField reqMark" for="tfa_86">2.7&ensp;Please explain how your project will support innovation by piloting new approaches, practices and tools that support integration</label>
              <div class="field-container-D">
                <textarea aria-required="true" data-maxwords="350" id="tfa_86" name="tfa_86" title="Please explain how your project will support innovation by piloting new approaches, practices and tools that support integration" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_86}}</textarea>
              </div>
            </div>
          </div>
          <p>
            2.8&ensp;Location of your project
          </p>
          <div class="form-group oneField" role="radiogroup" aria-labelledby="tfa_87-L" data-tfa-labelledby="-L tfa_87-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_87-L" class="form-label preField reqMark">Where will the proposed work be delivered?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_87-D">
                <span id="tfa_87" class="choices vertical required" required>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_88-L" for="tfa_88">
                      <input type="radio" value="tfa_88" id="tfa_88" name="tfa_87" aria-required="true" aria-labelledby="tfa_88-L" data-tfa-labelledby="tfa_87-L tfa_88-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_87 "Within a specific community (e.g. town, village or neighbourhood)"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      A local community or large number of local communities
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_89-L" for="tfa_89">
                      <input type="radio" value="tfa_89" id="tfa_89" name="tfa_87" aria-required="true" data-conditionals="#tfa_92-D" aria-labelledby="tfa_89-L" data-tfa-labelledby="tfa_87-L tfa_89-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_87 "Across one local authority area"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Across one Local Authority area
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_90-L" for="tfa_90">
                      <input type="radio" value="tfa_90" id="tfa_90" name="tfa_87" aria-required="true" data-conditionals="#tfa_125-D" aria-labelledby="tfa_90-L" data-tfa-labelledby="tfa_87-L tfa_90-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_87 "Across several local authority areas"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Across several Local Authority areas
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_91-L" for="tfa_91">
                      <input type="radio" value="tfa_91" id="tfa_91" name="tfa_87" aria-required="true" aria-labelledby="tfa_91-L" data-tfa-labelledby="tfa_87-L tfa_91-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_87 "Across Scotland"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Nationally (across Scotland)
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_92-D" data-condition="`#tfa_89`">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_92-L" class="form-label preField reqMark" for="tfa_92">Local authority</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                <select id="tfa_92" name="tfa_92" title="Local authority" aria-required="true" class="form-select required" {{#if defaults.application_readonly}}style="pointer-events:none;" readonly{{/if}} required>
                  <option value="" disabled{{#unless defaults.tfa_92}} selected{{/unless}}>Please select&hellip;</option>
                  {{#each local_authorities ~}}
                  {{#if this.id_single}}
                  <option value="{{id_single}}" id="{{id_single}}"{{#compare name ../defaults.tfa_92}} selected{{/compare}}>
                    {{name}}
                  </option>
                  {{/if}}
                  {{/each ~}}
                </select>
              </div>
            </div>
          </div>
          <div class="form-group oneField" role="group" aria-labelledby="tfa_125-L" data-tfa-labelledby="-L tfa_125-L" id="tfa_125-D" data-condition="`#tfa_90`">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_125-L" class="form-label preField reqMark" aria-label="Local authorities" required>Local authorities</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                <span id="tfa_125" class="choices vertical columns required" required>
                  {{#each local_authorities ~}}
                  <span class="form-group column col-6 col-md-12">
                    <label class="form-checkbox {{#if ../defaults.application_readonly}}option-readonly{{/if}}" id="{{id_multiple}}-L" for="{{id_multiple}}">
                      <input type="checkbox" value="{{id_multiple}}" id="{{id_multiple}}" name="{{id_multiple}}" aria-labelledby="{{id_multiple}}-L" data-tfa-labelledby="tfa_125-L {{id_multiple}}-L"{{#if (contains (slugify (replace ../defaults.tfa_125 ' and ' ' ')) (slugify name))}} checked{{/if}} {{#if defaults.application_readonly}}readonly{{/if}}>
                      <i class="form-icon"></i> {{name}}
                    </label>
                  </span>
                  {{/each ~}}
                </span>
              </div>
            </div>
          </div>
          <p>
            2.9&ensp;Collaboration
          </p>
          <div class="form-group oneField" role="radiogroup" aria-labelledby="tfa_191-L" data-tfa-labelledby="-L tfa_191-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_191-L" class="form-label preField reqMark">Is this an individual or partnership project?</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_191-D">
                <span id="tfa_191" class="choices vertical required" required>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_192-L" for="tfa_192">
                      <input type="radio" value="tfa_192" id="tfa_192" name="tfa_191" aria-required="true" aria-labelledby="tfa_192-L" data-tfa-labelledby="tfa_191-L tfa_192-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_191 "Individual"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Individual
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_193-L" for="tfa_193">
                      <input type="radio" value="tfa_193" id="tfa_193" name="tfa_191" aria-required="true" data-conditionals="#tfa_194-D,#tfa_280-D" aria-labelledby="tfa_193-L" data-tfa-labelledby="tfa_191-L tfa_193-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#compare defaults.tfa_191 "Partnership"}} checked{{/compare}}>
                      <span class="form-icon"></span>
                      Partnership
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_194-D" data-condition="`#tfa_193`">
            <div class="col-12">
              <label id="tfa_194-L" class="form-label preField reqMark" for="tfa_194">Please describe who the partners working on the project are and why you have decided to collaborate</label>
              <div class="field-container-D">
                <textarea aria-required="true" data-maxwords="150" id="tfa_194" name="tfa_194" title="Please describe who the partners working on the project are and why you have decided to collaborate" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_194}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField" id="tfa_195-D" role="radiogroup" aria-labelledby="tfa_195-L" data-tfa-labelledby="-L tfa_195-L">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_195-L" class="form-label preField">If yes, please indicate if you have contacted the relevant organisation(s)</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                <span id="tfa_195" class="choices vertical">
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_196-L" for="tfa_196">
                      <input type="radio" value="tfa_196" id="tfa_196" name="tfa_195" aria-labelledby="tfa_196-L" data-tfa-labelledby="tfa_195-L tfa_196-L"{{#if defaults.application_readonly}} readonly{{#compare defaults.tfa_195 "Yes"}} checked{{/compare}}{{/if}}>
                      <span class="form-icon"></span>
                      Yes
                    </label>
                  </span>
                  <span class="oneChoice">
                    <label class="form-radio postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_197-L" for="tfa_197">
                      <input type="radio" value="tfa_197" id="tfa_197" name="tfa_195" aria-labelledby="tfa_197-L" data-tfa-labelledby="tfa_195-L tfa_197-L"{{#if defaults.application_readonly}} readonly{{#compare defaults.tfa_195 "No"}} checked{{/compare}}{{/if}}>
                      <span class="form-icon"></span>
                      No
                    </label>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-5"{{/unless}}>
        <div class="section pageSection" id="tfa_198">
          <h3 id="tfa_198-T">Project/activities</h3>
          <p>
            2.10&ensp;Proposed project/activities
          </p>
          <p>
            You are able to add up to 4 activities. If you have more than 4, you can add 2 activities in each box. This will allow you to include up to 8 activities.
          </p>
          <div id="tfa_246" class="section group mt mb-1">
            <label class="form-label preField" id="tfa_246-L">Proposed project/activity 1</label>
            <div class="form-group oneField field-container-D" id="tfa_242-D">
              <div class="col-12">
                <label id="tfa_242-L" class="form-label preField reqMark" for="tfa_242">Activity</label>
                <textarea aria-required="true" data-maxwords="500" id="tfa_242" name="tfa_242" title="Activity 1" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_242}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_243-D">
              <div class="col-12">
                <label id="tfa_243-L" class="form-label preField reqMark" for="tfa_243">Who are the target groups for this activity?</label>
                <textarea aria-required="true" data-maxwords="150" id="tfa_243" name="tfa_243" title="Target group 1" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_243}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_244-D">
              <div class="col-12">
                <label id="tfa_244-L" class="form-label preField reqMark" for="tfa_244">How many people do you estimate you will reach through this activity?</label>
                <input type="text" id="tfa_244" name="tfa_244" value="{{defaults.tfa_244}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="6" aria-required="true" title="People reach 1" class="form-input validate-integer required" required>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_245-D">
              <div class="col-12">
                <label id="tfa_245-L" class="form-label preField reqMark" for="tfa_245">When will this activity take place?</label>
                <input type="text" id="tfa_245" name="tfa_245" value="{{defaults.tfa_245}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="255" aria-required="true" title="Date of activity 1" class="form-input required" required>
              </div>
            </div>
          </div>
          <div id="tfa_252" class="section group mb-1">
            <label class="form-label preField" id="tfa_252-L">Proposed project/activity 2</label>
            <div class="form-group oneField field-container-D" id="tfa_253-D">
              <div class="col-12">
                <label id="tfa_253-L" class="form-label preField " for="tfa_253">Activity</label>
                <textarea data-maxwords="500" id="tfa_253" name="tfa_253" title="Activity 2"{{#if defaults.application_readonly}} readonly{{/if}} class="form-input count-words">{{defaults.tfa_253}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_254-D">
              <div class="col-12">
                <label id="tfa_254-L" class="form-label preField " for="tfa_254">Who are the target groups for this activity?</label>
                <textarea data-maxwords="150" id="tfa_254" name="tfa_254" title="Target group 2" class="form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}}>{{defaults.tfa_254}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_255-D">
              <div class="col-12">
                <label id="tfa_255-L" class="form-label preField " for="tfa_255">How many people do you estimate you will reach through this activity?</label>
                <input type="text" id="tfa_255" name="tfa_255" value="{{defaults.tfa_255}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="6" title="People reach 2" class="form-input validate-integer">
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_256-D">
              <div class="col-12">
                <label id="tfa_256-L" class="form-label preField " for="tfa_256">When will this activity take place?</label>
                <input type="text" id="tfa_256" name="tfa_256" value="{{defaults.tfa_256}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="255" title="Date of activity 2" class="form-input">
              </div>
            </div>
          </div>
          <div id="tfa_262" class="section group mb-1">
            <label class="form-label preField" id="tfa_262-L">Proposed project/activity 3</label>
            <div class="form-group oneField field-container-D" id="tfa_263-D">
              <div class="col-12">
                <label id="tfa_263-L" class="form-label preField " for="tfa_263">Activity</label>
                <textarea data-maxwords="500" id="tfa_263" name="tfa_263" title="Activity 3"{{#if defaults.application_readonly}} readonly{{/if}} class="form-input count-words">{{defaults.tfa_263}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_264-D">
              <div class="col-12">
                <label id="tfa_264-L" class="form-label preField " for="tfa_264">Who are the target groups for this activity?</label>
                <textarea data-maxwords="150" id="tfa_264" name="tfa_264" title="Target group 3" class="form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}}>{{defaults.tfa_264}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_265-D">
              <div class="col-12">
                <label id="tfa_265-L" class="form-label preField " for="tfa_265">How many people do you estimate you will reach through this activity?</label>
                <input type="text" id="tfa_265" name="tfa_265" value="{{defaults.tfa_265}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="6" title="People reach 3" class="form-input validate-integer">
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_266-D">
              <div class="col-12">
                <label id="tfa_266-L" class="form-label preField " for="tfa_266">When will this activity take place?</label>
                <input type="text" id="tfa_266" name="tfa_266" value="{{defaults.tfa_266}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="255" title="Date of activity 3" class="form-input">
              </div>
            </div>
          </div>
          <div id="tfa_272" class="section group mb-1">
            <label class="form-label preField" id="tfa_272-L">Proposed project/activity 4</label>
            <div class="form-group oneField field-container-D" id="tfa_273-D">
              <div class="col-12">
                <label id="tfa_273-L" class="form-label preField " for="tfa_273">Activity</label>
                <textarea data-maxwords="500" id="tfa_273" name="tfa_273" title="Activity 4" class="form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}}>{{defaults.tfa_273}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_274-D">
              <div class="col-12">
                <label id="tfa_274-L" class="form-label preField " for="tfa_274">Who are the target groups for this activity?</label>
                <textarea data-maxwords="150" id="tfa_274" name="tfa_274" title="Target group 4" class="form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}}>{{defaults.tfa_274}}</textarea>
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_275-D">
              <div class="col-12">
                <label id="tfa_275-L" class="form-label preField " for="tfa_275">How many people do you estimate you will reach through this activity?</label>
                <input type="text" id="tfa_275" name="tfa_275" value="{{defaults.tfa_275}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="6" title="People reach 4" class="form-input validate-integer">
              </div>
            </div>
            <div class="form-group oneField field-container-D" id="tfa_276-D">
              <div class="col-12">
                <label id="tfa_276-L" class="form-label preField " for="tfa_276">When will this activity take place?</label>
                <input type="text" id="tfa_276" name="tfa_276" value="{{defaults.tfa_276}}"{{#if defaults.application_readonly}} readonly{{/if}} maxlength="255" title="Date of activity 4" class="form-input">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-6"{{/unless}}>
        <div class="section pageSection" id="tfa_199">
          <div class="form-group oneField">
            <div class="col-12">
              <label id="tfa_201-L" class="form-label preField reqMark" for="tfa_201">2.11&ensp;Please tell us how you plan to monitor the progress and achievements of your project? What data and information do you plan to collect in order to track progress?</label>
              <div class="field-container-D" id="tfa_201-D">
                <textarea aria-required="true" data-maxwords="150" id="tfa_201" name="tfa_201" title="Please tell us how you plan to monitor the progress and achievements of your project? What data and information do you plan to collect in order to track progress?" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_201}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-12">
              <label id="tfa_202-L" class="form-label preField reqMark" for="tfa_202">2.12&ensp;Please describe how you know this work is needed</label>
              <div class="field-container-D" id="tfa_202-D">
                <textarea aria-required="true" data-maxwords="500" id="tfa_202" name="tfa_202" title="Please describe how you know this work is needed" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_202}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-12">
              <label id="tfa_203-L" class="form-label preField reqMark" for="tfa_203">2.13&ensp;Please describe if you have considered how your project would be able to adapt to further COVID-19 restrictions in the future</label>
              <div class="field-container-D" id="tfa_203-D">
                <textarea aria-required="true" data-maxwords="150" id="tfa_203" name="tfa_203" title="Please describe if you have considered how your project would be able to adapt to further COVID-19 restrictions in the future" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_203}}</textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-7"{{/unless}}>
        <div class="section pageSection" id="tfa_204">
          <h3 id="tfa_204-T">People and communities who will benefit from your activity</h3>
          <div class="form-group oneField">
            <div class="col-12">
              <label id="tfa_206-L" class="form-label preField reqMark" for="tfa_206">2.14&ensp;Please describe the people and communities who will benefit from the project you plan to do</label>
              <div class="field-container-D" id="tfa_206-D">
                <textarea aria-required="true" data-maxwords="250" id="tfa_206" name="tfa_206" title="Please describe the people and communities who will benefit from the project you plan to do" class="required form-input count-words"{{#if defaults.application_readonly}} readonly{{/if}} required>{{defaults.tfa_206}}</textarea>
              </div>
            </div>
          </div>
          <div class="form-group oneField" role="group" aria-labelledby="tfa_207-L" data-tfa-labelledby="-L tfa_207-L">
            <div class="col-12">
              <label id="tfa_207-L" class="form-label preField reqMark" aria-label="Please indicate if your project will include targeted work with any of the following communities, underrepresented groups or protected characteristics. [Select all that are relevant]" required>2.15&ensp;Please indicate if your project will include targeted work with any of the following communities, underrepresented groups or protected characteristics. [Select all that are relevant]</label>
              <div class="field-container-D" id="tfa_207-D">
                <span id="tfa_207" class="choices vertical required" required>
                  {{#each target_communities}}
                  <div class="form-group">
                    <label class="form-checkbox{{#if ../defaults.application_readonly}} option-readonly{{/if}}" id="{{id}}-L" for="{{id}}">
                      <input type="checkbox" value="{{id}}" id="{{id}}" name="{{id}}" aria-required="true" aria-labelledby="{{id}}-L" data-tfa-labelledby="tfa_207-L {{id}}-L"{{#if (contains (slugify ../defaults.tfa_207) (slugify name))}} checked{{/if}}{{#if (contains name 'Other')}} data-conditionals="#tfa_217-D"{{/if}} {{#if defaults.application_readonly}}readonly{{/if}}>
                      <i class="form-icon"></i> {{name}}
                    </label>
                  </div>
                  {{/each}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group oneField field-container-D" id="tfa_217-D" data-condition="`#tfa_216`">
            <div class="col-12">
              <label id="tfa_217-L" class="form-label preField reqMark" for="tfa_217">Please specify</label>
              <input type="text" id="tfa_217" name="tfa_217" maxlength="150" value="{{defaults.tfa_217}}"{{#if defaults.application_readonly}} readonly{{/if}} aria-required="true" title="Please specify" class="form-input required" required>
            </div>
          </div>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-8"{{/unless}}>
        <div class="section pageSection" id="tfa_200">
          <h3 id="tfa_200-T">Proposed budget</h3>
          <p>
            3.1&ensp;Associated budget
          </p>
          <p>
            Please provide a short description of each element and estimated cost.
          </p>
          <table class="gridLayout" style="width:100%;">
            <thead>
              <tr class="headerRow">
                <th scope="col" style="width:50%;">
                  Budget description
                </th>
                <th scope="col" style="width:50%;">
                  Amount (&pound;)
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_219-D">
                    <input type="text" id="tfa_219" maxlength="255" name="tfa_219" value="{{defaults.tfa_219}}" title="Budget 1 description" class="form-input required" required{{#if defaults.application_readonly}} readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_218-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_218" name="tfa_218" value="{{defaults.tfa_218}}" title="Budget 1 amount" class="form-input calc-BudgetA text-right validate-integer required" required{{#if defaults.application_readonly}} readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_221-D">
                    <input type="text" id="tfa_221" name="tfa_221" maxlength="255" value="{{defaults.tfa_221}}" title="Budget 2 description" class="form-input"{{#if defaults.application_readonly}} readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_220-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_220" name="tfa_220" value="{{defaults.tfa_220}}" title="Budget 2 amount" class="form-input calc-BudgetB validate-integer text-right"{{#if defaults.application_readonly}} readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_223-D">
                    <input type="text" id="tfa_223" maxlength="255" name="tfa_223" value="{{defaults.tfa_223}}" title="Budget 3 description" class="form-input"{{#if defaults.application_readonly}} readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class=" oneField field-container-D" id="tfa_222-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_222" name="tfa_222" value="{{defaults.tfa_222}}" title="Budget 3 amount" class="form-input calc-BudgetC validate-integer text-right"{{#if defaults.application_readonly}} readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_225-D">
                    <input type="text" id="tfa_225" name="tfa_225" maxlength="255" value="{{defaults.tfa_225}}" title="Budget 4 description" class="form-input"{{#if defaults.application_readonly}} readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_224-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_224" name="tfa_224" value="{{defaults.tfa_224}}" title="Budget 4 amount" class="form-input calc-BudgetD validate-integer text-right"{{#if defaults.application_readonly}} readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <td>
                  <div class="oneField field-container-D" id="tfa_227-D">
                    <input type="text" id="tfa_227" name="tfa_227" maxlength="255" value="{{defaults.tfa_227}}" title="Budget 5 description" class="form-input"{{#if defaults.application_readonly}} readonly{{/if}}>
                  </div>
                </td>
                <td>
                  <div class="oneField field-container-D" id="tfa_226-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" pattern="[0-9]*" onkeypress="return isNumberKey(event);" min="0" max="100000000" id="tfa_226" name="tfa_226" value="{{defaults.tfa_226}}" title="Budget 5 amount" class="form-input calc-BudgetE validate-integer text-right"{{#if defaults.application_readonly}} readonly{{/if}}>
                    </div>
                  </div>
                </td>
              </tr>
              <tr class="section">
                <th scope="row" class="headerCol text-left">
                  <strong>Budget total</strong>
                </th>
                <td>
                  <div class="oneField field-container-D" id="tfa_228-D">
                    <div class="input-group" style="width:100%;">
                      <span class="input-group-addon">&pound;</span>
                      <input type="number" id="tfa_228" name="tfa_228" readonly autocomplete="nope" data-lpignore="true" class="formula=BudgetA+BudgetB+BudgetC+BudgetD+BudgetE readonly form-input text-right">
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div {{#unless defaults.application_readonly}} class="wfPage" id="wfPgIndex-9"{{/unless}}>
        <div class="section pageSection" id="tfa_229">
          <h3 id="tfa_229-T">Declaration</h3>
          <div class="form-group oneField field-container-D" id="tfa_230-D" role="group" aria-labelledby="tfa_230-L" data-tfa-labelledby="-L tfa_230-L">
            <div class="col-12">
              <label id="tfa_230-L" class="form-label preField "></label>
              <span id="tfa_230" class="choices vertical ">
                <span class="oneChoice">
                  <label class="form-checkbox postField {{#if defaults.application_readonly}}option-readonly{{/if}}" id="tfa_231-L" for="tfa_231">
                    <input type="checkbox" value="tfa_231" id="tfa_231" name="tfa_231" aria-labelledby="tfa_231-L" data-tfa-labelledby="tfa_230-L tfa_231-L"{{#if defaults.application_readonly}} readonly{{/if}}{{#if defaults.tfa_230}} checked{{/if}}>
                    <span class="form-icon"></span>
                    <strong>Please tick this box if you are happy for the New Scots Refugee Integration Delivery Project panel to contact you</strong>
                  </label>
                </span>
              </span>
            </div>
          </div>
          <p>
            By signing this declaration you are confirming that you are an authorised signatory for the organisation applying to the New Scots Fund. You are also confirming that the statement below is accurate.
          </p>
          <p>
            I confirm that I have read the accompanying guidance note in advance of completing the application form.
          </p>
          <p>
            As far as we know and believe, all of the information in this application form is true, accurate and complete. We are authorised to allow this proposal to go ahead. We are happy for the Scottish Government to:
          </p>
          <ul>
            <li>publish details of the financial support they are giving to this proposal;</li>
            <li>give any details they have about our proposal from this application or from future assessments to Scottish Government colleagues, other agencies, including other grant-making bodies;</li>
            <li>store and use the data from our application to support monitoring, analysis and insight relating to the project; and</li>
            <li>use any of these details in news releases, case studies, publications and other publicity materials.</li>
          </ul>
          <p>
            The Scottish Government can do these things without asking us again for our agreement and will not use any of these details for commercial purposes.
          </p>
          <p>
            Authorised Signatory Details
          </p>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_232-L" class="form-label preField reqMark" for="tfa_232">First name</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_232-D">
                <input type="text" id="tfa_232" name="tfa_232" value="{{defaults.tfa_232}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Signatory first name" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_233-L" class="form-label preField reqMark" for="tfa_233">Last name</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_233-D">
                <input type="text" id="tfa_233" name="tfa_233" value="{{defaults.tfa_233}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Signatory last name" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_234-L" class="form-label preField reqMark" for="tfa_234">Designation in Applicant Organisation</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_234-D">
                <input type="text" id="tfa_234" name="tfa_234" value="{{defaults.tfa_234}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Designation in Applicant Organisation" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_235-L" class="form-label preField reqMark" for="tfa_235">Contact address</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_235-D">
                <input type="text" id="tfa_235" name="tfa_235" value="{{defaults.tfa_235}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Address 1" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_238-L" class="form-label preField reqMark" for="tfa_238">Town/city</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_238-D">
                <input type="text" id="tfa_238" name="tfa_238" value="{{defaults.tfa_238}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Address town/city" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_239-L" class="form-label preField reqMark" for="tfa_239">Postcode</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_239-D">
                <input type="text" id="tfa_239" name="tfa_239" value="{{defaults.tfa_239}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Please enter a valid UK postcode" pattern="^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))$" class="form-input required validate-custom /^(([gG][iI][rR] {0,}0[aA]{2})|((([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y]?[0-9][0-9]?)|(([a-pr-uwyzA-PR-UWYZ][0-9][a-hjkstuwA-HJKSTUW])|([a-pr-uwyzA-PR-UWYZ][a-hk-yA-HK-Y][0-9][abehmnprv-yABEHMNPRV-Y]))) {0,}[0-9][abd-hjlnp-uw-zABD-HJLNP-UW-Z]{2}))/g" required>
              </div>
            </div>
            <script type="text/javascript">
            if(typeof wFORMS != 'undefined') {
              if(wFORMS.behaviors.validation) {
                wFORMS.behaviors.validation.rules['customtfa_239'] =  { selector: '*[id="tfa_239"]', check: 'validateCustom'};
                wFORMS.behaviors.validation.messages['customtfa_239'] = "Please enter a valid UK postcode";
              }
            }
            </script>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_240-L" class="form-label preField reqMark" for="tfa_240">Phone number</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_240-D">
                <input type="text" id="tfa_240" name="tfa_240" value="{{defaults.tfa_240}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Phone number" class="form-input required" required>
              </div>
            </div>
          </div>
          <div class="form-group oneField">
            <div class="col-4 col-lg-5 col-md-6 col-sm-12 pr">
              <label id="tfa_241-L" class="form-label preField reqMark" for="tfa_241">Email address</label>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D" id="tfa_241-D">
                <input type="email" id="tfa_241" name="tfa_241" value="{{defaults.tfa_241}}"{{#if defaults.application_readonly}} readonly{{/if}} title="Email address" class="validate-email form-input required" required>
              </div>
            </div>
          </div>
          {{#unless defaults.application_readonly}}
          <p>
            Your pressing 'Submit' for this application is your signatory for this application.
          </p>
          {{/unless}}

          <div class="form-group oneField" id="tfa_280-D" data-condition="`#tfa_193`">
            <div class="col-12">
              <h3>Upload partner details</h3>
              <p>
                <a href="https://storage.googleapis.com/scvo-net.appspot.com/funds/New%20Scots%20Partners%20Spreadsheet.xlsx" class="btn btn-primary btn-cta" target="_blank" download>Project partners template download (Excel)</a>
              </p>
            </div>
            <div class="col-8 col-lg-7 col-md-6 col-sm-12">
              <div class="field-container-D">
                {{#unless defaults.application_readonly}}
                <input type="file" id="tfa_280" name="tfa_280" size="" title="Please upload a file containing details of the project partners based on the template provided" class="form-input required" required>
                {{else}}
                <p class="t-margin">
                  <span class="label label-info">
                    <span class="far fa-paperclip fa-fw mr"></span>
                    File upload has been attached
                  </span>
                </p>
                {{/unless}}
              </div>
            </div>
          </div>
        </div>
      </div>
      {{#unless defaults.application_readonly}}
      <div class="actions" id="4899064-A">
        <input type="submit" data-label="Submit" class="primaryAction btn btn-lg btn-primary mt mb-2" id="submit_button" value="Submit">
      </div>
      <input type="hidden" value="4899064" name="tfa_dbFormId" id="tfa_dbFormId">
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
      <input type="hidden" value="d021345304532a0c24a11f02d4435952" name="tfa_dbControl" id="tfa_dbControl">
      <input type="hidden" value="" name="tfa_dbWorkflowSessionUuid" id="tfa_dbWorkflowSessionUuid">
      <input type="hidden" value="29" name="tfa_dbVersionId" id="tfa_dbVersionId">
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
      {{/unless}}
    </form>
    <button type="button" class="btn btn-tertiary show-form-recovery-modal {{#unless (contains @root.request.headers.scvo-roles 'root')}}d-none{{/unless}}">Get a recovery link</button>
  </div>
</div>

<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
});
function isNumberKey(evt){
  var charCode = (evt.which) ? evt.which : evt.keyCode
  return !(charCode > 31 && (charCode < 48 || charCode > 57));
}
</script>
{{/withExtend}}