{{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
<ul class="breadcrumb breadcrumb-length-{{breadcrumb.length}}" aria-hidden="true">
  <li class="breadcrumb-item"><a href="/">Home</a></li>
  {{#if categories_slug.[0] ~}}
  {{#compare categories_slug.[0] 'press-releases' ~}}
  <li class="breadcrumb-item"><a href="/about">About</a></li>
  <li class="breadcrumb-item"><a href="/about/work/press-releases">Press releases</a></li>
  {{else}}
  {{#compare categories_slug.[0] 'digital' ~}}
  <li class="breadcrumb-item"><a href="/support">Support & learning</a></li>
  <li class="breadcrumb-item"><a href="/support/digital">Digital</a></li>
  {{else}}
  <li class="breadcrumb-item"><a href="/{{categories_slug.[0]}}">{{{categories.[0]}}}</a></li>
  <li class="breadcrumb-item"><a href="/{{categories_slug.[0]}}/posts">Posts</a></li>
  {{/compare ~}}
  {{/compare ~}}
  {{/if ~}}
  <li class="breadcrumb-item">{{{striptags title}}}</li>
</ul>
{{/with ~}}