<div class="container">
  <ul class="breadcrumb breadcrumb-length-4" aria-hidden="true">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/support">Support &amp; learning</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus">Coronavirus Third Sector Information Hub</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding">Funding</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government">Funds: Scottish Government</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government/community-recovery">Community & Third Sector Recovery Programme</a></li>
    <li class="breadcrumb-item"><a href="/support/coronavirus/funding/scottish-government/community-recovery/crf">Communities Recovery Fund</a></li>
    <li class="breadcrumb-item">{{#ifAny @root.request.params.session_key @root.request.body.funder (compare @root.route.name "coronavirus_crf_apply_complete")}}{{#compare @root.route.name "coronavirus_crf_apply_already_awarded"}}Sorry{{else}}View application{{/compare}}{{else}}View application{{/ifAny}}</li>
  </ul>
</div>
<div class="container">
  {{#with @root.data.form_data}}
  <h1 class="font-default">{{#if defaults.application_fund}}{{#compare defaults.application_fund "Communities Recovery Fund"}}{{defaults.application_fund}} application{{else}}{{{replace (replace defaults.application_fund "Recovery Fund" "Adapt &amp; Thrive") "Supporting Communities Fund" "Communities Recovery Fund"}}} application{{/compare}}{{/if}}</h1>
  {{/with}}
</div>