<p>
  Our staff, where possible, are working from home. Customers and clients of our services will get regular updates from individual services and teams about any impact this may have and how to stay in touch.
</p>
<p>
  You can also contact us as follows:
</p>
<ul>
  <li>General Enquiries: <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>&ensp;0800 169 0022</li>
</ul>
<ul>
  <li>Information Service: <a href="mailto:enquiries@scvo.org.uk">enquiries@scvo.org.uk</a>&ensp;0800 169 0022</li>
</ul>
<ul>
  <li class="no-margin">Managed IT: <a href="mailto:ithelpdesk@scvo.org.uk">ithelpdesk@scvo.org.uk</a>&ensp;current clients should use the usual email and helpline number</li>
  <li class="no-margin">Office and meeting space: <a href="mailto:facilities@scvo.org.uk">facilities@scvo.org.uk</a></li>
  <li class="no-margin">Payroll service: <a href="mailto:payroll@scvo.org.uk">payroll@scvo.org.uk</a>&ensp;0131 474 8008</li>
  <li class="no-margin">SCVO Credit Union: <a href="mailto:credit.union@scvo.org.uk">credit.union@scvo.org.uk</a></li>
</ul>
<ul>
  <li class="no-margin">Community Jobs Scotland: <a href="mailto:communityjobsscotland@scvo.org.uk">communityjobsscotland@scvo.org.uk</a></li>
  <li class="no-margin">Funding Scotland: <a href="mailto:fundingscotland@scvo.org.uk">fundingscotland@scvo.org.uk</a></li>
  <li class="no-margin">Goodmoves: <a href="mailto:sales@goodmoves.org.uk">sales@goodmoves.org.uk</a>&ensp;0800 019 2149</li>
  <li class="no-margin">Scottish Charity Awards: <a href="mailto:awards@scvo.org.uk">awards@scvo.org.uk</a></li>
  <li class="no-margin">SCVO Digital team: <a href="mailto:digital@scvo.org.uk">digital@scvo.org.uk</a></li>
  <li class="no-margin">SCVO Membership team: <a href="mailto:membership@scvo.org.uk">membership@scvo.org.uk</a></li>
  <li class="no-margin">SCVO Policy team: <a href="mailto:scvopolicyandresearch@scvo.org.uk">scvopolicyandresearch@scvo.org.uk</a></li>
  <li class="no-margin">The Gathering: <a href="mailto:thegathering@scvo.org.uk">thegathering@scvo.org.uk</a></li>
  <li class="no-margin">Third Force News: <a href="mailto:tfn@scvo.org.uk">tfn@scvo.org.uk</a></li>
  <li class="no-margin">Training: <a href="mailto:training@scvo.org.uk">training@scvo.org.uk</a></li>
</ul>
<ul>
  <li class="no-margin">SCVO Finance: <a href="mailto:finance@scvo.org.uk">finance@scvo.uk</a><br />
    <br />
    Purchase ledger enquiries 0131 474 8012<br />
    Please send invoices electronically if possible<br />
    <br />
    Sales ledger 0131 474 6169<br/>
    Please note we are unable to make cheque payments at this time
  </li>
</ul>

<h2>Staff directory</h2>
<form action="/about/staff-team" method="GET" [searchroute]="'staff_search'" data-auto-search="true" class="t-margin-full">
  <div class="mdc-layout-grid filter">
    <div class="columns">
      <div class="column col-4 col-xl-4 col-md-4 col-sm-12">
        <div class="form-group">
          <select class="form-select" id="department" name="department" onchange="this.form.submit();">
            <option value="all"{{#if @root.request.params.query.department}}{{else}} selected{{/if}}>All departments</option>
            {{#each @root.data.supplimentaryResponses.departments.aggregations.departments.buckets ~}}
            {{#if key ~}}
            <option value="{{slugify key}}" {{#compare ../request.params.query.department "===" (slugify key)}}selected{{/compare}}>{{{key}}}</option>
            {{/if ~}}
            {{/each ~}}
          </select>
        </div>
      </div>
      {{!-- <div class="column col-4 col-xl-6 hide-sm"></div>
      <div class="column col-2 col-xl-3 col-md-6 col-sm-12">
        <div class="form-group">
          <select class="form-select" id="city" name="city" onchange="this.form.submit();">
            <option value="all"{{#if @root.request.params.query.city}}{{else}} selected{{/if}}>All cities</option>
            {{#each @root.data.supplimentaryResponses.departments.aggregations.cities.buckets ~}}
            <option value="{{slugify key}}" {{#compare ../request.params.query.city "===" (slugify key)}}selected{{/compare}}>{{{key}}}</option>
            {{/each ~}}
          </select>
        </div>
      </div> --}}
    </div>
  </div>
</form>

{{#each @root.data.primaryResponse.aggregations.query.buckets ~}}
<div class="b-margin-full staff-list">
  <h3>{{{key}}}</h3>
  {{#each staff.hits.hits ~}}
  {{#with _source ~}}
  <div class="list scvo-staff mdc-layout-grid">
    <div class="columns">
      <div class="column col-4 col-xl-4 col-md-5 col-sm-5 job_title">
        {{#if job_title ~}}
        {{replace job_title "Job Title:	" ""}}
        {{/if ~}}
      </div>
      <div class="column col-4 col-xl-4 col-md-5 col-sm-5 name_full">
        <a href="/about/staff-team/{{Id}}/{{slugify name_full}}">
          {{!-- <img src="{{og_image}}" /> --}}
          {{trim name_full}}
        </a>
      </div>
      {{!-- <div class="column col-2 col-xl-3 col-md-6 col-sm-12 city">
        {{#if city ~}}
        {{city}}
        {{/if ~}}
      </div> --}}
      {{!-- <div class="column col-2 col-xl-3 col-md-6 col-sm-12 work_phone">
        {{#if work_phone ~}}
        <a href="tel:{{replace work_phone " " ""}}">{{work_phone}}</a>
        {{/if ~}}
      </div> --}}
      <div class="column col-4 col-xl-4 col-md-2 col-sm-2 contact">
        {{!-- {{#if twitter ~}}
        <a href="{{#startsWith '@' twitter}}http://twitter.com/{{twitter}}{{else}}{{twitter}}{{/startsWith}}" class="no-ext no-underline"><span class="fab fa-twitter" aria-hidden="true"></span></a>
        {{/if ~}} --}}
        {{#if linkedin ~}}
        <a href="{{linkedin}}" class="no-ext no-underline"><span class="fab fa-linkedin fa-fw" aria-hidden="true"></span></a>
        {{/if ~}}
        {{#if email ~}}
        <a href="mailto:{{email}}" class="no-ext no-underline"><span class="far fa-envelope fa-fw" aria-hidden="true"></span></a>
        {{/if ~}}
      </div>
    </div>
  </div>
  {{/with ~}}
  {{/each ~}}
</div>
{{/each ~}}