<div class="container">
  {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">SCVO</a></li>
    <li class="breadcrumb-item"><a href="/about">About SCVO</a></li>
    <li class="breadcrumb-item"><a href="/about/people">Our people</a></li>
    <li class="breadcrumb-item"><a href="/about/people/contacts">Contacts</a></li>
    <li class="breadcrumb-item"><a href="/about/people/contacts/staff">Staff</a></li>
    {{#if department ~}}
    <li class="breadcrumb-item"><a href="/about/people/contacts/staff?department={{department_slug}}">{{{department}}}</a></li>
    {{/if ~}}
    <li class="breadcrumb-item">{{{name_full}}}</li>
  </ul>

  <h1>{{{name_full}}}{{#if pronouns}} <span class="text-gray caption ml" style="text-transform: lowercase;">({{pronouns}})</span>{{/if}}</h1>
  <h2>{{{job_title}}}</h2>
  {{/with ~}}
</div>