<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=b32da48fb5359ae5263737f3eafe9b6a4ec85f81" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=b32da48fb5359ae5263737f3eafe9b6a4ec85f81"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=b32da48fb5359ae5263737f3eafe9b6a4ec85f81"></script>

{{#withExtend this job=@root.data.job_data.request.data.data_object.get_data.records.[0]}}
{{#if job}}
<div class="form-horizontal form b-margin-full b-padding-full">
  <div class="wFormContainer">
    <div class="wFormHeader"></div>
    <div class="wForm" id="4863709-WRPR" dir="ltr">
      <div class="codesection" id="code-4863709"></div>
      <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsTooltip labelsAbove" id="4863709" role="form" enctype="multipart/form-data">
        <div id="tfa_1883" class="section">
          <h3 id="tfa_1883-L">Organisation details</h3>
          <input type="hidden" id="tfa_2324" name="tfa_2324" value="{{job.Id}}" />
          <input type="hidden" id="tfa_2794" name="tfa_2794" value="{{@root.request.params.session_key}}" />
          <div class="form-group field-container-D" id="tfa_1876-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="tfa_1876-L" class="form-label preField" for="tfa_1876">Organisation name</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="tfa_1876_dummy" name="tfa_1876_dummy" value="{{job.Organisation_Name__c}}" maxlength="150" class="form-input" disabled>
              <input type="hidden" id="tfa_1876" name="tfa_1876" value="{{job.Organisation_Name__c}}" />
            </div>
          </div>
          <div class="form-group field-container-D" id="job_title-D">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label id="job_title-L" class="form-label preField" for="job_title">Job title</label>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
              <input type="text" id="job_title" name="job_title" value="{{job.Job_title__c}}" maxlength="150" class="form-input" disabled>
            </div>
          </div>
        </div>
        <div id="tfa_2784" class="section">
          <h3 id="tfa_2784-L">Supervisor details</h3>
          <div id="tfa_2786" class="section inline group">
            <div class="form-group field-container-D" id="tfa_2733-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2733-L" class="form-label preField" for="tfa_2733">First name</label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_2733_dummy" name="tfa_2733_dummy" value="{{job.Supervisor_Firstname__c}}" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_2735-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2735-L" class="form-label preField" for="tfa_2735">Last name</label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_2735_dummy" name="tfa_2735_dummy" value="{{job.Supervisor_Lastname__c}}" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_2733-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2733-L" class="form-label preField" for="tfa_2733">Email address</label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_2733_dummy" name="tfa_2733_dummy" value="{{job.Supervisor_Email__c}}" class="form-input">
              </div>
            </div>
            <div class="form-group field-container-D" id="tfa_2735-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2735-L" class="form-label preField" for="tfa_2735">Phone number</label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_2735_dummy" name="tfa_2735_dummy" value="{{job.Supervisor_Telephone_number__c}}" class="form-input">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tfa_2567" class="section">
        <h3 id="tfa_2567-L">Job description</h3>


      </div>
      <div class="actions v-margin-full" id="4863709-A">
        <input type="submit" data-label="Submit" class="btn btn-primary" id="submit_button" value="Submit">
      </div>

      <input type="hidden" value="4863709" name="tfa_dbFormId" id="tfa_dbFormId" />
      <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId" />
      <input type="hidden" value="d7ad9b2213df74747ba509f99b49b7fb" name="tfa_dbControl" id="tfa_dbControl" />
      <input type="hidden" value="18" name="tfa_dbVersionId" id="tfa_dbVersionId" />
      <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff" />
    </div>
  </div>
  {{else}}
  <h2>Error</h2>
  <p>
    Unfortunately your job could not be loaded, please double check the URL provided and try again then contact us if it still does not work.
  </p>
  {{/if}}
  {{/withExtend}}
