{{{replace (replace (replace @root.data.primaryResponse.hits.hits.[0]._source.content "http://scvo.org.uk/" "") "https://scvo.org.uk/" "") "http://cms.scvo.org/" "/"}}}

{{!-- <div class="divider"></div> --}}

<form action="{{@root.request.url.pathname}}" method="GET" class="search_form v-margin-full">
  <div class="columns b-margin-full">
    <div class="column col-12">
      <div class="input-group input-inline" style="width:100%">
        <input type="text" class="form-input" name="q" id="grant-wellbeing-keywords" value="{{@root.request.params.query.q}}" placeholder="Search">
        <button type="submit" class="btn btn-primary input-group-btn" aria-label="Search" alt="Search">
          <span class="far fa-search" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column col-3 col-lg-6 col-md-12">
      <div class="form-group">
        <select class="form-select" id="grant-wellbeing-area" name="area" onchange="this.form.submit()">
          <option value=""{{#if @root.request.params.query.area}}{{else}} selected{{/if}}>Area</option>
          {{#each @root.data.supplimentaryResponses.types.aggregations.areas.buckets ~}}
          {{#unless (ifAny (compare key "Scotland Wide") (compare key "Regional")) ~}}
          <option value="{{slugify key}}" {{#compare ../request.params.query.area "===" (slugify key)}}selected{{/compare}}>{{replace key " and " " & "}} ({{doc_count}})</option>
          {{/unless ~}}
          {{/each ~}}
        </select>
      </div>
    </div>
    <div class="column col-3 col-lg-6 col-md-12">
      <div class="form-group">
        <select class="form-select" id="grant-wellbeing-main_issue" name="main_issue" onchange="this.form.submit()">
          <option value=""{{#if @root.request.params.query.main_issue}}{{else}} selected{{/if}}>Main issue</option>
          {{#each @root.data.supplimentaryResponses.types.aggregations.main_issues.buckets ~}}
          <option value="{{slugify key}}" {{#compare ../request.params.query.main_issue "===" (slugify key)}}selected{{/compare}}>{{replace key ' (please describe)' ''}} ({{doc_count}})</option>
          {{/each ~}}
        </select>
      </div>
    </div>
    <div class="column col-3 col-lg-6 col-md-12">
      <div class="form-group">
        <select class="form-select" id="grant-wellbeing-target_group" name="target_group" onchange="this.form.submit()">
          <option value=""{{#if @root.request.params.query.target_group}}{{else}} selected{{/if}}>Target group</option>
          {{#each @root.data.supplimentaryResponses.types.aggregations.target_groups.buckets ~}}
          <option value="{{slugify key}}" {{#compare ../request.params.query.target_group "===" (slugify key)}}selected{{/compare}}>{{replace key ' (please describe below)' ''}} ({{doc_count}})</option>
          {{/each ~}}
        </select>
      </div>
    </div>
    <div class="column col-3 col-lg-6 col-md-12">
      <div class="form-group">
        <select class="form-select" id="grant-wellbeing-call" name="call" onchange="this.form.submit()">
          <option value=""{{#if @root.request.params.query.call}}{{else}} selected{{/if}}>Funding round</option>
          {{#each @root.data.supplimentaryResponses.types.aggregations.calls.buckets ~}}
          <option value="{{slugify key}}" {{#compare ../request.params.query.call "===" (slugify key)}}selected{{/compare}}>{{key}} ({{doc_count}})</option>
          {{/each ~}}
        </select>
      </div>
    </div>
  </div>
</form>

<div class="equal-height v-margin-full">
  {{#compare @root.data.supplimentaryResponses.grants.hits.total ">" 0 ~}}
  {{> search_info paging=@root.data.supplimentaryResponses.grants.pagination}}

  <div class="columns t-margin-full">
    {{#each @root.data.supplimentaryResponses.grants.hits.hits ~}}
    {{#with _source ~}}
    <div class="column col-12 b-margin-full">
      <div class="t-padding-full card card-no-padding scvo-grant scvo-grant-wellbeing">
        <section class="card-header">
          <h4 class="no-margin">
            <a href="{{@root.request.url.pathname}}/{{Id}}/{{slugify title}}">{{{title}}}</a>
          </h4>
        </section>
        <section class="card-body">
          {{#if recipient_name ~}}
          {{#compare recipient_name "!==" title ~}}
          <p class="b-margin">
            <strong>{{recipient_name}}</strong>
          </p>
          {{/compare ~}}
          {{/if ~}}
          {{!-- {{#if description ~}}
          {{{truncate description 180}}} <a href="{{@root.request.url.pathname}}/{{Id}}/{{slugify title}}">Read more</a>
          {{else}}
          {{#if description_alt ~}}
          {{{truncate description_alt 180}}} <a href="{{@root.request.url.pathname}}/{{Id}}/{{slugify title}}">Read more</a>
          {{/if ~}}
          {{/if ~}} --}}
        </section>
        <section class="card-footer">
          <div class="post-info">
            {{#if call ~}}
            <div class="post-info-item post-info-date">
              <span aria-hidden="true" class="far fa-calendar-alt"></span>
              <ul class="inline-list">
                <li>
                  <a href="{{@root.request.url.pathname}}?call={{slugify call}}">{{call}}</a>
                </li>
              </ul>
            </div>
            {{/if ~}}
            {{#if main_issue ~}}
            {{#compare (length main_issue) ">" 0 ~}}
            <div class="post-info-item post-info-categories">
              {{!-- <span aria-hidden="true" class="far fa-{{inflect main_issue 'tag' 'tags'}}"></span> --}}
              <ul class="inline-list">
                {{#each main_issue ~}}
                <li>
                  <a href="/support/coronavirus/funding/scottish-government/wellbeing-fund/recipients?main_issue={{slugify this}}" class="chip" title="Main issue: {{replace this ' (please describe)' ''}}">{{replace this ' (please describe)' ''}}</a>
                </li>
                {{/each ~}}
              </ul>
            </div>
            {{/compare ~}}
            {{/if ~}}
            {{#if target_group ~}}
            {{#compare (length target_group) ">" 0 ~}}
            <div class="post-info-item post-info-categories">
              {{!-- <span aria-hidden="true" class="far fa-{{inflect target_group 'tag' 'tags'}}"></span> --}}
              <ul class="inline-list">
                {{#each target_group ~}}
                <li>
                  <a href="/support/coronavirus/funding/scottish-government/wellbeing-fund/recipients?target_group={{slugify (replace this ' (please describe below)' '')}}" class="chip" title="Target group: {{replace this ' (please describe below)' ''}}">{{replace this ' (please describe below)' ''}}</a>
                </li>
                {{/each ~}}
              </ul>
            </div>
            {{/compare ~}}
            {{/if ~}}
          </div>
        </section>
      </div>
    </div>
    {{/with ~}}
    {{/each ~}}
  </div>

  {{> pagination paging=@root.data.supplimentaryResponses.grants.pagination}}
  {{else}}
  <p>
    No recipients could be found, please try a different search.
  </p>
  {{/compare ~}}
</div>