{{#withExtend this
  selection_local_authorities=@root.data.form_data.local_authorities
  selection_target=@root.data.form_data.target_groups
  selection_where=@root.data.form_data.where_services
  selection_issue=@root.data.form_data.main_issues
  selection_funding=@root.data.form_data.other_funding
  defaults=@root.data.form_data.defaults
}}
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
});
</script>

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=d1f5c19bf2f1748255566c3e4c87f328" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=d1f5c19bf2f1748255566c3e4c87f328"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=d1f5c19bf2f1748255566c3e4c87f328"></script>

<div class="form-horizontal form b-margin-full b-padding-full">
  <div class="wFormContainer">
    <div class="wFormHeader"></div>
    <div class="wForm" id="4816751-WRPR" dir="ltr">
      <div class="codesection" id="code-4816751"></div>
      <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsTooltip labelsAbove" id="4816751" role="form" enctype="multipart/form-data">
        <div id="tfa_1883" class="section">
          <h3 id="tfa_1883-L">Organisation details</h3>

          <div id="organisation-details">
            {{#if defaults.tfa_1941 ~}}
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_1941-L" class="form-label r-margin preField reqMark" for="tfa_1941">
                  Scottish Charity Number
                  {{!-- <p class="form-input-hint text-secondary"><a href="/support/coronavirus/funding/for-organisations/wellbeing-fund/apply/not-a-charity{{#if @root.request.params.query.session}}?session={{@root.request.params.query.session}}{{/if}}">Not a registered charity?</a></p> --}}
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1941-D">
                  {{!-- <input type="text" id="tfa_1941" name="tfa_1941" value="{{defaults.tfa_1941}}" class="form-input" readonly> --}}
                  <p class="no-margin" style="padding: .3rem 0 !important;"><strong>{{defaults.tfa_1941}}</strong></p>
                  <input type="hidden" id="tfa_1941" name="tfa_1941" value="{{defaults.tfa_1941}}" title="Scottish Charity Number" class="form-input">
                </div>
              </div>
            </div>
            {{/if ~}}

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_1876-L" class="form-label r-margin preField reqMark" for="tfa_1876">
                  Organisation name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1876-D">
                  <input type="text" id="tfa_1876" name="tfa_1876" value="{{defaults.tfa_1876}}" aria-required="true" class="form-input required" autocomplete="nope" data-lpignore="true" required>
                  <p class="form-input-hint text-secondary">
                    If any of the information below about your registered office is incorrect please amend it
                  </p>
                </div>
              </div>
            </div>
            {{#if defaults.tfa_1941 ~}}
            <input type="hidden" id="tfa_1944" name="tfa_1944" value="{{defaults.tfa_1944}}" title="Constitutional Form">
            {{else}}
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_1944-L" class="form-label r-margin preField reqMark" for="tfa_1944">
                  Organisation type
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1944-D">
                  <input type="text" id="tfa_1944" name="tfa_1944" value="{{defaults.tfa_1944}}" aria-required="true" class="form-input" autocomplete="nope" data-lpignore="true">
                </div>
                {{!-- <div class="form-group">
                  <p class="form-input-hint text-secondary">
                    <a href="/support/coronavirus/funding/for-organisations/wellbeing-fund/apply">Have a Scottish Charity Number?</a>
                  </p>
                </div> --}}
              </div>
            </div>
            {{/if ~}}

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1939-D">
                  <label id="tfa_1939-L" class="form-label r-margin preField reqMark" for="tfa_1939">
                    Organisation email address
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="email" id="tfa_1939" name="tfa_1939" value="{{defaults.tfa_1939}}" aria-required="true" class="form-input required" autocomplete="nope" data-lpignore="true" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1928-D">
                  <label id="tfa_1928-L" class="form-label r-margin preField reqMark" for="tfa_1928">
                    Phone number
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_1928" name="tfa_1928" value="{{defaults.tfa_1928}}" aria-required="true" class="form-input required" autocomplete="nope" data-lpignore="true" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1930-D">
                  <label id="tfa_1930-L" class="form-label r-margin preField" for="tfa_1930">
                    Website address
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_1930" name="tfa_1930" value="{{defaults.tfa_1930}}" class="form-input" autocomplete="nope" data-lpignore="true">
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1884-D">
                  <label id="tfa_1884-L" class="form-label r-margin preField reqMark" for="tfa_1884">
                    Does your organisation work across Scotland, regionally or within one local authority area? Please select the most appropriate area.
                  </label>
                </div>
              </div>
              <div class="col-3 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_1884" name="tfa_1884" aria-required="true" class="required form-select" autocomplete="nope" data-lpignore="true" required>
                  <option value="" disabled selected>
                    Please select...
                  </option>
                  {{#each selection_local_authorities ~}}
                  {{#if this.id_organisation}}
                  <option value="{{id_organisation}}" id="{{id_organisation}}">
                    {{name}}
                  </option>
                  {{/if}}
                  {{/each ~}}
                </select>
              </div>
            </div>

            <h3>Organisation main address</h3>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1925-D">
                  <label id="tfa_1925-L" class="form-label r-margin preField reqMark" for="tfa_1925">
                    Postcode
                  </label>
                </div>
              </div>
              <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div id="postcode-wrapper" class="form-group has-icon-right">
                  <input type="text" id="tfa_1925" name="tfa_1925" value="{{defaults.tfa_1925}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" style="text-transform: uppercase;" id="postcode-wrapper" required>
                  <span class="form-icon far" id="postcode_validation_icon"></span>
                  <p id="postcode_validation_message" class="form-input-hint text-secondary"></p>
                </div>
              </div>
            </div>

            <div id="location-details"{{#unless defaults.tfa_1925}} class="hidden"{{/unless}}>
              <div class="form-group">
                <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                  <div class="input-group form-group field-container-D" id="tfa_1922-D">
                    <label id="tfa_1922-L" class="form-label r-margin preField reqMark" for="tfa_1922">
                      Street
                    </label>
                  </div>
                </div>
                <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                  <input type="text" id="tfa_1922" name="tfa_1922" value="{{defaults.tfa_1922}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required>
                </div>
              </div>

              <div class="form-group">
                <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                  <div class="input-group form-group field-container-D" id="tfa_1923-D">
                    <label id="tfa_1923-L" class="form-label r-margin preField reqMark" for="tfa_1923">
                      Town/city
                    </label>
                  </div>
                </div>
                <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                  <input type="text" id="tfa_1923" name="tfa_1923" value="{{defaults.tfa_1923}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div id="tfa_1880" class="section">
          <div id="contact-details" {{#unless defaults.tfa_1925}}class="hidden" {{/unless}}>
            <h3 id="tfa_1880-L" class="t-margin">Primary contact for the application</h3>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1-D">
                  <label id="tfa_1-L" class="form-label r-margin preField reqMark" for="tfa_1">
                    First name
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_1" name="tfa_1" value="{{defaults.tfa_1}}" aria-required="true" class="form-input required" autocomplete="nope" data-lpignore="true" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1875-D">
                  <label id="tfa_1875-L" class="form-label r-margin preField reqMark" for="tfa_1875">
                    Last name
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_1875" name="tfa_1875" value="{{defaults.tfa_1875}}" aria-required="true" class="form-input required" autocomplete="nope" data-lpignore="true" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1958-D">
                  <label id="tfa_1958-L" class="form-label r-margin preField reqMark" for="tfa_1958">
                    Job title
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_1958" name="tfa_1958" value="{{defaults.tfa_1958}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1932-D">
                  <label id="tfa_1932-L" class="form-label r-margin preField reqMark" for="tfa_1932">
                    Email address
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="email" id="tfa_1932" name="tfa_1932" value="{{defaults.tfa_1932}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_1949-D">
                  <label id="tfa_1949-L" class="form-label r-margin preField reqMark" for="tfa_1949">
                    Contact phone number
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <input type="text" id="tfa_1949" name="tfa_1949" value="{{defaults.tfa_1949}}" aria-required="true" autocomplete="nope" data-lpignore="true" class="form-input required" required>
              </div>
            </div>
          </div>
        </div>

        <div id="tfa_2269" class="section">
          <div id="bank-details">
            <div class="col-9 col-xl-12">
              <h3 id="tfa_2269-L" class="t-margin">Organisation bank account details</h3>
              <p>
                To increase the speed of making payments to successful applicants, we are asking for your bank details at this stage. Please ensure the details are correct to ensure money reaches the correct account.
              </p>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2270-L" class="form-label r-margin preField" for="tfa_2270">
                  Account name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2270-D">
                  <input type="text" id="tfa_2270" name="tfa_2270" value="" autocomplete="nope" data-lpignore="true" aria-required="true" class="required form-input" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2274-L" class="form-label r-margin preField" for="tfa_2274">
                  Account number
                </label>
              </div>
              <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2274-D">
                  <input type="text" id="tfa_2274" name="tfa_2274" value="" autocomplete="nope" data-lpignore="true" aria-required="true" class="required form-input" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2273-L" class="form-label r-margin preField" for="tfa_2273">
                  Sort code
                </label>
              </div>
              <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2273-D">
                  <input type="text" id="tfa_2273" name="tfa_2273" value="" autocomplete="nope" data-lpignore="true" aria-required="true" class="required form-input" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2271-L" class="form-label r-margin preField" for="tfa_2271">
                  Bank name
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2271-D">
                  <input type="text" id="tfa_2271" name="tfa_2271" value="" autocomplete="nope" data-lpignore="true" aria-required="true" class="required form-input" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2283-L" class="form-label r-margin preField" for="tfa_2283">
                  Bank address
                </label>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2283-D">
                  <input type="text" id="tfa_2283" name="tfa_2283" value="" autocomplete="nope" data-lpignore="true" aria-required="true" class="required form-input" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_2280-L" class="form-label r-margin preField" for="tfa_2280">
                  Bank postcode
                </label>
              </div>
              <div class="col-2 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2280-D">
                  <input type="text" id="tfa_2280" name="tfa_2280" value="" autocomplete="nope" data-lpignore="true" aria-required="true" class="required form-input" required>
                </div>
              </div>
            </div>

            <div class="col-9 col-xl-12">
              <h3>Governance and finance checks</h3>
              <p>
                Charities, social enterprises, community groups and other voluntary organisations that have independent governance and an asset lock are eligible to apply. Organisations must be in a stable financial position to be able to deliver the proposed activity and can apply for a maximum of 20% of the total annual income from your latest accounts.
              </p>
              <p>
                Please upload the following documents to allow us to conduct due diligence checks on these criteria.
              </p>
            </div>

            <div class="form-group t-margin-full">
              <div class="col-5 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <label id="tfa_2303-L" class="form-label r-margin preField" for="tfa_2303">
                  Your main governance document<br />
                  (Constitution, memorandum and articles, rules of operation etc.)
                </label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2303-D">
                  <input type="file" id="tfa_2303" name="tfa_2303" size="" onchange="validate_filesize(this)" autocomplete="nope" data-lpignore="true" class="form-input required" required>
                </div>
              </div>
            </div>
            <div class="form-group t-margin-full">
              <div class="col-5 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <label id="tfa_2187-L" class="form-label r-margin preField" for="tfa_2187">
                  Your latest audited accounts
                </label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2187-D">
                  <input type="file" id="tfa_2187" name="tfa_2187" size="" onchange="validate_filesize(this)" autocomplete="nope" data-lpignore="true" class="form-input required" required>
                </div>
              </div>
            </div>
            <div class="form-group t-margin-full">
              <div class="col-5 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <label id="tfa_2189-L" class="form-label r-margin preField" for="tfa_2189">
                  Your latest bank statement
                </label>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D" id="tfa_2189-D">
                  <input type="file" id="tfa_2189" name="tfa_2189" size="" onchange="validate_filesize(this)" autocomplete="nope" data-lpignore="true" class="form-input required" required>
                </div>
              </div>
            </div>
            <div class="form-group b-margin-full">
              <div class="col-5 col-xl-8 col-lg-7 col-md-6 col-sm-12"></div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <p class="form-input-hint text-secondary ">
                  The maximum file size you can upload is 5Mb
                </p>
              </div>
            </div>

            <div class="form-group field-container-D t-margin-full" id="tfa_2307-D">
              <div class="col-5 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D">
                  <label id="tfa_2307-L" class="preField reqMark r-margin" for="tfa_2307">
                    Are you receiving any other Scottish Government funding related to the coronavirus pandemic? Please tick all that apply and provide brief details, including amounts, below.
                  </label>
                </div>
              </div>
              <div class="col-4 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="oneField field-container-D" id="tfa_2307-D" role="group" aria-labelledby="tfa_2307-L" data-tfa-labelledby="-L tfa_2307-L">
                  <span id="tfa_2307" class="choices vertical columns">
                    {{#each selection_funding ~}}
                    <span class="form-group column col-12">
                      <label class="form-checkbox" id="{{id}}-L" for="{{id}}">
                        <input type="checkbox" value="{{id}}" id="{{id}}" name="{{id}}" aria-labelledby="{{id}}-L" data-tfa-labelledby="tfa_2307-L {{id}}-L">
                        <i class="form-icon"></i> {{name}}
                      </label>
                    </span>
                    {{/each ~}}
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group field-container-D t-margin" id="tfa_2312-D">
              <div class="col-9 col-xl-12">
                <textarea id="tfa_2312" name="tfa_2312" rows="4" placeholder="" autocomplete="nope" data-lpignore="true" data-maxwords="200" class="form-input count-words"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div id="tfa_2121" class="section">
          <div id="costs-details">
            <div class="col-9 col-xl-12">
              <h3>About your proposed activity</h3>
              <p>
                Applications should be focused on:
              </p>
              <ul>
                <li><strong>At risk groups</strong> with new needs which are not being met by existing services. </li>
                <li>Providing <strong>vital wellbeing support</strong> on issues such as food, physical health, mental health, personal finances, home life and housing. </li>
                <li><strong>Immediate</strong> support being delivered now and over the next 2-3 months </li>
              </ul>
              <p>
                Your application will be assessed against these criteria. Your activity can cover multiple target groups and themes, as well those not included in the drop-down menus, as long as need is clearly described.
              </p>
            </div>

            <div class="form-group field-container-D t-margin b-margin-full" id="tfa_1959-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D">
                  <label id="tfa_1959-L" class="preField reqMark r-margin" for="tfa_1959">
                    Does your activity primarily focus on one of these themes
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_1959" name="tfa_1959" aria-required="true" class="form-select required">
                  <option value="" disabled{{#unless defaults.tfa_1959}} selected{{/unless}}>
                    Please select...
                  </option>
                  {{#each selection_issue ~}}
                  <option value="{{id}}" id="{{id}}"{{#compare ../defaults.tfa_1959 (replace name ' (please describe)' '')}} selected{{/compare}}>
                    {{name}}
                  </option>
                  {{/each ~}}
                </select>
              </div>
            </div>

            <div class="form-group field-container-D b-margin-full" id="tfa_2015-D">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group form-group field-container-D">
                  <label id="tfa_2015-L" class="preField reqMark r-margin" for="tfa_2015">
                    Is there a specific target group you are working with?
                  </label>
                </div>
              </div>
              <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <select id="tfa_2015" name="tfa_2015" aria-required="true" class="form-select required">
                  <option value="" disabled{{#unless defaults.tfa_2015}} selected{{/unless}}>
                    Please select...
                  </option>
                  {{#each selection_target ~}}
                  <option value="{{id}}" id="{{id}}"{{#compare ../defaults.tfa_2015 name}} selected{{/compare}}>{{name}}</option>
                  {{/each ~}}
                </select>
              </div>
            </div>

            <div class="form-group field-container-D t-margin" id="tfa_2301-D">
              <div class="col-9 col-xl-12">
                <div class="input-group form-group field-container-D">
                  <label id="tfa_2301-L" class="preField r-margin" for="tfa_2301">
                    Please describe the main target group that you are seeking funding to work with, what their needs are and why these are not currently being met by existing services (maximum 500 words).
                  </label>
                </div>
                <textarea id="tfa_2301" name="tfa_2301" rows="6" placeholder="" autocomplete="nope" data-lpignore="true" data-maxwords="500" class="form-input required count-words" required></textarea>
              </div>
            </div>

            <div class="form-group field-container-D" id="tfa_2299-D">
              <div class="col-9 col-xl-12">
                <div class="input-group form-group field-container-D">
                  <label id="tfa_2299-L" class="preField r-margin" for="tfa_2299">
                    Please provide us with details about the type of activity you are seeking funding for and how that activity will be delivered (maximum 500 words).
                  </label>
                </div>
                <textarea id="tfa_2299" name="tfa_2299" rows="6" placeholder="" autocomplete="nope" data-lpignore="true" data-maxwords="500" class="form-input required count-words" required></textarea>
              </div>
            </div>

            <div class="form-group field-container-D" id="tfa_2302-D">
              <div class="col-9 col-xl-12">
                <div class="input-group form-group field-container-D">
                  <label id="tfa_2302-L" class="preField r-margin" for="tfa_2302">
                    Are you working in partnership with any other organisations to deliver the activity? If so, please briefly describe roles and responsibilities (maximum 100 words).
                  </label>
                </div>
                <textarea id="tfa_2302" name="tfa_2302" rows="3" placeholder="" autocomplete="nope" data-lpignore="true" data-maxwords="100" class="form-input count-words"></textarea>
              </div>
            </div>

            <div id="tfa_1882" class="section">
              <div id="interest-details">
                <div class="col-9 col-xl-12">
                  <h3 id="tfa_1882-L">Where will you deliver the activity</h3>
                  <p>
                    Please tell us where you will be delivering the activity that you are applying for funding for.
                  </p>
                </div>

                <div class="form-group field-container-D b-margin-full" id="tfa_2007-D" role="radiogroup" aria-labelledby="tfa_2007-L" data-tfa-labelledby="-L tfa_2007-L">
                  <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                    <div class="input-group form-group field-container-D">
                      <label id="tfa_2007-L" class="preField reqMark">
                        Where do you provide services?
                      </label>
                    </div>
                  </div>
                  <div class="col-6 col-xl-8 col-lg-7 col-md-6 col-sm-12">
                    <span id="tfa_2007" class="choices vertical required">
                      <div class="form-group">
                        <label class="form-radio" id="tfa_2019-L" for="tfa_2019">
                          <input type="radio" value="tfa_2019" id="tfa_2019" name="tfa_2007" aria-required="true" aria-labelledby="tfa_2019-L" data-tfa-labelledby="tfa_2007-L tfa_2019-L"{{#compare defaults.tfa_2007 "Across Scotland"}} checked{{/compare}} required>
                          <i class="form-icon"></i>
                          Across Scotland
                        </label>
                      </div>
                      <div class="form-group">
                        <label class="form-radio" id="tfa_2020-L" for="tfa_2020">
                          <input type="radio" value="tfa_2020" id="tfa_2020" name="tfa_2007" aria-required="true" aria-labelledby="tfa_2020-L" data-tfa-labelledby="tfa_2007-L tfa_2020-L" data-conditionals="#tfa_2084"{{#compare defaults.tfa_2007 "Across several local authority areas"}} checked{{/compare}} required>
                          <i class="form-icon"></i>
                          Across several local authority areas
                        </label>
                      </div>
                      <div class="label h-padding t-padding oneField field-container-D b-margin-full" id="tfa_2084-D" role="group" aria-labelledby="tfa_2084-L" data-tfa-labelledby="-L tfa_2084-L">
                        <span id="tfa_2084" class="choices vertical columns" data-condition="`#tfa_2020`">
                          {{#each selection_local_authorities ~}}
                          {{#if id_multiple ~}}
                          <span class="form-group column col-6 col-md-12">
                            <label class="form-checkbox" id="{{id_multiple}}-L" for="{{id_multiple}}">
                              <input type="checkbox" value="{{id_multiple}}" id="{{id_multiple}}" name="{{id_multiple}}" aria-labelledby="{{id_multiple}}-L" data-tfa-labelledby="tfa_2084-L {{id_multiple}}-L"{{#if (contains (split ../defaults.tfa_2051 ";") name)}} checked{{/if}}>
                              <i class="form-icon"></i> {{name}}
                            </label>
                          </span>
                          {{/if ~}}
                          {{/each ~}}
                        </span>
                      </div>

                      <div class="form-group">
                        <label class="form-radio" id="tfa_2021-L" for="tfa_2021">
                          <input type="radio" value="tfa_2021" id="tfa_2021" name="tfa_2007" aria-required="true" aria-labelledby="tfa_2021-L" data-tfa-labelledby="tfa_2007-L tfa_2021-L" data-conditionals="#tfa_2051"{{#compare defaults.tfa_2007 "Across one local authority area"}} checked{{/compare}} required>
                          <i class="form-icon"></i>
                          Across one local authority area
                        </label>
                      </div>

                      <div class="form-group field-container-D no-margin" id="tfa_2051-D">
                        <select id="tfa_2051" name="tfa_2051" data-condition="`#tfa_2021`" class="form-select b-margin-full">
                          <option value="" disabled>
                            Please select...
                          </option>
                          {{#each selection_local_authorities ~}}
                          {{#if id_single ~}}
                          <option value="{{id_single}}" id="{{id_single}}"{{#compare ../defaults.tfa_2051 name}} selected{{/compare}}>
                            {{name}}
                          </option>
                          {{/if ~}}
                          {{/each ~}}
                        </select>
                      </div>

                      <div class="form-group">
                        <label class="form-radio" id="tfa_2022-L" for="tfa_2022">
                          <input type="radio" value="tfa_2022" id="tfa_2022" name="tfa_2007" aria-required="true" aria-labelledby="tfa_2022-L" data-tfa-labelledby="tfa_2007-L tfa_2022-L" data-conditionals="#tfa_2117"{{#compare defaults.tfa_2007 "Within a specific community (e.g. town, village or neighbourhood)"}} checked{{/compare}} required>
                          <i class="form-icon"></i>
                          Within a specific community (e.g. town, village or neighbourhood)
                        </label>
                      </div>

                      <div class="form-group field-container-D" id="tfa_2117-D">
                        <input type="text" id="tfa_2117" name="tfa_2117" value="{{defaults.tfa_2117}}" data-condition="`#tfa_2022`" placeholder="Please tell us your neighbourhood here" class="form-input" autocomplete="nope" data-lpignore="true" style="width: 100%;">
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="section">
              <div id="funding-details">

                <div class="col-9 col-xl-12 b-margin-full">
                  <h3 id="tfa_2121-L">Funding required</h3>
                  <p>
                    Please give us a high-level budget, breaking down activity into a maximum of five broad themes (e.g. staff salaries, volunteer expenses, equipment). The total budget should not exceed the £100,000 limit of the Wellbeing Fund.
                  </p>

                  <div id="tfa_2151" class="section group">
                    <table class="gridLayout" style="width:100%;">
                      <thead>
                        <tr class="headerRow">
                          <th> </th>
                          <th scope="col" id="tfa_2153-GRID">
                            Description
                          </th>
                          <th scope="col" id="tfa_2154-GRID">
                            Amount (£)
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr id="tfa_2152" class="section alternate-0 ">
                          <th scope="row" id="tfa_2152-L" class="headerCol text-left">
                            Budget line 1
                          </th>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2153-D">
                              <input type="text" id="tfa_2153" name="tfa_2153" value="" autocomplete="nope" data-lpignore="true" class="form-input">
                            </div>
                          </td>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2154-D">
                              <div class="input-group" style="width:100%;">
                                <span class="input-group-addon">&pound;</span>
                                <input type="number" min="0" max="100000" id="tfa_2154" name="tfa_2154" value="" autocomplete="nope" data-lpignore="true" class="calc-BudgetAmount form-input text-right">
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr id="tfa_2156" class="section alternate-1 ">
                          <th scope="row" id="tfa_2156-L" class="headerCol text-left">
                            Budget line 2
                          </th>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2157-D">
                              <input type="text" id="tfa_2157" name="tfa_2157" value="" autocomplete="nope" data-lpignore="true" class="form-input">
                            </div>
                          </td>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2158-D">
                              <div class="input-group" style="width:100%;">
                                <span class="input-group-addon">&pound;</span>
                                <input type="number" min="0" max="100000" id="tfa_2158" name="tfa_2158" value="" autocomplete="nope" data-lpignore="true" class="calc-BudgetAmountB form-input text-right">
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr id="tfa_2160" class="section alternate-0 ">
                          <th scope="row" id="tfa_2160-L" class="headerCol text-left">
                            Budget line 3
                          </th>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2161-D">
                              <input type="text" id="tfa_2161" name="tfa_2161" value="" autocomplete="nope" data-lpignore="true" class="form-input">
                            </div>
                          </td>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2162-D">
                              <div class="input-group" style="width:100%;">
                                <span class="input-group-addon">&pound;</span>
                                <input type="number" min="0" max="100000" id="tfa_2162" name="tfa_2162" value="" autocomplete="nope" data-lpignore="true" class="calc-BudgetAmountC form-input text-right">
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr id="tfa_2164" class="section alternate-1 ">
                          <th scope="row" id="tfa_2164-L" class="headerCol text-left">
                            Budget line 4
                          </th>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2165-D">
                              <input type="text" id="tfa_2165" name="tfa_2165" value="" autocomplete="nope" data-lpignore="true" class="form-input">
                            </div>
                          </td>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2166-D">
                              <div class="input-group" style="width:100%;">
                                <span class="input-group-addon">&pound;</span>
                                <input type="number" min="0" max="100000" id="tfa_2166" name="tfa_2166" value="" autocomplete="nope" data-lpignore="true" class="calc-BudgetAmountD form-input text-right">
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr id="tfa_2168" class="section alternate-0 ">
                          <th scope="row" id="tfa_2168-L" class="headerCol text-left">
                            Budget line 5
                          </th>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2169-D">
                              <input type="text" id="tfa_2169" name="tfa_2169" value="" autocomplete="nope" data-lpignore="true" class="form-input">
                            </div>
                          </td>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2170-D">
                              <div class="input-group" style="width:100%;">
                                <span class="input-group-addon">&pound;</span>
                                <input type="number" min="0" max="100000" id="tfa_2170" name="tfa_2170" value="" autocomplete="nope" data-lpignore="true" class="calc-BudgetAmountE form-input text-right">
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr id="tfa_2176" class="section alternate-1 ">
                          <th scope="row" id="tfa_2176-L" class="headerCol text-left">
                            <strong>Budget total</strong>
                          </th>
                          <td></td>
                          <td>
                            <div class="form-group oneField field-container-D" id="tfa_2178-D">
                              <div class="input-group" style="width:100%;">
                                <span class="input-group-addon">&pound;</span>
                                <input type="number" id="tfa_2178" name="tfa_2178" value="" readonly autocomplete="nope" data-lpignore="true" class="formula=BudgetAmount+BudgetAmountB+BudgetAmountC+BudgetAmountD+BudgetAmountE readonly form-input text-right" disabled>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="section">
          <div id="confirmation">
            <div class="col-9 col-xl-12">
              <h3>Confirmation</h3>
              <p>
                Please confirm that:
              </p>
            </div>

            <div class="form-group" id="tfa_2186-D" role="group" aria-labelledby="tfa_2186-L" data-tfa-labelledby="-L tfa_2186-L">
              <div class="col-9 col-xl-12">
                <label class="form-checkbox" id="tfa_2186-L" for="tfa_2186">
                  <input type="checkbox" value="tfa_2186" id="tfa_2186" name="tfa_2186" aria-labelledby="tfa_2186-L" data-tfa-labelledby="tfa_2186-L tfa_2186-L" required>
                  <i class="form-icon"></i>
                  You are authorised to submit this application on behalf of your organisation.
                </label>
              </div>
            </div>
            <div class="form-group" id="tfa_2185-D" role="group" aria-labelledby="tfa_2185-L" data-tfa-labelledby="-L tfa_2185-L">
              <div class="col-9 col-xl-12">
                <label class="form-checkbox" id="tfa_2185-L" for="tfa_2185">
                  <input type="checkbox" value="tfa_2185" id="tfa_2185" name="tfa_2185" aria-labelledby="tfa_2185-L" data-tfa-labelledby="tfa_2185-L tfa_2185-L" required>
                  <i class="form-icon"></i>
                  Your activity will deliver services in ways that minimise risk of COVID-19 transmission to recipients, volunteers and staff (e.g. by using digital, phone, distancing and hygiene systems).
                </label>
              </div>
            </div>
            <div class="form-group" id="tfa_2304-D" role="group" aria-labelledby="tfa_2304-L" data-tfa-labelledby="-L tfa_2304-L">
              <div class="col-9 col-xl-12">
                <label class="form-checkbox" id="tfa_2304-L" for="tfa_2305">
                  <input type="checkbox" value="tfa_2305" id="tfa_2305" name="tfa_2305" aria-labelledby="tfa_2305-L" data-tfa-labelledby="tfa_2304-L tfa_2305-L" required>
                  <i class="form-icon"></i>
                  You understand that by applying, the information you supplied will be shared with a range of national and local organisations for the purposes of verification and assessment. Your application details, with the exception of the primary contact details, may be published openly on the internet if you are successful.
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="actions columns" id="4816751-A">
          <div class="col-9 col-xl-12 align-centre v-margin-full">
            <input type="submit" data-label="Submit" class="primaryAction btn btn-primary btn-lg h-margin b-margin-full" id="submit_button" value="Submit">
          </div>
        </div>

        <div class="col-9 col-xl-12">
          <p>
            By submitting your application you confirm that you understand and accept our obligations under the General Data Protection Regulation (GDPR) set out in our  <a href="/privacy" target="_blank">privacy notice</a>.  You also confirm and agree that for the purposes of this particular fund, we will share your information with the <a href="https://www.gov.scot/publications/third-sector-interfaces-contact-details" target="_blank">Wellbeing Fund partners</a> if deemed appropriate.
          </p>
        </div>

        <div style="clear:both;"></div>
        <input type="hidden" id="tfa_2295" name="tfa_2295" value="{{defaults.tfa_2295}}" title="Expression of interest session key">
        <input type="hidden" id="tfa_1946" name="tfa_1946" value="{{defaults.tfa_1946}}" title="Charity Status">
        <input type="hidden" id="tfa_1936" name="tfa_1936" value="{{defaults.tfa_1936}}" title="Constituency">
        <input type="hidden" id="tfa_1934" name="tfa_1934" value="{{defaults.tfa_1934}}" title="Ward">
        <input type="hidden" id="tfa_1953" name="tfa_1953" value="{{defaults.tfa_1953}}" title="SIMD datazone">
        <input type="hidden" id="tfa_1955" name="tfa_1955" value="{{defaults.tfa_1955}}" title="SIMD rank">
        <input type="hidden" id="tfa_1957" name="tfa_1957" value="{{defaults.tfa_1957}}" title="NHS Health Board">
        <input type="hidden" value="4816751" name="tfa_dbFormId" id="tfa_dbFormId">
        <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
        <input type="hidden" value="a88d4226ef03459b652fa4269034a60d" name="tfa_dbControl" id="tfa_dbControl">
        <input type="hidden" value="44" name="tfa_dbVersionId" id="tfa_dbVersionId">
        <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
      </form>
    </div>
  </div>
</div>

<script src="{{~>asset_url url='js/cleave.min.js'~}}"></script>
<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function() {
  var $form = $('#4816751'),
      $postcode = $('#tfa_1925'),
      $postcodeIcon = $('#postcode_validation_icon'),
      $postcodeWrapper = $('#postcode-wrapper'),
      $postcodeValidationMessage = $('#postcode_validation_message'),
      $locations = $('input[name=tfa_2007]'),
      $acrossScotlandRadio = $('#tfa_2019'),
      $acrossSeveralAuthoritiesRadio = $('#tfa_2020'),
      $acrossSeveralAuthoritiesCheckboxes = $('#tfa_2084').find('input'),
      $acrossOneAuthorityRadio = $('#tfa_2021'),
      $acrossOneAuthoritySelect = $('#tfa_2051'),
      $withinSpecificCommunityRadio = $('#tfa_2022'),
      $withinSpecificCommunityText = $('#tfa_2117'),
      $mainIssueSelect = $('#tfa_1959'),
      $mainIssueOtherTextarea = $('#tfa_2048'),
      $mainTypeOfActivitySelect = $('#tfa_2011'),
      $mainTypeOfActivityOtherTextarea = $('#tfa_2049'),
      $specificTargetGroupSelect = $('#tfa_2015'),
      $specificTargetGroupOtherTextarea = $('#tfa_2050');

  function checkPostcode() {
    var postcode = $('#tfa_1925').val().toUpperCase();
    if (postcode.match(/[a-z]{1,2}[0-9]{1,2}[a-z]?\s?[0-9][a-z]{2}/ig)) {
      $postcodeIcon
      .addClass("loading text-primary")
      .removeClass("fa-times fa-check text-error text-success");
      $.ajax({
        url: '/postcode-lookup?q=' + postcode,
        success: function(data) {
          if (Array.isArray(data) && data.length > 0) {
            setLocationData(data);
          } else {
            clearLocationData();
          }
        }
      })
    } else {
      clearLocationData();
    }
  }

  function setLocationData(data) {
    console.log(data);
    $('#tfa_1925').val(data[0].place);
    $('#tfa_1936').val(data[0].constituency);
    $('#tfa_1934').val(data[0].ward);
    $('#tfa_1953').val(data[0].simd_datazone);
    $('#tfa_1955').val(data[0].simd_rank);
    $('#postcode_validation_message').html('');
    $('#postcode-wrapper').removeClass("has-error")
    $('#location-details').removeClass("hidden")
    $('#contact-details').removeClass("hidden")
    $('#interest-details').removeClass("hidden")
    $('#postcode_validation_icon')
    .addClass("fa-check text-success")
    .removeClass("loading fa-times text-primary text-error");
    $('#submit_button').removeClass("hidden");
  }

  function clearLocationData() {
    $postcodeWrapper.addClass('has-error');
    $postcodeValidationMessage.html('');
    $postcodeIcon
    .addClass("fa-times text-error")
    .removeClass("loading fa-check text-primary text-success");
    $('#tfa_1936').val('');
    $('#tfa_1934').val('');
    $('#tfa_1953').val('');
    $('#tfa_1955').val('');
  }

  $postcode.on('keyup', checkPostcode);

  $('input[type=radio][name=tfa_2007]').change(function() {
    $('#tfa_2051').val('');
    $('#tfa_2117').val('');
    {{#each selection_local_authorities ~}}
    {{#if id_multiple ~}}
    $('#{{id_multiple}}').prop('checked', false);
    {{/if ~}}
    {{/each ~}}
  });

  var cleave_sort_code = new Cleave('#tfa_2273', {
    delimiter: '-',
    blocks: [2,2,2],
    numericOnly: true,
    delimiterLazyShow: true
  });
  var cleave_account_number = new Cleave('#tfa_2274', {
    blocks: [8],
    numericOnly: true
  });
});
function validate_filesize(file) {
  var filesize = file.files[0].size / 1024 / 1024; // in MB
  if (filesize > 5) {
    alert('Uploaded filesize exceeds 5Mb - please choose a smaller file');
    $(file).val('');
  }
}
</script>
{{/withExtend}}