<script type="text/javascript">
document.addEventListener("DOMContentLoaded", function(){
  const FORM_TIME_START = Math.floor((new Date).getTime()/1000);
  let formElement = document.getElementById("tfa_0");
  if (null === formElement) {
    formElement = document.getElementById("0");
  }
  let appendJsTimerElement = function(){
    let formTimeDiff = Math.floor((new Date).getTime()/1000) - FORM_TIME_START;
    let cumulatedTimeElement = document.getElementById("tfa_dbCumulatedTime");
    if (null !== cumulatedTimeElement) {
      let cumulatedTime = parseInt(cumulatedTimeElement.value);
      if (null !== cumulatedTime && cumulatedTime > 0) {
        formTimeDiff += cumulatedTime;
      }
    }
    let jsTimeInput = document.createElement("input");
    jsTimeInput.setAttribute("type", "hidden");
    jsTimeInput.setAttribute("value", formTimeDiff.toString());
    jsTimeInput.setAttribute("name", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("id", "tfa_dbElapsedJsTime");
    jsTimeInput.setAttribute("autocomplete", "off");
    if (null !== formElement) {
      formElement.appendChild(jsTimeInput);
    }
  };
  if (null !== formElement) {
    if(formElement.addEventListener){
      formElement.addEventListener('submit', appendJsTimerElement, false);
    } else if(formElement.attachEvent){
      formElement.attachEvent('onsubmit', appendJsTimerElement);
    }
  }
  document.getElementById("not_a_charity").addEventListener("click", function() {
    if (document.getElementById("not_a_charity").checked) {
      document.getElementById("organisation-details").classList.remove("hidden");
      document.getElementById("oscr_validation_icon").classList.remove("fa-check");
      document.getElementById("oscr_validation_icon").classList.remove("text-success");
      document.getElementById("oscr_validation_icon").classList.remove("text-error");
      document.getElementById("oscr_validation_icon").classList.add("fa-times");
      document.getElementById("typeahead_charity_number").value = "";
      document.getElementById("tfa_1876").value = "";
      document.getElementById("tfa_1941").value = "";
      document.getElementById("tfa_1944").value = "";
      document.getElementById("tfa_1946").value = "";
      document.getElementById("tfa_1969").value = "";
    }
  });
  document.getElementById("tfa_1959").addEventListener("click", function() {
    if (document.getElementById("tfa_1965").selected) {
      document.getElementById("support-other-field").classList.remove("hidden");
    } else {
      document.getElementById("support-other-field").classList.add("hidden");
      document.getElementById("tfa_1967").value = "";
    }
  });
});
</script>

{{!-- <link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-layout.css?v=ce892614333b8518746c3522036f0083" rel="stylesheet" type="text/css" /> --}}
{{!-- <link href="https://www.tfaforms.com/uploads/themes/theme-66536.css" rel="stylesheet" type="text/css" /> --}}

<link href="https://www.tfaforms.com/dist/form-builder/5.0.0/wforms-jsonly.css?v=ce892614333b8518746c3522036f0083" rel="alternate stylesheet" title="This stylesheet activated by javascript" type="text/css" />
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/wforms.js?v=ce892614333b8518746c3522036f0083"></script>
<script type="text/javascript">
wFORMS.behaviors.prefill.skip = false;
</script>
<script type="text/javascript" src="https://www.tfaforms.com/wForms/3.11/js/localization-en_GB.js?v=ce892614333b8518746c3522036f0083"></script>

<div class="form-horizontal form b-margin-full b-padding-full">
  <h2>Register interest in the Wellbeing fund</h2>

  <div class="wFormContainer">
    <div class="wFormHeader"></div>
    <div class="wForm" id="4815763-WRPR" dir="ltr">
      <div class="codesection" id="code-4815763"></div>
      <form method="post" action="https://www.tfaforms.com/responses/processor" class="hintsBelow labelsAbove" id="4815763" role="form">
        {{!-- <label class="form-label r-margin preField" id="tfa_1879-L">Organisation Details</label>
        --}}
        <fieldset id="tfa_1883" class="section">
          <h3 id="tfa_1883-L">Organisation details</h3>

          <div class="form-group">
            <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
              <label for="typeahead_charity_number" class="form-label r-margin">
                Scottish Charity Number
              </label>
            </div>
            <div class="column col-3 col-xl-8 col-lg-7 col-md-6 col-md-12">
              <div class="input-group has-icon-right" data-component="Typeahead" data-Typeahead="typeahead-oscr">
                {{!-- <span class="input-group-addon">SC</span> --}}
                <input id="typeahead_charity_number" name="typeahead_charity_number" class="form-input" autocomplete="nope" data-lpignore="true" onkeyup="this.value = this.value.toUpperCase();" maxlength="8">
                <span class="form-icon far" id="oscr_validation_icon"></span>
              </div>
            </div>
            <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
              <label class="form-checkbox">
                <input type="checkbox" id="not_a_charity" name="not_a_charity">
                <i class="form-icon"></i> Not a registered charity
              </label>
            </div>
          </div>

          <div id="organisation-details" class="hidden">
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <label id="tfa_1876-L" class="form-label r-margin preField reqMark" for="tfa_1876">Organisation name</label>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <div class="input-group oneField field-container-D" id="tfa_1876-D">
                  <input type="text" id="tfa_1876" name="tfa_1876" value="" aria-required="true" title="Organisation Name" class="form-input required" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1939-D">
                  <label id="tfa_1939-L" class="form-label r-margin preField reqMark" for="tfa_1939">Organisation email</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1939" name="tfa_1939" value="" aria-required="true" title="Organisation Email" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1928-D">
                  <label id="tfa_1928-L" class="form-label r-margin preField reqMark" for="tfa_1928">Phone</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1928" name="tfa_1928" value="" aria-required="true" title="Phone" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1930-D">
                  <label id="tfa_1930-L" class="form-label r-margin preField" for="tfa_1930">Website</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1930" name="tfa_1930" value="" class="form-input" title="Website">
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1925-D">
                  <label id="tfa_1925-L" class="form-label r-margin preField reqMark" for="tfa_1925">Postcode</label>
                </div>
              </div>
              <div class="column col-3 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <div class="input-group has-icon-right postcode-wrapper" data-component="TasksTrigger" data-TasksTrigger="postcode-lookup">
                  <input type="text" id="tfa_1925" name="tfa_1925" value="" aria-required="true" title="Postcode" class="form-input required" required onkeyup="this.value = this.value.toUpperCase();">
                  <span class="form-icon far" id="postcode_validation_icon"></span>
                </div>
                <span id="postcode_validation_message"></span>
              </div>
            </div>
            <div id="location-details" class="hidden">
              <div class="form-group">
                <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                  <div class="input-group oneField field-container-D" id="tfa_1922-D">
                    <label id="tfa_1922-L" class="form-label r-margin preField reqMark" for="tfa_1922">Street</label>
                  </div>
                </div>
                <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                  <input type="text" id="tfa_1922" name="tfa_1922" value="" aria-required="true" title="Street Address" class="form-input required" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                  <div class="input-group oneField field-container-D" id="tfa_1923-D">
                    <label id="tfa_1923-L" class="form-label r-margin preField reqMark" for="tfa_1923">Town/city</label>
                  </div>
                </div>
                <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                  <input type="text" id="tfa_1923" name="tfa_1923" value="" aria-required="true" title="Town/City" class="form-input required" required>
                </div>
              </div>
              <div class="form-group">
                <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                  <div class="input-group oneField field-container-D" id="tfa_1884-D">
                    <label id="tfa_1884-L" class="form-label r-margin preField reqMark" for="tfa_1884">Local authority</label>
                  </div>
                </div>
                <div class="column col-3 col-xl-8 col-lg-7 col-md-6 col-md-12">
                  <input type="text" id="tfa_1884" name="tfa_1884" title="Local Authority" class="form-input" disabled />
                  {{!-- <select id="tfa_1884" name="tfa_1884" title="Local Authority" aria-required="true" class="required">
                    <option value=""></option>
                    <option value="tfa_1888" id="tfa_1888" class="">Aberdeen</option>
                    <option value="tfa_1889" id="tfa_1889" class="">Aberdeenshire</option>
                    <option value="tfa_1890" id="tfa_1890" class="">Angus</option>
                    <option value="tfa_1891" id="tfa_1891" class="">Argyll and Bute</option>
                    <option value="tfa_1893" id="tfa_1893" class="">Clackmannanshire</option>
                    <option value="tfa_1895" id="tfa_1895" class="">Dumfries and Galloway</option>
                    <option value="tfa_1896" id="tfa_1896" class="">Dundee</option>
                    <option value="tfa_1897" id="tfa_1897" class="">East Ayrshire</option>
                    <option value="tfa_1898" id="tfa_1898" class="">East Dunbartonshire</option>
                    <option value="tfa_1899" id="tfa_1899" class="">East Lothian</option>
                    <option value="tfa_1900" id="tfa_1900" class="">East Renfrewshire</option>
                    <option value="tfa_1892" id="tfa_1892" class="">Edinburgh</option>
                    <option value="tfa_1901" id="tfa_1901" class="">Falkirk</option>
                    <option value="tfa_1902" id="tfa_1902" class="">Fife</option>
                    <option value="tfa_1903" id="tfa_1903" class="">Glasgow</option>
                    <option value="tfa_1904" id="tfa_1904" class="">Highland</option>
                    <option value="tfa_1905" id="tfa_1905" class="">Inverclyde</option>
                    <option value="tfa_1906" id="tfa_1906" class="">Midlothian</option>
                    <option value="tfa_1907" id="tfa_1907" class="">Moray</option>
                    <option value="tfa_1894" id="tfa_1894" class="">Na h-Eileanan Siar</option>
                    <option value="tfa_1908" id="tfa_1908" class="">North Ayrshire</option>
                    <option value="tfa_1909" id="tfa_1909" class="">North Lanarkshire</option>
                    <option value="tfa_1910" id="tfa_1910" class="">Orkney</option>
                    <option value="tfa_1911" id="tfa_1911" class="">Perth and Kinross</option>
                    <option value="tfa_1912" id="tfa_1912" class="">Renfrewshire</option>
                    <option value="tfa_1913" id="tfa_1913" class="">Scottish Borders</option>
                    <option value="tfa_1914" id="tfa_1914" class="">Shetland</option>
                    <option value="tfa_1915" id="tfa_1915" class="">South Ayrshire</option>
                    <option value="tfa_1916" id="tfa_1916" class="">South Lanarkshire</option>
                    <option value="tfa_1917" id="tfa_1917" class="">Stirling</option>
                    <option value="tfa_1918" id="tfa_1918" class="">West Dunbartonshire</option>
                    <option value="tfa_1919" id="tfa_1919" class="">West Lothian</option>
                    <option value="tfa_1920" id="tfa_1920" class="" value="Scotland Wide">Scotland-wide</option>
                  </select> --}}
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset id="tfa_1880" class="section">
          <div id="contact-details" class="hidden">
            <h3 id="tfa_1880-L">Primary contact</h3>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1958-D">
                  <label id="tfa_1958-L" class="form-label r-margin preField reqMark" for="tfa_1958">Job title</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1958" name="tfa_1958" value="" aria-required="true" title="Job Title" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1-D">
                  <label id="tfa_1-L" class="form-label r-margin preField reqMark" for="tfa_1">First name</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1" name="tfa_1" value="" aria-required="true" title="First Name" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1875-D">
                  <label id="tfa_1875-L" class="form-label r-margin preField reqMark" for="tfa_1875">Last name</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1875" name="tfa_1875" value="" aria-required="true" title="Last Name" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1932-D">
                  <label id="tfa_1932-L" class="form-label r-margin preField reqMark" for="tfa_1932">Email</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1932" name="tfa_1932" value="" aria-required="true" title="Email" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1949-D">
                  <label id="tfa_1949-L" class="form-label r-margin preField reqMark" for="tfa_1949">Mobile phone</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1949" name="tfa_1949" value="" aria-required="true" title="Mobile Phone" class="form-input required" required>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1950-D">
                  <label id="tfa_1950-L" class="form-label r-margin preField" for="tfa_1950">Work phone</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <input type="text" id="tfa_1950" name="tfa_1950" value="" title="Work Phone" class="form-input">
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset id="tfa_1882" class="section">
          <div id="interest-details" class="hidden">
            <h3 id="tfa_1882-L">Interest details</h3>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1959-D">
                  <label id="tfa_1959-L" class="form-label r-margin preField" for="tfa_1959">
                    Main types of support
                  </label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <select id="tfa_1959" name="tfa_1959" title="Main Types of Support" class="form-select">
                  <option value="" required>Please select&hellip;</option>
                  <option value="tfa_1960" id="tfa_1960" required>Emotional of social support</option>
                  <option value="tfa_1961" id="tfa_1961" required>Food / grocery delivery</option>
                  <option value="tfa_1962" id="tfa_1962" required>Mutual aid</option>
                  <option value="tfa_1963" id="tfa_1963" required>Transportation</option>
                  <option value="tfa_1964" id="tfa_1964" required>Information and advice</option>
                  <option value="tfa_1965" id="tfa_1965" required>Other</option>
                </select>
              </div>
            </div>
            <div class="form-group hidden" id="support-other-field">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1967-D">
                  <label id="tfa_1967-L" class="form-label r-margin preField reqMark" for="tfa_1967">Other support</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <textarea aria-required="true" id="tfa_1967" name="tfa_1967" placeholder="" title="Other support" class="form-input required" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1878-D">
                  <label id="tfa_1878-L" class="form-label r-margin preField reqMark" for="tfa_1878">Interest</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <textarea aria-required="true" id="tfa_1878" name="tfa_1878" placeholder="Express your interest here" title="Interest" class="form-input required" required></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="input-group oneField field-container-D" id="tfa_1969-D">
                  <label id="tfa_1969-L" class="form-label r-margin preField reqMark" for="tfa_1969">Areas covered</label>
                </div>
              </div>
              <div class="column col-6 col-xl-8 col-lg-7 col-md-6 col-md-12">
                <textarea aria-required="true" id="tfa_1969" name="tfa_1969" placeholder="Express your interest here" title="Areas covered" class="form-input required" required></textarea>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="actions" id="4815763-A">
          <input type="submit" data-label="Submit" class="primaryAction btn btn-primary hidden" id="submit_button" value="Submit">
        </div>
        <div style="clear:both;"></div>
        <input type="hidden" id="tfa_1941" name="tfa_1941" value="" title="Scottish Charity Number">
        <input type="hidden" id="tfa_1944" name="tfa_1944" value="" title="Constitutional Form">
        <input type="hidden" id="tfa_1946" name="tfa_1946" value="" title="Charity Status">
        <input type="hidden" id="tfa_1936" name="tfa_1936" value="" title="Constituency">
        <input type="hidden" id="tfa_1934" name="tfa_1934" value="" title="Ward">
        <input type="hidden" id="tfa_1953" name="tfa_1953" value="" title="SIMD datazone">
        <input type="hidden" id="tfa_1955" name="tfa_1955" value="" title="SIMD rank">
        <input type="hidden" id="tfa_1957" name="tfa_1957" value="" title="NHS Health Board">
        <input type="hidden" value="4815763" name="tfa_dbFormId" id="tfa_dbFormId">
        <input type="hidden" value="" name="tfa_dbResponseId" id="tfa_dbResponseId">
        <input type="hidden" value="5a9db286c2f6d83f6cf706b1d57cb120" name="tfa_dbControl" id="tfa_dbControl">
        <input type="hidden" value="13" name="tfa_dbVersionId" id="tfa_dbVersionId">
        <input type="hidden" value="" name="tfa_switchedoff" id="tfa_switchedoff">
      </form>
    </div>
  </div>
</div>
{{!-- <div class="wFormFooter">
<p class="supportInfo">
<a target="new" class="gdprLink" href="https://www.formassembly.com/gdpr-rights">Your Rights Under GDPR</a>
</p>
</div> --}}

{{{{raw}}}}
<script data-component-config="typeahead-oscr" type="javascript/blocked">
{
  typeaheadOptions: {
    highlight: true,
    hint: true,
    minlength: 1,
    limit: 5
  },
  itemSelectedTasks: [
    {
      type: "elementManipulator",
      config: {
        ">.tt-input": { value: { __pointer: "metadata.suggestion.charity_number" } },
        "#tfa_1925": { value: { __pointer: "metadata.suggestion.postcode" } },
        "#oscr_validation_icon": { removeClass: ["text-error", "fa-times"], addClass: ["text-success", "fa-check"] },
        "#tfa_1876": { value: { __pointer: "metadata.suggestion.charity_name" } },
        "#tfa_1941": { value: { __pointer: "metadata.suggestion.charity_number" } },
        "#tfa_1944": { value: { __pointer: "metadata.suggestion.constitutional_form" } },
        "#tfa_1946": { value: { __pointer: "metadata.suggestion.charity_status" } },
        "#tfa_1969": { value: { __pointer: "metadata.suggestion.main_operating_location" } },
        "#tfa_1930": { value: { __pointer: "metadata.suggestion.website" } },
        "#tfa_1957": { value: { __pointer: "metadata.suggestion.geo.nhs_ha" } },
        "#organisation-details": { removeClass: "hidden" }
      }
    },
    {
      type: "elementManipulator",
      config: {
        ">.tt-menu": { styles: { display: "none !important" } }
      }
    },
    "postcode-lookup",
    {
      type: "run",
      config: { code: "document.getElementById('tfa_1876').focus();" }
    }
  ],
  nothingSelectedTasks: [
    {
      type: "switch",
      config: {
        which: {
          __template: "\{{#if metadata.currentRemoteData.[0]}}selectFirst\{{/if}}"
        },
        branches: {
          default: {
            tasks: [
              {
                type: "run",
                config: { code: "metadata.instance.clearSelection()" }
              },
              {
                type: "elementManipulator",
                config: {
                  "#oscr_validation_icon": { addClass: ["text-error", "fa-times"], removeClass: ["text-success", "fa-check"] }
                }
              }
            ]
          },
          selectFirst: {
            tasks: [
              {
                type: "run",
                config: { code: "console.log('DATA LOADED SO SELECTING FIRST', metadata.currentRemoteData)" }
              },
              {
                type: "run",
                config: { code: "metadata.instance.typeaheadSelect(metadata.event, metadata.currentRemoteData[0])" }
              }
            ]
          }
        }
      }
    }
  ],
  datasets: [
    {
      name: "oscr_lookup",
      display: "charity_number",
      templates: { header: "" },
      bloodhound: {
        datumTokenizer: "objWhitespace",
        datumTokenizerField: "charity_number",
        queryTokenizer: "whitespace",
        remote: {
          url: "/oscr-lookup?q=*",
          wildcard: "*"
        }
      }
    },
  ],
  clearIfNothingSelected: true
}
</script>

<script data-component-config="postcode-lookup" type="javascript/blocked">
  {
    blur: { tasks: ["postcode-lookup"] },
    keyup: { tasks: ["postcode-lookup"] }
  }
</script>
<script data-task="postcode-lookup" type="javascript/blocked">
{
  type: "multiTask",
  config: {
    tasks: [
      {
        type: "switch",
        config: {
          which: { __template: "{{#regexMatch (jquery '#tfa_1925' 'val') '[a-z]{1,2}[0-9]{1,2}[a-z]?\\s?[0-9][a-z]{2}' 'ig'}}check{{/regexMatch}}" },
          branches: {
            default: {
              tasks: [
                {
                  type: "elementManipulator",
                  config: {
                    "#postcode_validation_icon": {
                      addClass: [ "fa-times", "text-error" ],
                      removeClass: [ "loading", "fa-check", "text-primary", "text-success" ]
                    },
                    "#tfa_1884": {
                      value: ""
                    },
                    "#tfa_1936": {
                      value: ""
                    },
                    "#nuts_3": {
                      value: ""
                    },
                    "#tfa_1934": {
                      value: ""
                    },
                    "#tfa_1953": {
                      value: ""
                    },
                    "#tfa_1955": {
                      value: ""
                    },
                    "#tfa_1923": {
                      value: ""
                    },
                    "#postcode_validation_message": {
                      contents: { __template: "" }
                    },
                    "#postcode-wrapper": {
                      removeClass: [ "has-error" ],
                    }
                  }
                }
              ]
            },
            check: {
              __doNotCompile: true,
              tasks: [
                {
                  type: "elementManipulator",
                  config: {
                    "#postcode_validation_icon": {
                      addClass: [ "loading", "text-primary" ],
                      removeClass: [ "fa-check", "fa-times", "text-error", "text-success" ]
                    }
                  }
                },
                {
                  name: "postcodeLookup",
                  type: "request",
                  config: { url: { __template: "/postcode-lookup?q={{jquery '#tfa_1925' 'val'}}" } }
                },
                {
                  __doNotCompile: true,
                  type: "switch",
                  config: {
                    which: { __template: "{{#any data.postcodeLookup}}found{{/any}}" },
                    branches: {
                      default: {
                        tasks: [
                          {
                            type: "elementManipulator",
                            config: {
                              "#tfa_1884": {
                                value: ""
                              },
                              "#tfa_1936": {
                                value: ""
                              },
                              "#tfa_1934": {
                                value: ""
                              },
                              "#tfa_1953": {
                                value: ""
                              },
                              "#tfa_1955": {
                                value: ""
                              },
                              "#tfa_1923": {
                                value: ""
                              },
                              "#postcode_validation_message": {
                                contents: { __template: "" }
                              },
                              "#postcode-wrapper": {
                                removeClass: [ "has-error" ],
                              },
                              "#postcode_validation_icon": {
                                addClass: [ "fa-times", "text-error" ],
                                removeClass: [ "loading", "fa-check", "text-primary", "text-success" ]
                              }
                            }
                          }
                        ]
                      },
                      found: {
                        tasks: [
                          {
                            __doNotCompile: true,
                            type: "switch",
                            config: {
                              which: { __template: "{{#eq data.postcodeLookup.[0].country 'Scotland'}}scotland{{/eq}}" },
                              branches: {
                                default: {
                                  tasks: [
                                    {
                                      type: "elementManipulator",
                                      config: {
                                        "#tfa_1884": {
                                          value: ""
                                        },
                                        "#tfa_1936": {
                                          value: ""
                                        },
                                        "#tfa_1934": {
                                          value: ""
                                        },
                                        "#tfa_1953": {
                                          value: ""
                                        },
                                        "#tfa_1955": {
                                          value: ""
                                        },
                                        "#tfa_1923": {
                                          value: ""
                                        },
                                        "#postcode_validation_message": {
                                          contents: { __template: "Please enter a postcode in Scotland" }
                                        },
                                        "#postcode-wrapper": {
                                          addClass: [ "has-error" ],
                                        },
                                        "#postcode_validation_icon": {
                                          addClass: [ "fa-times", "text-error" ],
                                          removeClass: [ "loading", "fa-check", "text-primary", "text-success" ]
                                        }
                                      }
                                    }
                                  ]
                                },
                                scotland: {
                                  tasks: [
                                    {
                                      type: "elementManipulator",
                                      config: {
                                        ">": {
                                          value: { __template: "{{{data.postcodeLookup.[0].place}}}" }
                                        },
                                        "#tfa_1884": {
                                          value: { __template: "{{{data.postcodeLookup.[0].local_authority}}}" }
                                        },
                                        "#tfa_1936": {
                                          value: { __template: "{{{data.postcodeLookup.[0].constituency}}}" }
                                        },
                                        "#tfa_1934": {
                                          value: { __template: "{{{data.postcodeLookup.[0].ward}}}" }
                                        },
                                        "#tfa_1953": {
                                          value: { __template: "{{{data.postcodeLookup.[0].simd_datazone}}}" }
                                        },
                                        "#tfa_1955": {
                                          value: { __template: "{{{data.postcodeLookup.[0].simd_rank}}}" }
                                        },
                                        "#tfa_1923": {
                                          value: { __template: "{{{data.postcodeLookup.[0].nuts_3}}}" }
                                        },
                                        "#postcode_validation_message": {
                                          contents: { __template: "" }
                                        },
                                        "#postcode-wrapper": {
                                          removeClass: [ "has-error" ]
                                        },
                                        "#location-details": {
                                          removeClass: "hidden"
                                        },
                                        "#contact-details": {
                                          removeClass: "hidden"
                                        },
                                        "#interest-details": {
                                          removeClass: "hidden"
                                        },
                                        "#postcode_validation_icon": {
                                          addClass: [ "fa-check", "text-success" ],
                                          removeClass: [ "loading", "fa-times", "text-primary", "text-error" ]
                                        },
                                        "#submit_button": {
                                          removeClass: "hidden"
                                        }
                                      }
                                    }
                                  ]
                                }
                              }
                            }
                          }
                        ]
                      }
                    }
                  }
                }
              ]
            }
          }
        }
      }
    ]
  }
}
</script>
{{{{/raw}}}}
