<script type="text/javascript" src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="https://github.com/douglascrockford/JSON-js/raw/master/json2.js"></script>

<script type="text/javascript">
// JSON to CSV Converter
function ConvertToCSV(objArray) {
  var array = typeof objArray != 'object' ? JSON.parse(objArray): objArray;
  var str = '';

  var line = '';
  for (var index in array[0]) {
    if (line != '') line += ','
    line += index;
  }
  str += line + '\r\n';

  for (var i = 0; i < array.length; i++) {
    var line = '';
    for (var index in array[i]) {
      if (line != '') line += ','
      line += array[i][index];
    }
    str += line + '\r\n';
  }

  return str;
}
// Example
$(document).ready(function () {
  // Create Object
  var items = [
    {{#ifAll @root.request.params.query.date_start @root.request.params.query.date_end ~}}
    {{#each (keyValue @root.data.allResponses) ~}}
    {{#ifAll (compare value.site "housing") (compare (momentFormat (moment value.date_last_modified "YYYY-MM-DDTHH:mm:ssZ") "YYYYMMDD") ">=" (replace @root.request.params.query.date_start '-' '')) (compare (momentFormat (moment value.date_last_modified "YYYY-MM-DDTHH:mm:ssZ") "YYYYMMDD") "<=" (replace @root.request.params.query.date_end '-' '')) ~}}
    {
      "site": {{#if value.site}}{{{safeStringify value.site}}}{{else}}""{{/if}},
      "rid": {{#ifAny key value.rid}}{{{safeStringify (default value.rid key)}}}{{else}}""{{/ifAny}},
      "sid": {{#if value.sid}}{{{safeStringify value.sid}}}{{else}}""{{/if}},
      "email": {{#if value.email}}{{{safeStringify value.email}}}{{else}}""{{/if}},
      "name": {{#if value.name}}{{{safeStringify value.name}}}{{else}}""{{/if}},
      "organisation": {{#if value.organisation}}{{{safeStringify value.organisation}}}{{else}}""{{/if}},
      "postcode": {{#if value.postcode}}{{{safeStringify value.postcode}}}{{else}}""{{/if}},
      "area": {{#if value.area}}{{{safeStringify value.area}}}{{else}}""{{/if}},
      "income_band": {{#if value.income_band}}{{{safeStringify value.income_band}}}{{else}}""{{/if}},
      "topic": {{#if value.topic}}{{{safeStringify value.topic}}}{{else}}""{{/if}},
      "next_project": {{#if value.next_project}}{{{safeStringify (replace (replace value.next_project '\n' ' ') ',' ' ')}}}{{else}}""{{/if}},
      "barriers": {{#if value.barriers}}{{{safeStringify (replace (replace value.barriers '\n' ' ') ',' ' ')}}}{{else}}""{{/if}},
      "support": {{#if value.support}}{{value.support}}{{else}}false{{/if}},
      {{#each (split 'section-1-q1 section-1-q2 section-1-q3 section-1-q4 section-2-q1 section-2-q2 section-2-q3 section-2-q4 section-2-q5 section-2-q6 section-2-q7 section-2-q8 section-3-q1 section-3-q2 section-4-q1 section-4-q2 section-4-q3 section-4-q4 section-4-q5 section-5-q1 section-5-q2 section-6-q1 section-6-q2 section-6-q3' ' ') ~}}
      {{#each (filter (keyValue ../value) "key" "testIn" this) ~}}
      {{#if value ~}}
      {{{safeStringify key}}}: {{{safeStringify (replace (replace value '\n' ' ') ',' ' ')}}},
      {{else}}
      {{{safeStringify key}}}: "",
      {{/if}}
      {{/each ~}}
      {{/each ~}}
      "percentage_tools_and_equipment": {{#if value.percentage_tools_and_equipment}}{{value.percentage_tools_and_equipment}}{{else}}0{{/if}},
      "percentage_leadership_culture_and_skills": {{#if value.percentage_leadership_culture_and_skills}}{{value.percentage_leadership_culture_and_skills}}{{else}}0{{/if}},
      "percentage_tools_and_equipment": {{#if value.percentage_tools_and_equipment}}{{value.percentage_tools_and_equipment}}{{else}}0{{/if}},
      "percentage_content_marketing_and_data": {{#if value.percentage_content_marketing_and_data}}{{value.percentage_content_marketing_and_data}}{{else}}0{{/if}},
      "percentage_cyber_resilience": {{#if value.percentage_cyber_resilience}}{{value.percentage_cyber_resilience}}{{else}}0{{/if}},
      "percentage_tec": {{#if value.percentage_tec}}{{value.percentage_tec}}{{else}}0{{/if}},
      "percentage_total": {{#if value.percentage_total}}{{value.percentage_total}}{{else}}0{{/if}},
      "date_last_modified": {{#if value.date_last_modified}}{{{safeStringify value.date_last_modified}}}{{else}}""{{/if}}
    },
    {{/ifAll ~}}
    {{/each ~}}
    {}
    {{/ifAll ~}}
  ];

  // Convert Object to JSON
  var jsonObject = JSON.stringify(items);

  // // Display JSON
  // $('#json').text(jsonObject);

  // Convert JSON to CSV & Display CSV
  $('#csv').attr('href', 'data:application/csv;charset=utf-8,'+encodeURI(ConvertToCSV(jsonObject)));
});
</script>

<div class="container-fluid">
  <div class="container-content">
    {{!-- <h1>JSON</h1>
    <pre id="json"></pre> --}}
    <h1>Export of checkup data for SFHA</h1>
    {{#ifAll @root.request.params.query.date_start @root.request.params.query.date_end ~}}
    <a download="sfha-checkup-export.csv" href="#" id="csv" class="mdc-button mdc-button--raised b-margin-full">Download CSV</a>
    <div class="b-margin-full">
      <a href="/checkup/results-export">Change date range</a>
    </div>
    {{else}}
    <form action="/checkup/results-export" method="GET" class="b-margin-full">
      <div class="form-group b-margin">
        <label class="form-label" for="date_start">Start date</label>
        <input class="form-input" type="date" name="date_start" id="date_start" value="{{momentFormat (moment (dateMath 'now-7d') 'x') 'YYYY-MM-DD'}}" />
      </div>
      <div class="form-group b-margin">
        <label class="form-label" for="date_end">End date</label>
        <input class="form-input" type="date" name="date_end" id="date_end" value="{{momentFormat (moment now) 'YYYY-MM-DD'}}" />
      </div>
      <input type="submit" value="Submit" class="mdc-button mdc-button--raised" />
    </form>
    {{/ifAll ~}}
  </div>
</div>