<div class="page">
  <div class="container-fluid">
    <ul class="breadcrumbs" aria-hidden="true">
      <li><a href="/">Home</a></li>
      <li><a href="/scottish-charity-awards">Scottish Charity Awards</a></li>
      <li><a href="/scottish-charity-awards/finalists-2019">Categories</a></li>
      <li><a href="/scottish-charity-awards/finalists-2019/{{@root.request.params.category}}">{{{getProperty @root.route.metaData.awards-info (concat @root.request.params.category ".title")}}}</a></li>
      {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
        <li>{{{title}}}</li>
      {{/with ~}}
    </ul>
  </div>
  {{> headers_splash_charity_awards title=@root.data.primaryResponse.hits.hits.[0]._source.title}}
  <div class="container-fluid">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-9-desktop mdc-layout-grid__cell--span-5-tablet mdc-layout-grid__cell--span-4-phone content page-content b-margin-full">
          {{#with @root.data.primaryResponse.hits.hits.[0]._source ~}}
            {{#if image_url}}
              <div class="pull-right l-margin-full b-margin-full t-margin-full charity-awards-image hide-sm hide-md">
                <img src="{{image_url}}" />
              </div>
            {{/if}}
            <div class="v-margin-full">
              {{{content}}}
            </div>
            {{#if image_url}}
              <div class="v-margin-full charity-awards-image hide-lg">
                <img src="{{image_url}}" />
              </div>
            {{/if}}
          {{/with ~}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-3-tablet mdc-layout-grid__cell--span-4-phone sidebar page-sidebar">
          {{> menus_charity_awards}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  gtag('event', 'charity-awards-2019-hit', {
    event_category: 'entrant',
    event_label: {{{stringify (default @root.request.params.vote 'unknown')}}}
  });
</script>