<div class="latest-content bg-white t-margin">
  <div class="container">
    <div class="columns">
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3">
              Latest press release
              <a href="/press-media" class="caption l-margin">See more</a>
            </div>
          </div>
          <div class="card-body">
            {{#with @root.data.supplimentaryResponses.press_latest.hits.hits.[0]._source ~}}
            <h4>{{{trim title}}}</h4>
            <p>
              {{{truncate description 320}}}
              <a href="{{replace post_slug '_' '/'}}">Read more</a>
            </p>
            {{/with ~}}
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3">
              Latest blog post
              <a href="/blogs" class="caption l-margin">See more</a>
            </div>
          </div>
          <div class="card-body">
            {{#with @root.data.supplimentaryResponses.blogs_latest.hits.hits.[0]._source ~}}
            <h4>{{{trim title}}}</h4>
            <p>
              {{{truncate description 280}}}
              <a href="{{replace post_slug '_' '/'}}">Read more</a>
            </p>
            <p>
              <span class="text-primary r-margin"><a href="/post/author/{{author_slug}}" class="author">{{{author_name_full}}}</a></span>
              {{momentFormat (moment publish_on 'x') 'Do MMMM YYYY'}}
            </p>
            {{/with ~}}
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3">Become a member</div>
          </div>
          <div class="card-body">
            Our community of {{addCommas @root.data.supplimentaryResponses.members_total.hits.total}} members believe that charities, community groups, social enterprises and
            voluntary organisations help make Scotland a better place; and our shared voice has the power and
            influence to tackle pressing issues, and create a better future for the people and communities we care about.
          </div>
          <div class="card-footer">
            <a href="/services/membership" class="btn btn-primary btn-lg">SCVO membership</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="promoted-content v-padding-full">
  <div class="container">
    <div class="columns">
      <div class="column col-6 col-md-12">
        {{> promoted_the_gathering}}
      </div>
      <div class="column col-6 col-md-12">
        {{> promoted_twenty_years}}
      </div>
    </div>
  </div>
</div>

<div class="useful-content">
  <div class="container">
    <div class="columns linked-cards">
      {{#compare @root.data.supplimentaryResponses.tfn_latest.hits.total ">" 0 ~}}
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3">
              Latest news story on TFN
              <a href="http://thirdforcenews.org.uk/?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic" class="caption l-margin">See more</a>
            </div>
          </div>
          {{#with @root.data.supplimentaryResponses.tfn_latest.hits.hits.[0]._source ~}}
          <div class="card-image" style="height: 137px; overflow: hidden;">
            <a href="{{url}}?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic"><img src="{{image_wide}}" alt="{{trim title}}" class="img-responsive" /></a>
          </div>
          <div class="card-body">
            <h4><a href="{{url}}?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">{{{trim title}}}</a></h4>
            {{!-- <a href="{{url}}?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">{{{trim title}}}</a> --}}
            <p>
              {{{truncate description 280}}}
              <a href="{{url}}?utm_source=Widget&utm_medium=Widget&utm_campaign=Widget-Traffic">Read more</a>
            </p>
          </div>
          {{/with ~}}
        </div>
      </div>
      {{/compare ~}}
      <div class="column col-4 col-md-12">
        <div class="card">
          <div class="card-header">
            <div class="card-title h3" style="padding-bottom: 0.8rem;">
              Featured campaign
              <a href="/projects-campaigns" class="caption l-margin">See more</a>
            </div>
            <div class="">
              {{> promoted_eu_are_valued}}
            </div>
          </div>
        </div>
      </div>
      <div class="column col-4 col-md-12">
        <div class="h3" style="padding-bottom: 0.8rem;">
          What can we help you with?
        </div>
        {{> site_search_form}}

        {{> useful_links}}
      </div>
    </div>
  </div>
</div>

<div class="scvo-services v-padding-full">
  <div class="container">
    <div class="columns">
      <div class="column col-8 col-md-12">
        <div class="b-margin-full">
          {{> adverts_office_space}}
        </div>
        <div class="">
          {{> adverts_payroll}}
        </div>
      </div>
      <div class="column col-4 col-md-12">
        {{> goodmoves_latest_jobs}}
      </div>
    </div>
  </div>
</div>

<div class="find-information-on v-padding-full bg-primary">
  <div class="container">
    <h2>
      Find information on&hellip;
    </h2>
    <div class="columns b-margin-full">
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/setting-up-a-charity" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-book fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Setting up an organisation</span>
          </a>
        </h4>
      </div>
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/funding" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-chart-bar fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Funding for my project</span>
          </a>
        </h4>
      </div>
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/events" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-graduation-cap fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Training courses &amp; events</span>
          </a>
        </h4>
      </div>
      <div class="column col-3 col-md-6 col-sm-12">
        <h4 class="text-center">
          <a href="/jobs" class="no-underline">
            <div class="icon-rouleaux" style="background-image:url('/rouleaux.svg?color=ffffff&style=solid');">
              <span class="icon fal fa-handshake fa-fw fa-2x" aria-hidden="true"></span>
            </div>
            <span class="title t-padding d-block">Jobs in the sector</span>
          </a>
        </h4>
      </div>
    </div>
  </div>
</div>