<div class="page">
  {{> headers_splash}}
  <div class="container-fluid content page-content">
    {{> breadcrumbs}}
    <div class="mdc-layout-grid linked-cards support support-policy v-margin">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          {{{@root.data.primaryResponse.hits.hits.[0]._source.rendered.scvo_full}}}
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card v-margin">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/projects-campaigns"><span class="fal fa-fw fa-flag fa-2x"> </span>Campaigns</a>
              </h1>
            </section>
            <!-- <section class="mdc-card__supporting-text">
              Learn more about our campaigns
            </section> -->
            <section class="mdc-card__actions">
              <ul>
                <li>
                  <a class="mdc-card__action" href="/projects-campaigns">Find out more about our campaigns</a>
                </li>
                <li>
                  <a class="mdc-card__action" href="/projects-campaigns/i-love-charity/sector-stats">View the latest sector stats</a>
                </li>
              </ul>
            </section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card v-margin">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/policy-research/events"><span class="fal fa-fw fa-chalkboard-teacher fa-2x"> </span>Events</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              {{#with @root.data.supplimentaryResponses.events_total.hits ~}}
              {{#compare total ">" 0 ~}}
              We have {{total}} upcoming event{{#compare total ">" 1}}s{{/compare}}
              {{else}}
              We don't have any upcoming events
              {{/compare ~}}
            </section>
            {{#compare total ">" 0 ~}}
            <section class="mdc-card__actions">
              <a class="mdc-card__action" href="/policy-research/events">Find out more</a>
            </section>
            {{/compare ~}}
            {{/with ~}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid content page-content">
    <div class="mdc-layout-grid latest-content">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>Briefings</h3>

          {{#if @root.data.supplimentaryResponses.latest_briefings.hits.hits ~}}
          {{{@root.data.supplimentaryResponses.latest_briefings.hits.hits.[0]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.latest_briefings.hits.hits.[1]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.latest_briefings.hits.hits.[2]._source.rendered.scvo_gist}}}
          {{/if ~}}

          <a href="/policy-research/briefings" class="v-margin">More briefings</a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <h3>Consultation responses</h3>

          {{#if @root.data.supplimentaryResponses.latest_consultation_responses.hits.hits ~}}
          {{{@root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[0]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[1]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.latest_consultation_responses.hits.hits.[2]._source.rendered.scvo_gist}}}
          {{/if ~}}

          <a href="/policy-research/consultation-responses" class="v-margin">More consultation responses</a>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone no-border">
          <h3>Research</h3>

          {{#if @root.data.supplimentaryResponses.latest_research.hits.hits ~}}
          {{{@root.data.supplimentaryResponses.latest_research.hits.hits.[0]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.latest_research.hits.hits.[1]._source.rendered.scvo_gist}}}
          {{{@root.data.supplimentaryResponses.latest_research.hits.hits.[2]._source.rendered.scvo_gist}}}
          {{/if ~}}

          <a href="/policy-research/research" class="v-margin">More research</a>
        </div>
      </div>
    </div>
  </div>

  {{> sector_stats}}

  <div class="container-fluid content page-content">
    <div class="mdc-layout-grid linked-cards equal-height support support-policy">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/policy-research/evidence-library"><span class="fal fa-fw fa-folder-open fa-2x"> </span>Evidence Library</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              A resource for anyone interested in learning about the voluntary sector in Scotland
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/policy-research/evidence-library">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/policy-research/policy-forum"><span class="fal fa-fw fa-comments fa-2x"> </span>Policy Forum</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              Advising us on policies which reflect the best interests of the voluntary sector in Scotland
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/policy-research/policy-forum">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="https://wiki.scvo.org" target="_blank" rel="noopener"><span class="fal fa-fw fa-file-edit fa-2x"> </span>Policy wiki</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              Collaborate with us to develop civil society policy perspectives for Scotland.
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="https://wiki.scvo.org" target="_blank" rel="noopener">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/policy-research/positive-partnerships"><span class="fal fa-fw fa-handshake-alt fa-2x"> </span>Positive partnerships</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              We recently asked our members and those working in charities, voluntary groups and social enterprises across Scotland to share any successful partnership projects they have with the public sector.
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/policy-research/positive-partnerships">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="/policy-research/intermediaries"><span class="fal fa-fw fa-retweet fa-2x"> </span>Intermediaries</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              Details on everything from our intermediaries network to resources and directories for those working in intermediary bodies.
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="/policy-research/intermediaries">Find out more</a></section>
          </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-4-tablet mdc-layout-grid__cell--span-4-phone">
          <div class="mdc-card">
            <section class="mdc-card__primary">
              <h1 class="mdc-card__title mdc-card__title--large">
                <a href="https://app.powerbi.com/view?r=eyJrIjoiYzk1NTg3YmYtODU4Mi00ZjM4LWJiNjgtMjYxMjAxYmY3ZWVhIiwidCI6ImMyOTQ5NGY5LTNhY2EtNGE3MS05NWUyLWM4ODBjNWE1ZThmOSIsImMiOjh9" target="_blank" rel="noopener"><span class="fal fa-fw fa-book-heart fa-2x"> </span>SCVO Core Grant Plan 2018-20</a>
              </h1>
            </section>
            <section class="mdc-card__supporting-text">
              We work in a strategic partnership with the Scottish Government to support, develop and promote the voluntary sector in Scotland.
            </section>
            <section class="mdc-card__actions"><a class="mdc-card__action" href="https://app.powerbi.com/view?r=eyJrIjoiYzk1NTg3YmYtODU4Mi00ZjM4LWJiNjgtMjYxMjAxYmY3ZWVhIiwidCI6ImMyOTQ5NGY5LTNhY2EtNGE3MS05NWUyLWM4ODBjNWE1ZThmOSIsImMiOjh9" target="_blank" rel="noopener">Find out more</a></section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>