<item>
  <title>{{{title}}}</title>
  <description>{{{truncate description 280}}}</description>
  <link>https://scvo.scot/policy/evidence-library/{{slug}}</link>
  <guid isPermaLink="false">{{wpid}}</guid>
  <pubDate>{{momentFormat (moment year_published 'YYYY') "ddd, DD MMM YYYY hh:mm:ss"}} GMT</pubDate>
  <category>{{join library_classification ", "}}</category>
  <author>{{author_name}}</author>
</item>