{{#withExtend this hasPostcode=(if @root.data.accountInfo.local_authority true else=false)}}

<div class="form-horizontal form">
  <input type="hidden" name="email" value="{{@root.data.auth.email}}">
  {{!--
  Fake fields are a workaround for chrome autofill getting the wrong fields
  I don't know man, got it from here https://stackoverflow.com/a/15917221/98587
  --}}
  <input style="display:none" type="text" name="fakeusernameremembered"/>
  <input style="display:none" type="password" name="fakepasswordremembered"/>
  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label class="form-label" for="first_name">
        First name
      </label>
    </div>
    <div class="column col-9 col-xl-8 col-lg-7 col-md-6 col-md-12">
      <input class="form-input" id="first_name" name="first_name" type="text" value="{{@root.data.accountInfo.first_name}}" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.first_name}}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label class="form-label" for="last_name">
        Last name
      </label>
    </div>
    <div class="column col-9 col-xl-8 col-lg-7 col-md-6 col-md-12">
      <input class="form-input" id="last_name" name="last_name" type="text" value="{{@root.data.accountInfo.last_name}}" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.last_name}}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label class="form-label" for="phone">
        Phone number (optional)
      </label>
    </div>
    <div class="column col-9 col-xl-8 col-lg-7 col-md-6 col-md-12">
      <input class="form-input" id="phone" name="phone" type="text" value="{{@root.data.accountInfo.phone}}" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.phone}}>
    </div>
  </div>

  <h3>Linked organisations</h3>

  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label for="organisation_name" class="form-label">
        Organisation
      </label>
    </div>
    <div class="column col-9 col-xl-8 col-lg-7 col-md-6 col-md-12">
      <div data-component="Typeahead" data-Typeahead="typeahead-organisation">
        <div class="has-icon-right">
          <input id="organisation_name" name="organisation_name" class="form-input" value="{{@root.data.accountInfo.organisation_name}}" autocomplete="nope" data-lpignore="true" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.organisation_name}}>
          <span class="form-icon far {{#if isMember}}fa-badge-check text-success{{else}}{{/if}}" id="member-validation-icon"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label class="form-label" for="title">
        Job title (optional)
      </label>
    </div>
    <div class="column col-9 col-xl-8 col-lg-7 col-md-6 col-md-12">
      <input class="form-input" id="title" name="title" type="text" value="{{@root.data.accountInfo.title}}" autocomplete="nope" data-lpignore="true" data-component="TasksTrigger" data-TasksTrigger="focus-next" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.title}}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label for="location" class="form-label">
        Location (optional)
      </label>
    </div>
    <div class="column col-9 col-xl-8 col-lg-7 col-md-6 col-md-12">
      <input id="location" name="location" class="form-input" value="{{@root.data.accountInfo.location}}" autocomplete="nope" data-lpignore="true" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.location}}>
    </div>
  </div>
  <div class="form-group">
    <div class="col-3 col-xl-4 col-lg-5 col-md-6 col-sm-12">
      <label for="organisation_charity_number" class="form-label r-margin">
        Scottish charity number (optional)
      </label>
    </div>
    <div class="column col-3 col-md-4 col-sm-5 col-xs-6">
      <div class="input-group">
        {{!-- <span class="input-group-addon">SC</span> --}}
        <input id="organisation_charity_number" name="organisation_charity_number" class="form-input" value="{{@root.data.accountInfo.organisation_charity_number}}" autocomplete="nope" data-lpignore="true" {{>form_validation_attributes @root.context.metaData.accountInfoValidation.organisation_charity_number}}>
      </div>
    </div>
  </div>
</div>

<div class="columns h-padding">
  <div class="column col-3 hide-sm"></div>
  <div class="column col-2">
    <button id="add_organisation" class="btn b-margin-full">
      Link another
    </button>
  </div>
</div>

<input type="hidden" name="external_id" value="{{@root.data.auth.uid}}" />

{{{{raw}}}}
<script data-component-config="typeahead-organisation" type="javascript/blocked">
{
  typeaheadOptions: {
    highlight: true,
    minlength: 3
  },
  datasets: [
    {
      name: "org_lookup",
      display: "title",
      bloodhound: {
        datumTokenizer: "objWhitespace",
        datumTokenizerField: "other",
        queryTokenizer: "whitespace",
        remote: {
          url: "/org-lookup?q=*",
          wildcard: "*"
        }
      }
    },
  ],
  clearIfNothingSelected: false,
  itemSelectedTasks: [
    {
      type: "elementManipulator",
      config: {
        ">.tt-input": { value: { __pointer: "metadata.suggestion.title" } },
        "#location": { value: { __pointer: "metadata.suggestion.location" } },
        "#member-validation-icon": {
          addClass: [ "fa-badge-check", "text-success" ],
          removeClass: [ "loading" ]
        },
        "#organisation_charity_number": { value: { __pointer: "metadata.suggestion.registered_charity_number" } }
      }
    },
    {
      type: "elementManipulator",
      config: {
        ">.tt-menu": { styles: { display: "none !important" } }
      }
    }
  ],
  nothingSelectedTasks: [
    {
      type: "elementManipulator",
      config: {
        "#location": { value: "" },
        "#member-validation-icon": {
          removeClass: [ "loading", "text-success", "fa-badge-check" ]
        },
        "#organisation_charity_number": { value: "" }
      }
    }
    // {
    //   type: "run",
    //   config: { code: "metadata.instance.clearSelection()" }
    // }
  ]
}
</script>
{{{{/raw}}}}

{{/withExtend}}